[2015-05-19 04:14] amjith opened #1 "Create an RPM package"
Create an RPM package for Redhat based systems.

[2015-05-19 04:14] amjith opened #2 "Create a DEB package"
Create a debian package for mycli.

[2015-05-19 04:15] amjith opened #3 "Create a new brew formula for mycli"
Create a brew formula for mycli and have it merged into the brew repo.

[2015-05-19 13:55] amjith opened #4 "Add completion support for views."
https://dev.mysql.com/doc/refman/5.0/en/views-table.html

[2015-05-19 16:25] ashchristopher opened #5 "Installation issues."
I ran the following

[code]

and received this error:

[code]

Where should we find the `pymysql` package? It isn't on pypi.

[2015-05-19 18:08] amjith opened #6 "Provide a way to specify password without prompting"
Right now the `-p` option does not take a password as a command line param. Instead it prompts for a password.

Provide an alternative way to specify the password. Perhaps using env vars.

I don't feel comfortable taking passwords via the command line args. But I'm open to other suggestions.

[2015-05-19 18:10] amjith opened #7 "Auto-prompt for password, if needed"
Try to catch the exception for a missing password and prompt for it.

Right now, if a database requires a password and a password wasn't provided, then we fail to launch. Instead mycli could auto-detect that a password is required and prompt for one.

[2015-05-19 18:21] johshoff opened #8 "Automatic reconnect to database"
This is more "wish list" than "critical".

One of my favorite things with the default mysql CLI is that it'll reconnect if it can't connect to the database.

Currently, in mycli it just times out and never reconnects:

[code]

Also, it's probably worth considering setting a lower connection timeout if this feature is implemented. It's quite high at the moment.

[2015-05-19 20:44] #5 closed, assigned to nobody

[2015-05-20 07:55] grooverdan opened #9 "using sql_yacc.yy to generate more complete keywords list"
select \* from mysql.help_keyword order by name;

[2015-05-20 08:09] grooverdan opened #11 "user defined function (UDF) list"
select name from mysql.func

[2015-05-20 15:06] #6 closed, assigned to nobody

[2015-05-20 15:55] #7 closed, assigned to nobody

[2015-05-20 17:48] shanemhansen opened #14 "Support for more `show` targets"
`show p` doesn't autocomplete to processlist. That's a fairly common command for power users.

[2015-05-20 17:50] shanemhansen opened #15 "Support for distinct aggregate"
`select dist` does not autocomplete `distinct`, but `select cou` autocompletes `count`. Assume this is because distinct isn't actually a function.

[2015-05-20 18:05] shanemhansen opened #16 "INTERVAL support"
When running:
[code]

expected INTERVAL keyword to be autocompleted.

[2015-05-21 04:39] jedy opened #17 "Support for my.cnf"
And please add support for mysql_config_editor's login path file if possible.

[2015-05-21 07:20] msztolcman opened #18 "Connection via ssh"
I don't know this is possible for current mycli architecture and libs, but many GUI tools have an option to connect via ssh to remote host, and then connect to local mysql. This is very useful, because often admins do not allow to connect to mysql from remote hosts, or only from specified address. And often do not want to install additional software (like mycli) on this kind of host :)

[2015-05-21 07:40] msztolcman opened #19 "connection via socket"
Allow to connect to db via socket, in mysql/mariadb it's accomplished using -S switch.

[2015-05-21 08:00] mblaschke opened #20 "Add profiling and performance information"
Show PROFILE statistics for each statement and also show last_query_cost.

PROFILE:
SET profiling = 1;
SHOW PROFILES;
SHOW PROFILE FOR QUERY 1;

QUERY COST:
show status like 'last_query_cost'

[2015-05-21 08:18] mblaschke opened #21 "Human readable timings"
Maybe it would it be better to show
"Format Time: 100 ms"
instead of
"Format Time: 0.1000"?

This is not really readable for most users:
Command Time: 2.59876251221e-05
Format Time: 0.000710010528564

Or put the human readable format after the time, eg. "0.1000 (100 ms)"

[2015-05-21 17:16] shanemhansen opened #22 "Support for storing multiple database credentials"
I've always hated the fact that mysql doesn't support the [.pgpass format](http://www.postgresql.org/docs/9.3/static/libpq-pgpass.html)

It looks like mysql has a kind of similar feature that can be activated using a [command line flag](http://dba.stackexchange.com/questions/3889/is-it-possible-to-have-passwords-configured-per-database-or-per-host-in-my-cnf) but that's kind of lame. Someday (not s

[2015-05-22 07:42] mysz opened #23 "confirming choice in autocomplete"
When mycli suggests me some choice (for example database name), i select one of them using cursors, and then press enter. This ends query and send it to mysql, but I only confirmed my choice... Is there availabilty to configure this behaviour?

[2015-05-23 02:04] #15 closed, assigned to nobody

[2015-05-25 11:32] #19 closed, assigned to nobody

[2015-05-25 11:42] msztolcman opened #24 "autocomplete: fuzzy search for tables/columns"
Idea: allow to fuzzy search when autocomplete databases/tables/columns. It helps a lot when there is many tables or columns with long names :)

Maybe also with some switch to enable/disable (at least in config file).

[2015-05-25 15:21] #21 closed, assigned to nobody

[2015-05-25 15:23] #14 closed, assigned to nobody

[2015-05-25 17:37] GhislainHivon opened #25 "\t do not work"
\t do not work as a shortcut for \timing
mysql> \t
(1064, u"You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '\t' at line 1")

\timing work.

On fedora 20 with 5.5.42-MariaDB

[2015-05-26 06:20] msztolcman opened #26 "reconnect: exception when do not want to reconnect"
I lost my connection to db, and mycli ask me for reconnect. I answered 'n', and:

[code]

It happen on `fuzzy_match` branch if it matter.

[2015-05-26 12:42] #25 closed, assigned to nobody

[2015-05-28 02:03] philip opened #27 "Add Documentation"
Surely already planned, but it's worth noting. Stealing the pgcli template might be enough :)

[2015-05-28 08:04] steverobbins opened #28 "\r shortcut does not work"
[code]

When using the `\r` shortcut to reconnect I got an error.  It should reconnect like the `connect` command.

[2015-05-28 10:25] fpietka opened #30 "Cancel a query then lost database connection"
When canceling a query, database is lost

<pre>
mysql> use ie3
Query OK, 0 rows affected
Command Time: 0.000s
Format Time: 0.000s
mysql> select * from newsletters;
^Ccancelled query
mysql> select * from newsletters;
(1046, u'No database selected')
</pre>

[2015-05-29 02:28] mikeerickson opened #33 "Error when attempting to install"
Receiving following issue when attempting to install

zsh: no matches found: git+https://github.com/dbcli/mycli.git#egg=mycli

here is a screenshot

http://d.pr/i/1iRVg

[2015-05-29 05:19] #28 closed, assigned to nobody

[2015-05-29 06:28] amjith opened #34 "Ctrl-C in a pager causes mycli to quit"
When the pager is active pressing Ctrl-C will quit mycli. This is because Click will raise an Abort exception and call sys.exit(1). We need to handle this http://click.pocoo.org/4/exceptions/

[2015-05-29 06:29] #26 closed, assigned to nobody

[2015-05-29 06:55] #30 closed, assigned to nobody

[2015-05-29 10:21] fpietka opened #35 "Make edit command default to previous query"
I am wondering, on psql when triggering `\e` on a new line, it will edit previous query. Here we have to append it to the query itself. Is that a design choice?
I must say that if not, I'd like to have that feature :grin:

[2015-05-29 14:02] amjith opened #36 "Replace ConfigParser with ConfigObj for handling config files."

[2015-05-29 15:20] HeathNaylor opened #37 "Autocomplete text hard to read"
I am using Ubuntu 14.04 with tmux for my terminal multiplexer.
![selection_040](https://cloud.githubusercontent.com/assets/10814256/7885927/f1bcb292-05e3-11e5-9eea-52750cb4c5e6.png)

[2015-05-29 15:24] HeathNaylor opened #38 "Smart Completion order not ideal"
When Smart Completion is showing it doesn't seem to take into account proximity to the beginning of the word into account. Ideally here `TABLES` would be showing first.

![selection_041](https://cloud.githubusercontent.com/assets/10814256/7886037/73664114-05e4-11e5-8db8-dfc0036074dc.png)

[2015-05-29 16:20] #33 closed, assigned to nobody

[2015-05-29 17:11] mikeerickson opened #39 "Error (new) during installation (using pip)"
Using the following command (working on a vagrant box)

<pre>
pip install git+ssh://git@github.com/dbcli/mycli.git
</pre>

I receive following errors

<pre>
Exception:
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/pip/basecommand.py", line 122, in main
    status = self.run(options, args)
  File "/usr/lib/python2.7/dist-packages/pip/commands/install.py", line 283, in

[2015-05-29 18:09] #39 closed, assigned to nobody

[2015-05-29 18:26] mikeerickson opened #41 "Unable to connect (mysql works fine)"
OK, past all the installation issues.  Now onto connection issues
- the following works (for standard mysql) so I know credentials are accurate

[code]
- when using

[code]

I receive following error

[code]

[2015-05-30 20:12] #36 closed, assigned to nobody

[2015-06-01 08:10] #11 closed, assigned to nobody

[2015-06-01 08:13] #8 closed, assigned to nobody

[2015-06-01 08:35] jedy opened #42 "no response for \G"
`\G` requests mysql client to display result vertically. It should be ignored if not support.

[2015-06-01 08:38] #42 closed, assigned to nobody

[2015-06-01 16:03] amjith opened #43 "Upgrade to latest prompt_toolkit"
Latest prompt_toolkit fixes an issue raised by fuzzy completion, makes paste faster and fixes a unicode issue in Windows.

Upgrading will require some api changes.

[2015-06-02 05:05] #17 closed, assigned to nobody

[2015-06-03 07:10] #43 closed, assigned to nobody

[2015-06-04 07:21] #37 closed, assigned to nobody

[2015-06-05 08:27] Ozzyboshi opened #44 "Missing AutoComplete with create table ... like"
When copying a MYSQL table i use the following syntax

create TABLE tabledest LIKE tablesource

this command creates a new table called tabledest based on the tablesource structure
It would be good if mycli offers AutoComplete suggestions searching the tables after the LIKE keyword
right now the suggestions are only : ACCESS, ADD, ALL, ALTER TABLE, AND, ANY and AS

Reported using mycli 0.1.0 on ub

[2015-06-06 01:46] amjith opened #45 "Add an option logging mode"
During the logging mode mycli will timestamp every query and the response to a file.

This is for you @johshoff.

[2015-06-07 03:35] #38 closed, assigned to nobody

[2015-06-07 03:36] #24 closed, assigned to nobody

[2015-06-09 15:42] amjith opened #47 "Change prompt to reflect the db instance type"
Right now mycli uses 'mysql>' as the prompt. This should be changed to 'mariadb>' or 'percona>' on their respective database servers.

It can be detected using `SELECT VERSION()` and parsing the string.

[2015-06-09 16:06] amjith opened #48 "Ability to customize prompt"
Hostname,
Instance type (master/slave),
DBName,
User

Are there other candidates for customizing prompts?

[2015-06-09 16:13] tanji opened #49 "Use of \G delimiter might cause display issues"
I noticed that mycli behavior with \G is slightly different from standard mysql client.
 In mysql client, the result header is fixed size, however in mycli it's variable size and can clutter the screen.

You really want to have that for long resultsets, for example try `SHOW ENGINE INNODB STATUS\G`

Thanks

[2015-06-10 01:07] #47 closed, assigned to nobody

[2015-06-10 07:15] #49 closed, assigned to nobody

[2015-06-10 18:54] FoxxMD opened #52 "Column overlaps on overflow"
When viewing a table with many columns the columns overflow to the next line and overlap with headers/other data. I don't have a good solution to this but it's not okay as is...

![screenshot 2015-06-10 14 47 01](https://cloud.githubusercontent.com/assets/4663766/8091128/fa2afbbe-0f7f-11e5-80a8-907b291bcd02.png)

[2015-06-11 01:13] #52 closed, assigned to nobody

[2015-06-11 10:36] msztolcman opened #53 "exception when queryset result in pager and lost connection"
In mycli, i send query with some results - about 30 items, so pager launch. After mysql has disconnected mycli, this exception was printed:

[code]

[2015-06-12 05:52] mysz opened #54 "queries history/favorites query"
In Sequel Pro, which I mentioned some time ago, is very nice feature: easily accesible history of queries, and favorites queries. I know that i have some kind of history using arrow up/down *when prompt is empty*, but this is very low usable - i can't search through it in any way (or in any way i know currently :) ).

Maybe some kind of "queries repositories" - where i can in simple way add query

[2015-06-12 06:46] #53 closed, assigned to nobody

[2015-06-14 18:02] #48 closed, assigned to nobody

[2015-06-18 20:42] j-bennet opened #55 "Add "repair table" keyword and completions."
This would be useful:
https://dev.mysql.com/doc/refman/5.1/en/repair-table.html

[2015-06-18 20:57] j-bennet opened #56 "Toolbar display problem with Tango in Terminal on Linux Mint 13."
With Multiline ON:

![mycli-toolbar-ok](https://cloud.githubusercontent.com/assets/637013/8241976/2b8d83c4-15c1-11e5-9ccc-026fd8315b25.png)

With Multiline OFF:

![mycli-toolbar-not-ok](https://cloud.githubusercontent.com/assets/637013/8241982/35795868-15c1-11e5-8320-e67cd125a9a9.png)

Here is my terminal setup:

![gnome-term](https://cloud.githubusercontent.com/assets/637013/8242060/d4a27bf4-15c1

[2015-06-21 16:34] #55 closed, assigned to nobody

[2015-06-21 16:39] #41 closed, assigned to nobody

[2015-06-23 13:39] hashworks opened #59 "Update the autocompletion more often"
If one creates a table externally after starting mycli then this table won't show up in the auto completition.

[2015-06-23 15:26] #59 closed, assigned to nobody

[2015-06-24 17:35] j-bennet opened #60 "Duplicated suggestions (does having a subquery have something to do with it)?"
Some autocompletions are displayed more than once.

![mycli-duplicated-suggestions](https://cloud.githubusercontent.com/assets/637013/8336919/b5d3e420-1a5c-11e5-929b-b36d9f3543f3.png)

[2015-06-24 17:44] j-bennet opened #61 "Support saving several SQL statements as favorite query."
It may be useful to save more than one SQL statements as a favorite query.

Example - deleting related data:

[code]

[2015-06-25 03:47] #60 closed, assigned to nobody

[2015-06-26 03:56] grooverdan opened #62 "config file parsing"
my.cnf

<pre>
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock

[mysqld]
lc_messages     = en_US
skip-external-locking
skip-name-resolve
</pre>

A mysql valid config file like above won't parse because of the skip-name-resolv not conforming to the ConfigObj expectations.

This seams to be in ConfigObj._parse so can't be resolved using validator methods as the ConfigObj

[2015-06-26 03:59] grooverdan opened #63 "mycli should default to unix socket like mysql's cli does"
Current behaviour reverts to the resolution of localhost

<pre>
$ mycli -u root -p
Password:
(1045, u"Access denied for user 'root'@'::1' (using password: YES)")
</pre>

<pre>
$ mysql
Welcome to the MariaDB monitor.  Commands end with ; or \g.
Your MariaDB connection id is 2154
Server version: 10.0.20-MariaDB-1~jessie-log mariadb.org binary distribution

Copyright (c) 2000, 2015, Oracle, MariaDB C

[2015-06-26 04:04] grooverdan opened #64 "drop user - doesn't tab complete the username"
<pre>
mariadb root@127.0.0.1:mysql> drop USER ACCESS
                                         ACCESS
                                         ADD
                                         ALL
                                         ALTER TABLE
                                         AND
                                         ANY
</pre>

[2015-06-26 04:12] grooverdan opened #65 "insufficient completions for SHOW"
<pre>
mariadb root@127.0.0.1:mysql> SHOW
                                    COLUMNS
                                    DATABASES
                                    PROCESSLIST
                                    TABLES
</pre>

more complete list: https://mariadb.com/kb/en/mariadb/show/

apart from AUTHORS, deprecated innodb status and plugin specific options I use all of these quite regularly.

[2015-06-26 08:34] #62 closed, assigned to nobody

[2015-06-26 09:24] grooverdan opened #67 "internal HELP command obsecured by mycli HELP"
HELP SHOW works in mysql however the mycli shows its own help.

would like mysql's HELP  to be available somehow.

[2015-06-26 09:31] grooverdan opened #68 "FR: something like the pager mysql command"
useful for doing grep on output or redirecting to a file is my main use however other cases of execution may be valid.

[2015-06-26 09:34] grooverdan opened #69 "feature request: repeat command on interval"
While monitoring a server sometime you do commands like show slave status\G or show processlist, or show global status like ... ; where you want it repeated every few seconds or so.

is a syntax like \w{atch} [interval default 5s] :  {SQL}

possible?

[2015-06-29 03:10] #63 closed, assigned to grooverdan

[2015-06-29 05:55] #64 closed, assigned to nobody

[2015-06-29 08:07] grooverdan opened #73 "after changing databases"
the list of SHOW autocompletes gets its entries duplicated

<pre>
(mycli)danblack@catinthehat:~$ mycli
Version: 0.1.0
Chat: https://gitter.im/dbcli/mycli
Mail: https://groups.google.com/forum/#!forum/mycli-users
Home: http://mycli.net
mariadb danblack@localhost:(none)> \u bluehackers
You are now connected to database "bluehackers" as user "danblack"
Command Time: 0.000s
Format Time: 0.000s
mariadb

[2015-06-30 00:42] #45 closed, assigned to nobody

[2015-06-30 05:33] #61 closed, assigned to j-bennet

[2015-06-30 07:26] #68 closed, assigned to nobody

[2015-06-30 07:27] #73 closed, assigned to nobody

[2015-07-02 17:11] amjith opened #75 "Add config option for always on logging"
Related to #45

The logging option to log everything from queries to results with a timestamp should be available as a config option.

/cc @mysz

[2015-07-09 03:33] grooverdan opened #77 "feature request: differential output when doing repeat commands"
following enhancement from #69

1) Highlight the difference between the last output in a different colour

Most of the output will be the same. Highlighting the differences is good to focus the attention.

2) If the difference is in a number, take the full number and subtract this from the last number and place this on the far right of the same row.

More than one number on a row is an odd case an

[2015-07-24 06:40] #67 closed, assigned to j-bennet

[2015-07-25 01:13] #34 closed, assigned to tsroten

[2015-07-29 09:25] seschwar opened #82 "Custom pager setting"
In my `~/.my.cnf` I have the following, which only pages the output if it doesn't fit on the screen:

    [client]
    pager = less -FSX

It would be nice if mycli respected this setting or allows setting a pager of its own.

[2015-07-29 14:30] amjith commented on #82
Reading the pager from my.cnf would be a nice addition. I'll add that in. But in the meantime I have two solutions for you.

1. I've updated the default pager option used by mycli to '-FSXR' in the master branch. You can directly install from master to get the benefit right away. You can install from git as follows:

    pip install -U -e git+https://github.com/dbcli/mycli.git#egg=mycli

2. You ca

[2015-07-30 17:14] Gnouc opened #83 "mycli in Debian 8 can not run."
I'm in Debian 8, install `mycli` with:
[code]

Then calling `mycli` always give the error:
[code]

[2015-07-30 17:23] amjith commented on #83
@Gnuoc Can you paste the output from `~/.mycli.log` file?

I'm unable to reproduce the error on a debian VM.

[2015-07-30 17:37] Gnouc commented on #83
@amjith: Here it is
[code]
After some digging, I think the problem is line 56 in `sqlexecute.py`. It called `pymysql.connect` with `password` as keyword argument, while my `pymysql` version used `passwd` instead of `password`:
[code]

I changed it to `passwd` then the issue gone, but I got another issue:
[code]

[2015-07-30 17:40] Gnouc commented on #83
@amjith I upgraded `pymysql` to `0.6.6` and all issue gone.

[2015-07-30 17:43] amjith commented on #83
That was a good fine. I'll pin the minimum version for pymysql to be >= 0.6.6

Thank you!

[2015-07-30 17:43] #83 closed

[2015-07-30 21:33] morgo opened #86 "NULL presentation is inconsistent"
In horizontal output it shows up as `<null>`, in vertical it is `none`.

It might make sense to use the word `NULL` in italics?

[2015-07-30 22:43] amjith commented on #86
You are correct, I missed that part. I'll fix the vertical output.

I'm not sure how to do italics in the console. So that might not happen.

Thank you for the report.

[2015-07-30 22:46] amjith opened #87 "Read connection info from environment vars"
https://dev.mysql.com/doc/refman/5.0/en/environment-variables.html

Especially the password.

[2015-07-30 22:59] morgo commented on #86
If not italics, maybe change the color?  It's not important as long as it is consistent.

[2015-07-31 03:23] autotune opened #88 "PIP install results in error."
This is on CentOS 6.5:

[root@chef-solo logs]# cat /etc/redhat-release
CentOS release 6.5 (Final)

[foo@chef-solo ~]$ sudo pip uninstall mycli

[foo@chef-solo ~]$ mycli

Traceback (most recent call last): File "/usr/bin/mycli", line 5, in <module> from pkg_resources import load_entry_point File "/usr/lib/python2.6/site-packages/pkg_resources.py", line 2655, in <module> working_set.require(__requir

[2015-07-31 04:59] jonnywang opened #89 "Error: No available formula for mycli"
Error: No available formula for mycli

[2015-07-31 05:18] amjith commented on #89
The formula is very new so it's probably not available on your system. You can run

    brew update && brew install mycli

That will get the latest formula and then install it.

I'll update the README file to reflect this. If you're still having problems please feel free to open the ticket.

[2015-07-31 05:18] #89 closed

[2015-07-31 05:25] amjith commented on #88
Sorry about the difficulty in getting started.

Your command says `sudo pip uninstall mycli` did you really uninstall it or was that a typo?

Also can you elaborate what you mean by

My suggestions are:

     pip install --upgrade --force-reinstall mycli

or

    easy_install --upgrade mycli

If neither of those work then install directly from the git repo.

    pip uninstall mycli && pip install

[2015-07-31 05:25] #88 closed

[2015-07-31 05:42] amjith commented on #86
I've fixed the inconsistency in master. You can install directly from master using pip:

[code]

I'll publish a new version to brew this weekend.

[2015-07-31 05:52] amjith commented on #87
I've fixed the issue in the master.

Upgrade directly from master as follows:

pip install -U https://github.com/dbcli/mycli/archive/master.zip

[2015-07-31 05:52] #87 closed

[2015-07-31 06:21] wildtron opened #90 "User without password"
How could I login a user without password? The default one prompts for a password, is there a way to disable it?

[2015-07-31 06:34] amjith commented on #90
If a user can login without a password then mycli won't ask for a password.

Did you specify the username in the command line? If you didn't specify the username then it'll assume the current linux or OS X username and try to connect with that.

    mycli -u <username>

[2015-07-31 06:43] wildtron commented on #90
I see, that's how it works. Thanks

[2015-07-31 06:46] #90 closed

[2015-07-31 06:48] amjith commented on #27
Documentation site is created and all the features are documented.

http://mycli.net/docs

[2015-07-31 06:48] #27 closed

[2015-07-31 06:50] amjith commented on #54
Closing this issue since favorites and history search works as expected.

run and exit will be addressed at a later time if there is enough demand.

[2015-07-31 06:50] #54 closed

[2015-07-31 06:50] #86 closed

[2015-07-31 07:35] mriehl opened #91 "Add ability to export tabular data from within mycli"
Hi,

I've been using mycli for a few days and I really like it so far. A feature I'd love to see is being able to export tabular data to JSON or CSV, this would allow me to actually get rid of mysql workbench.
Is something similar planned or in the works?
I can probably find some time to implement the feature myself if it's desired.

[2015-07-31 08:48] leunggamciu opened #93 "mycli crashs when it encounters invalid sql statement"
[code]
Version: 1.0.1
OS:Ubuntu14.04 lts

[2015-07-31 10:27] rapha8l opened #94 "Feature request : Read the ~/.mylogin.cnf file at startup"
Hi,
Would it be possible that mycli takes ~/.my.cnf ?
Thanks

[2015-07-31 12:14] autotune commented on #88
Hey,

That was a typo, consider it fixed. Running "sudo pip install mycli" is where the resulting error occur. Downloading directly and then running sudo python setup.py works. While this method does work, it really should work by downloading through "sudo pip install mycli."

[2015-07-31 13:25] amjith commented on #91
I did not have that feature planned in mind. But it will be a great feature to have. If you have the time to implement it, I'd love to take in the contribution.

Let me know if you need some help getting started with the dev setup.

Here's a starter:
http://mycli.net/develop

[2015-07-31 13:29] mesirendon commented on #94
+1

[2015-07-31 13:30] amjith commented on #93
I'm able to reproduce it. Thank you for reporting it. I'll try and get this fixed soon.

Sorry about the bug.

[2015-07-31 13:31] amjith commented on #94
It already does. It reads in username, password, host, database, socket, port attributes from my.cnf. If you have other attributes that you'd like to be honored, can you please list them?

[2015-07-31 14:47] derobert opened #95 "Please support --defaults-group-suffix"
With the stock MySQL command line client, you can add `--defaults-group-suffix=SOMETHING` to look for the `[mysqlSOMETHING]` section in `my.cnf`. This lets you store settings for, e.g., multiple database servers.

It'd be nice if mycli had this option as well.

[2015-07-31 14:50] derobert commented on #65
@amjith @grooverdan Another option instead of strace is, if you're using a TCP connection, turn off SSL/TLS and use Wireshark. Very easy to read all the queries then.

[2015-07-31 15:06] seagoj commented on #94
So is this documented somewhere? `mycli [servername]` doesn't seem to do it.

[2015-07-31 15:40] amjith commented on #94
@seagoj I didn't know about the mylogin.cnf file. I might be able to add that in.

Too many ways to specify options, it's hard to keep up.

[2015-07-31 16:49] tanji commented on #94
.mylogin.cnf is a windows thing. On Linux, the file used is ~/.my.cnf, as the OP said. It is conventional to use that file for user logins, so if you could add it to the list of parsed files that could be nice.

[2015-07-31 17:37] brewneaux commented on #91
Id also like this - I'm going to see if I can hack it together this weekend, probably as a pager implementation.

[2015-07-31 20:36] seagoj commented on #94
@tanji [.mylogin.cnf](http://dev.mysql.com/doc/refman/5.6/en/mysql-config-editor.html) is not a "Windows thing". It allows you to store connection information in an encrypted file using mysql_config_editor.

[2015-07-31 20:51] tanji commented on #94
@seagoj OK, it is MySQL 5.6 specific. If it's encrypted, how do you expect mycli to read it?

[2015-07-31 20:59] seagoj commented on #94
@tanji

[2015-07-31 21:18] seagoj commented on #94
Looks like pymysql doesn't support it, yet, so no such luck until they do.

[2015-07-31 23:02] gstewart opened #98 "Update prompt_toolkit for auto-completion on Windows 7 x64"
I installed on Windows 7 x64 with:
[code]
I am using `pip 7.1.0` and `python 3.4.3`.

I was getting no auto-completion, and also no completion when using `<TAB>` or `<C-Space>`.

I set `log_level = DEBUG` in `.myclirc` and I saw this in the logs

[code]
I tried it in the standard cmd.exe console and in the ConEmu console (which prompt_toolkit recommends for windows).

-----

I noticed some recent

[2015-07-31 23:05] JeffCarpenter opened #99 "Left join auto completion bug"
First off, thanks for the great tool. I love how autocomplete knows to add tildes around table names.

Now the bug. I was doing a big left join, and I can't remember what keystroke I hit or reproduce the bug so far, but here's what I've got on my screen:

[code]

[2015-07-31 23:44] amjith commented on #99
Sorry about the bug. It seems like the completion engine gets to an unstable state during JOINS. Someone else also encountered this bug earlier today.

https://github.com/dbcli/mycli/issues/93

I'll track it down tonight and have a fix for it soon.

Thanks for reporting it.

[2015-07-31 23:49] amjith commented on #98
I'm surprised you weren't getting popups in Windows.

I was able to get it on Window with Python 2.7. I didn't test it on Python 3.

But I'm glad you tried it with a newer version of prompt_toolkit. I plan on upgrading soon. Hopefully this weekend I'll upgrade and test the changes and make a new release.

Thank you for the report.

[2015-08-01 01:07] mesirendon commented on #94
I have a configuration that allows me to use a specific server and DB when requiered... so my `.my.cnf` file looks like this:

[code]

Now... I have a function in my `.zshrc` file that allows me to connect to any DB
[code]
So... if I need to connect to `ServerName` I just type `mycnc ServerName` and that's all.

Hope this conf helps you to add an option to use the tool reading right away the .my.c

[2015-08-01 15:35] amjith commented on #99
This bug is now fixed in master. I'll try to release a new version sometime this weekend. But until then you can install directly from master using pip as follows:

[code]

[2015-08-01 15:35] amjith commented on #93
This bug is now fixed in master. I'll try to release a new version sometime this weekend. But until then you can install directly from master using pip as follows:

[code]

[2015-08-01 16:25] qw3rtman commented on #88
Was having the same issue on CentOS 6.5 (Final). Eventually solved it by executing `pip uninstall mycli && pip install https://github.com/dbcli/mycli/archive/master.zip` and then `easy_install --upgrade mycli`.

[2015-08-01 17:30] JeffCarpenter commented on #99
Wow, that was *very* prompt. Thank you!

[2015-08-01 17:30] #99 closed

[2015-08-02 01:20] amjith commented on #88
I've removed Six from being an explicit dependency for mycli. I hope that solves the issue in the future. I'll release a new version soon.

[2015-08-02 03:42] lojunren opened #101 "ImportError: No module named pkg_resources－Mac OS X 10.10.4"
When I try to run 'mycli' on my mac, it prompted "ImportError: No module named pkg_resources".
I have installed org.python(2.7.10) and I have google how to solve this problem and it didn't work.

[2015-08-02 03:53] amjith commented on #101
Can you tell me how you installed mycli? Did you install it via `brew install mycli` or `pip install mycli`?

[2015-08-02 13:05] polaris1119 opened #102 "pip install mycli on linux error"
This error:

SyntaxError: ('invalid syntax', ('/usr/lib/python2.6/site-packages/mycli/main.py', 174, 29, '        return {x: get(x) for x in keys}\n'))

[2015-08-02 14:15] illagrenan commented on #98
Auto-completing in ConEmu is also working for me after upgrade:

[code]

**Python `2.7.10`, Windows `8.1@x64`.**

[2015-08-02 14:56] amjith commented on #102
My bad. I added a new feature last night that broke the app. Can you try downgrading?

If you installed via pip. Please run `pip uninstall mycli` and then reinstall it using `pip install mycli==1.0.1`.

If you installed it via debian package. Please run `sudo apt-get remove mycli` and `sudo apt-get install mycli`.

I'm terribly sorry about the bug. I'll add tavis ci to run the automated tests to m

[2015-08-02 17:43] jots opened #103 ""use $database" vs "connect $database""
Switching databases with "use"  works fine.
switching with "connect"  leaves the tables from the previous database in the drop downs.

[2015-08-02 18:01] amjith commented on #103
Confirmed. This is a bug. I'll fix this soon.

Thank you for reporting.

[2015-08-02 18:16] amjith commented on #91
@brewneaux If you'd like to take a stab at it, go for it. I'm swamped with other bug reports so I might not get to this for a while.

[2015-08-02 18:20] amjith commented on #94
@seagoj Thank you for filing the issue.

@mesirendon There is a pending issue for supporting the `--default-group-suffix` option in mycli. Ref: #95

[2015-08-02 18:20] amjith commented on #95
Yes. This is a good request. I'll add this in.

[2015-08-02 21:19] amjith commented on #103
I have fixed this issue in master. Try installing from master directly:

[code]

I'll release the new version soon.

[2015-08-02 21:22] amjith opened #104 "Pasting long queries can drop characters"
From Twitter: https://twitter.com/gbhorwood/status/627909096922951680

I'm unable to reproduce it so far. I wonder if this is localized to a specific OS. I've only tried it on OS X.

[2015-08-02 21:26] amjith commented on #102
I've released a new version (1.1.1) to PyPI. Please upgrade to the latest version.

    pip install -U mycli

[2015-08-02 21:28] amjith commented on #93
I've released a new version 1.1.1 to pypi. Please upgrade.

    pip install -U mycli

[2015-08-02 21:28] #93 closed

[2015-08-02 21:29] amjith commented on #82
This is now available in the latest version of mycli 1.1.1. Thanks to the PR from @j-bennet.

Please upgrade:

    pip install -U mycli

[2015-08-02 21:29] #82 closed

[2015-08-02 23:39] amjith commented on #2
This is now done.

https://packagecloud.io/amjith/mycli

[2015-08-02 23:39] #2 closed

[2015-08-02 23:39] amjith commented on #3
Done.

[2015-08-02 23:39] #3 closed

[2015-08-03 01:48] lojunren commented on #101
I installed mycli via brew install mycli.

[2015-08-03 02:11] amjith commented on #101
Hrm. Can you check if you have `pip` available on the system?

If it does, then try installing it via pip.

You can try `pip install mycli`.

You can also try upgrading setuptools.

[code]

I hope that helps.

[2015-08-03 02:33] polaris1119 commented on #102
Another Error:

# pip install -U mycli
Downloading/unpacking mycli
  Running setup.py egg_info for package mycli
Requirement already up-to-date: click>=4.1 in /usr/lib/python2.6/site-packages (from mycli)
Requirement already up-to-date: Pygments>=2.0 in /usr/lib/python2.6/site-packages (from mycli)
Cannot fetch index base URL https://pypi.python.org/simple/
Could not find any downloads that satisf

[2015-08-03 03:39] amjith commented on #102
I don't think that updated mycli correctly. You can check the current version of mycli by trying:

[code]
If it is not 1.1.1 then you don't have the latest released version.

Can you uninstall it completely and try installing again?

[code]

If that is still giving you trouble try installing directly from the git repo:

    pip install https://github.com/dbcli/mycli/archive/master.zip

[2015-08-03 03:59] lojunren commented on #101
Great! It worked! Thanks very much!

[2015-08-03 04:01] amjith commented on #101
Can you tell me which one you tried to make it work? So I can help others in the future if they encounter the same problem.

[2015-08-03 04:01] #101 closed

[2015-08-03 04:36] amjith commented on #103
New version (1.2.0) is releasee to pypi.

You can upgrade using `pip install -U mycli`.

[2015-08-03 04:36] #103 closed

[2015-08-03 04:37] amjith commented on #98
New version (1.2.0) is released to pypi.

You can upgrade using `pip install -U mycli`.

New version has prompt_toolkit 0.45 as its dependency.

[2015-08-03 04:37] #98 closed

[2015-08-03 04:37] brewneaux commented on #91
@amjith @mriehl An update: I got started on this.  Just a few more bugs to work out.  Hopefully later this week.

[2015-08-03 04:42] jots commented on #103
new version works great!  thanks for such fast work!

[2015-08-03 05:01] amjith commented on #91
Thank you for the update. I look forward to the PR. :)
On Aug 2, 2015 9:37 PM, "brewneaux" <notifications@github.com> wrote:

[2015-08-03 05:41] polaris1119 commented on #102
[root@node001 ~]# pip uninstall mycli
Cannot uninstall requirement mycli, not installed
Storing complete log in /home/xxx/.pip/pip.log
[root@node001 ~]# pip install mycli
Downloading/unpacking mycli
  Running setup.py egg_info for package mycli
Requirement already satisfied (use --upgrade to upgrade): click>=4.1 in /usr/lib/python2.6/site-packages (from mycli)
Requirement already satisfied (use --

[2015-08-03 07:14] hlee13 opened #106 "sql statement contains "*" that has mysql spatial data format , i.e. linestring,get below error."
2015-08-03 15:08:48,736 (9676/MainThread) mycli.main ERROR - traceback: 'Traceback (most recent call last):\n  File "/usr/share/python/mycli/local/lib/python2.7/site-packages/mycli/main.py", line 357, in run_cli\n    for title, cur, headers, status in res:\n  File "/usr/share/python/mycli/local/lib/python2.7/site-packages/mycli/sqlexecute.py", line 108, in run\n    yield self.execute_normal_sql(sq

[2015-08-03 08:31] blackakula opened #107 "Non-readable suggestion popup"
![86f48-clip-21kb](https://cloud.githubusercontent.com/assets/156983/9033742/5f1a89c6-39ca-11e5-88ff-5d9066dbc03f.jpg)
Great tool. It's totally working, but the suggestions popup is not readable in my CLI.
- VirtualBox: Ubuntu-server 1.14
- Putty

Is it possible to configure tool colors?

[2015-08-03 14:21] leunggamciu commented on #93
awesome!

[2015-08-03 14:43] amjith commented on #107
Hi @blackakula, it is possible to tweak the colors. You can set the color scheme in your config file which is located in the home folder (~/.myclirc).

You can see a preview of all the color schemes here: http://mycli.net/syntax

[2015-08-03 15:07] blackakula commented on #107
I see only predefined list of themes - they all have the same colors for popup. Is it possible to set specific color for popup text/background?

[2015-08-03 15:15] brewneaux commented on #104
I'm getting it dropping spaces at line breaks.

Original query:
[code]
 CREATE TABLE temp_tableSELECT    id,    val,    'broken' AS statusFROM     testt AS t    JOIN testt AS t2        ON t.id = t2.val;
(1064, u"You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'id,    val,    'broken' AS statusFROM     testt AS t

[2015-08-03 15:40] amjith commented on #106
@hlee13 Can you paste the query here so I can try to reproduce this locally?

It seems like the issue is coming from the MySQL adapter PyMySQL library. But if I have a reproducible case, I can at least file an issue with them to track it down.

Thanks!

[2015-08-03 15:42] amjith commented on #104
This happens because I have multi-line mode off. Multi-line mode is the one that enables queries to span across multiple lines.

You can either enable it temporarily for a session by pressing F3 or enable it permanently via the config file (~/.myclirc).

[2015-08-03 15:45] amjith commented on #107
Sorry, not right now. Someone else requested this same feature for pgcli (https://github.com/dbcli/pgcli/issues/310). I had said no to them because I thought the colors I had chosen was legible. But now I realize that's not the case. I'll keep this ticket open and work on adding customizations to the colors.

[2015-08-03 16:03] adrianmeca opened #108 "[question] is there a way to execute a .sql file?"
Is there a way to use execute the content of a sql script using mycli?

for instance when you restore a mysqldump into another server you can do it in three ways
mysql [options] < dumpfile.sql
cat dumpfile.sql | mysql [options]
mysql [options] -e"source dumpfile"

Or using the interactive mode with the source statement. Is there any way with mycli?

[2015-08-03 16:14] amjith commented on #108
Not yet. But that is one of the planned features.

Thank you for requesting it. I'll keep this issue open to track the development.

[2015-08-03 16:20] amjith opened #109 "Autocompletion of schema names after FROM keyword"
It should be possible to list other databases as schema names and provide column completions for them.

Caveats:
- This requires fetching all the databases, tables and their columns. Which could get expensive if the user has thousands of databases.

Possible Solutions:
- Fetch the current database information right away. Fetch the rest of the databases lazily after launch. This could also put undu

[2015-08-03 16:23] adrianmeca commented on #108
Thanks!

[2015-08-03 16:38] brewneaux commented on #104
With Multi-Line turned on, it does work, but does increasing indents...

[code]

[2015-08-03 16:52] brewneaux opened #110 "Alter 'Destructive Query' Warning to be optional"
As analysts, we need a way to turn that off. We do a lot of them all day.  This is in progress by me.

[2015-08-03 16:55] brewneaux opened #111 "Allow for multiple DB's to be hashed at a time (from config)"
We'd like to be able to specify which DBs to hash at all times in our config files.  We run around in 3 or 4 different DBs all day, and I would love to be able to throw a specific list in so we can just have them at our fingertips.

[2015-08-03 16:56] brewneaux opened #112 "Code Snippets"
Would be really neat, in the same way that we have favorited queries, to have code snippets of a sort.  Say you have a table whose name is "this_is_a_really_longandhardto_remember_tablename" - instead of typing it everything, you could just do something like thatlongtable, hit tab, and have it autofill.

[2015-08-03 17:10] amjith commented on #104
I might need a paste mode. Not sure about this one. I'll try it out.

[2015-08-03 17:12] amjith commented on #112
That's where the fuzzy matching comes in handy. You can start typing parts of a long table name and it'll narrow them down for you.

For eg:

"this_is_a_really_longandhardto_remember_tablename"

Can be narrowed down by typing:

"trelorta"

Which are all characters in that table name in the right order.

[2015-08-03 17:12] amjith commented on #111
This I don't fully understand. Is this related to #95 ?

[2015-08-03 18:35] brewneaux commented on #112
Oh wow. I didn't realize it was THAT fuzzy.  Closing.

[2015-08-03 18:35] #112 closed

[2015-08-03 18:37] brewneaux commented on #111
Ah, no.

So we have a few different databases that we use on a day to day, for example:
-users
-analytics
-products
-rentals

We want to be able to specify in our myclirc something like
[code]

This way, we can cross databases and still get auto-completes.  It is loosely related to #109

[2015-08-03 18:46] amjith commented on #112
When someone first requested it #46, I thought it would be mountains of coding. But it was 10 lines of code.

Here's a description of the algorithm that was used. http://blog.amjith.com/fuzzyfinder-in-10-lines-of-python

[2015-08-03 18:47] amjith commented on #111
Interesting. This shouldn't be too difficult to implement. I'll let you take a stab at it, let me know if you need some pointers to get started.

[2015-08-03 18:50] amjith commented on #102
Looks like prompt_toolkit is using a dictionary comprehension which is only available in Python 2.7 and above.

I'll have to send a PR to @jonathanslenders prompt_toolkit repo to fix it.

The weird thing is I can't seem to reproduce this issue when I try it on Python 2.6 on my machine.

Can you run `pip freeze` and paste the output here?

[2015-08-03 20:47] scottchiefbaker opened #113 "Is there any documentation on creating a customer color scheme?"
I'm not a big fan of the included color schemes. I'd like to create my own color scheme but I'm not seeing any documentation about how to go about this.

[2015-08-03 21:35] seschwar commented on #82
Nice! Thanks, @amjith and @j-bennet.

[2015-08-03 23:09] amjith commented on #113
The color schemes are from a python library called Pygments. There is documentation on how to create custom color schemes on Pygments website. http://pygments.org/docs/styles/

Did you already check the gallery of themes: http://mycli.net/syntax . You can click on an image to switch between light and dark background.

[2015-08-04 02:27] hlee13 commented on #106
SELECT * from table_xxx limit 1;

CREATE TABLE `table_xxx ` (
  `ID` bigint(20) NOT NULL,
  `geom` linestring NOT NULL,
  PRIMARY KEY (`ID`),
  SPATIAL KEY `geom` (`geom`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;

[2015-08-04 03:49] amjith commented on #106
I just tried the commands you gave in my local instance of mycli and it works fine.

<img width="941" alt="1__0_1_python2_7_-__mycli___users_amjith_newrelic_bam-react-test___tmux_" src="https://cloud.githubusercontent.com/assets/49260/9052820/0d0b9754-3a21-11e5-9908-8ebfe0f6e893.png">

If you're still seeing the error can you tell me what version of mysql you're using and what OS you're running?

[2015-08-04 04:01] hlee13 commented on #106
why limit 1 command, has no row. Maybe you have a empty table, so no error happened.

[2015-08-04 04:07] hlee13 commented on #106
mysql  Ver 14.14 Distrib 5.5.32
mycli Ver 1.2.0
Ubuntu Ver 12.04

[2015-08-04 04:09] amjith commented on #106
I just noticed that my table was empty and the INSERT statement didn't quite work.

So I inserted the data and tried again. I get the following error:

[code]

<img width="1153" alt="1__0_2_python2_7_-__mycli___users_amjith_newrelic_rpm_site_app_presenters___tmux_" src="https://cloud.githubusercontent.com/assets/49260/9053042/f4d4bd70-3a23-11e5-93ee-809c8c9950bd.png">

Is this what you're seeing a

[2015-08-04 04:12] loslots commented on #106
I'm lost I don't understand this  at  all I just know my phone says it has numerous CSC codes applied

Sent from Yahoo Mail on Android

[2015-08-04 04:39] j-bennet commented on #95
@amjith: If a setting is specified in both .pgclirc and in a suffixed group of my.cnf file (such as "prompt"), which one should take priority? I'm leaning towards .pgclirc, but not sure.

[2015-08-04 05:00] j-bennet commented on #95
Actually there's another consideration here: since we have a default .myclirc, even if user erases the setting from his "home" version of .myclirc, we're going to read it from default config. If I prioritize it over "suffixed group" setting, as was my initial thought, it may bee to much pain for a user to force mycli into using the "suffixed group" setting. He'd have to erase the settings from bot

[2015-08-04 05:23] hlee13 commented on #106
yes, i also seen, I think major reason is mysql spatial data in table. In a word, it wonn't work.

[2015-08-04 05:35] amjith commented on #95
Always give higher precedence to my.cnf.

[2015-08-04 12:21] dschuett opened #114 "mycli on CentOS 6.6 - DistributionNotFound"
I just installed mycli on my CentOS 6.6 machine using `yum install python-pip`, and then `pip install mycli`. Everything seemed to install successfully, but now I am unable to use mycli at all without getting the following:

`[root@smtp1 ~]# mycli --help
Traceback (most recent call last):
  File "/usr/bin/mycli", line 5, in <module>
    from pkg_resources import load_entry_point
  File "/usr/lib/p

[2015-08-04 12:43] dschuett commented on #114
Update: I just uninstalled mycli using `pip uninstall mycli` and tried to reinstall. Here is the output of my install:

`[root@smtp1 tmp]# pip install mycli
Collecting mycli
/usr/lib/python2.6/site-packages/pip/_vendor/requests/packages/urllib3/util/ssl_.py:90: InsecurePlatformWarning: A true SSLContext object is not available. This prevents urllib3 from configuring SSL appropriately and may cause

[2015-08-04 16:11] amjith commented on #114
@dschuett There is something wrong with pip in Centos.

Can you try upgrading setuptools and pip?

You can do that using:

[code]

After that try installing mycli again.

[code]

That should hopefully fix all the issues.

[2015-08-04 16:12] amjith commented on #106
I don't follow why you say that it won't work.

I haven't tried to dig into it yet, but can you elaborate a little bit?

[2015-08-04 16:37] #113 closed

[2015-08-04 16:40] dschuett commented on #114
This didn't seem to solve the issue. Now I can't even install mycli. See below:

** Note I had Already uninstalled mycli

[code]

[code]

[code]

[code]

[2015-08-04 16:45] ramiabraham opened #115 "Feature request: ability to search existing log files, similar to mysqlbinlog"
Is there presently a manner by which you can search an existing bin log, eg a binary dump like mysql-bin.000120, using mycli?

I would adore such a feature.

[2015-08-04 16:50] dschuett commented on #114
UPDATE:

I had to run the setuptools py script found on the selected answer on this page:

[Link Here](http://stackoverflow.com/questions/7446187/no-module-named-pkg-resources)

[2015-08-04 16:56] amjith commented on #114
This is the worst. I'm sorry about all of this.

I'm not really sure why this is happening. I'm unable to reproduce it on my Centos VM. I'm glad you resolved it.

Sorry about all the hassle.

[2015-08-04 16:56] #114 closed

[2015-08-04 17:22] dschuett commented on #114
No problem at all. Do you think you will eventually make an rpm?

[2015-08-04 18:18] amjith commented on #114
Yes. I just have to learn how to do it.

It took me a full week to actually understand how to create debian packages. So it's a matter of finding the time to to do it. :(

[2015-08-04 18:24] jonathanslenders commented on #102
That Python 2.6 syntax bug has been fixed: https://github.com/jonathanslenders/python-prompt-toolkit/commit/53302297094283182557117f801b058abc937b49

I also added all of my source code files to the test suite, so that Travis at least will tell me when I write something that's not valid for 2.6: https://github.com/jonathanslenders/python-prompt-toolkit/commit/700807c3e958278f617d9e4b6d3e1486e141cfd

[2015-08-04 21:32] adamchainz commented on #109
Another possible solution: local file cache of 'probably exists' stuff that gets checked in lazily in the background. Schemas rarely change, and if they do no one is going to think worse of mycli for it temporarily autosuggesting a database/table/column that was removed recently.

[2015-08-05 04:34] vtdmhd opened #118 "Make mycli options compatible with official mysql client"
If this is done, existing workflow can be switched to mycli in 1 search and replace routine. Currently, for example, the --password option behaves differently

[2015-08-05 04:39] vtdmhd opened #119 "Enter after autocomplete option selection forces (incmplete) query execution"
Prehaps Enter keypress should force query execution ONLY after the delimiter

[2015-08-05 04:41] vtdmhd opened #120 "Make autocomplete more context-aware"
For example, immediately after "SELECT " the autocomplete proposes "Alter table".

[2015-08-05 04:49] vtdmhd opened #121 "Make Ctrl+D work if the query is not empty"
Currently it doesn't

[2015-08-05 04:54] amjith commented on #115
I have not used mysqlbinlog. This is new to me. But at a first glance it seems like it's a separate utility and not part of the mysql repl.

I don't think it is in the scope of mycli. Sorry.

[2015-08-05 04:54] #115 closed

[2015-08-05 04:58] amjith commented on #118
I'm trying to keep compatibility with mysql as much as possible.

`--password` is a special case.

I do have `--pass` which is an equivalent of the `--password` option in mysql. Will that be sufficient?

[2015-08-05 04:59] amjith commented on #121
This is a limitation of prompt_toolkit the library used to build the REPL. I'd recommend filing this issue with prompt_toolkit: https://github.com/jonathanslenders/python-prompt-toolkit/

[2015-08-05 04:59] #121 closed

[2015-08-05 05:00] amjith commented on #102
Thanks for fixing that Jonathan.

Once the new version of prompt_toolkit is out, I'll update the dependency for mycli.

[2015-08-05 05:01] amjith commented on #109
Yeah this was suggested by someone on the gitter channel. I'm not sure when to invalidate this file cache.

I think adding a background thread for fetching the completions is the first step.

[2015-08-05 05:03] amjith commented on #119
There is a pending request to deal with this one. #23

[2015-08-05 05:03] #119 closed

[2015-08-05 05:11] amjith commented on #120
Right now the context aware completion can suggest either tables or columns or keywords. But the completion engine is not smart enough to order the keywords in a relevant order.

That will require a more complicated completion engine. One which I'm not sure I can write.

A possible solution optimization is to rank the keywords based on frequency.

[2015-08-05 07:20] adamchainz commented on #109
It doesn't need to be invalidated - just refreshed. The background thread re-downloads database and table names and replaces whatever's in there, perhaps one table at a time. If table X was cached and no longer exists - remove it from the cache and list.

[2015-08-05 12:15] mdsrosa commented on #109
@amjith Yes, that's what I suggested on the gitter channel and I agree with @adamchainz. It doesn't need to be invalidated - just updated. Now, when should we do the cache update? It should be the first thing to do when the program starts, right? Launch the 'update thread'. What do you think?

[2015-08-05 13:49] amjith commented on #109
Yes. You're right it I could kick off a background thread that starts populating the file and use the file as a cache that is partially refreshed every time the user switches the databases or relaunches mycli.

I'm still concerned about the performance impact. Although for that we can add an option to disable the eager fetching.

[2015-08-05 15:29] mdsrosa commented on #109
@amjith Exactly! That's what I was thinking. And maybe we could create a command to just update the cache file. Something like `mycli --update-db-cache-file`, if the user disable the eager fetching.

[2015-08-05 18:04] amjith commented on #95
This is now available in master. You can try it out by installing it directly from master as follows:

[code]

[2015-08-05 23:42] danieljwest commented on #120
Not so familiar with this, but I've been tinkering a little.
I'm not seeing the above result at all.
With Smart Complete on and supplying "SELECT " the autocomplete proposes field level functions such as AVG, COUNT, DISTINCT, etc. If I supply a table the autocomplete is smart enough to list the fields in the table as well. It's only if I turn smart complete off that I receive "Alter table" as an o

[2015-08-06 01:20] danieljwest commented on #106
As far as I can tell that GeomFromText returns a byte array of some sort which is not meant to be rendered in the human readable world... which makes sense why the library would be having an issue. Modifying the pymysql connections.py to ignore the decode errors or to turn it into a hex string on an DecodeError exception produces semi readable content. Probably not the most elegant solution, but I

[2015-08-06 01:50] danieljwest commented on #106
Alternatively, we can swap to use_unicode=false in the pymysql connection and change format_output in main.py to do the decoding.

If you let me know what you think is best (Python isn't exactly my speciality) I can follow up with a ticket or put together a pull request for you.

[2015-08-06 05:05] amjith commented on #106
@danieljwest I'd be interested to see how it works with use_unicode=false and doing the decoding ourselves. If it doesn't render in mysql's default client, I'm not really sure what we could be doing to make it better.

I agree, even if we can't get it to render anything useful we should at least catch the error and gracefully degrade instead of throwing this obscure error message

[2015-08-06 05:06] amjith commented on #120
@danieljwest You're right, I didn't check to confirm the report.

@vtdmhd Do you have the smart-completion off? That's the only way you could see the behavior you're seeing.

[2015-08-06 17:02] danieljwest commented on #106
Sounds good. I'll throw together a pull request in my spare time and see what I can come up with. Just tinkering I was able to get it past the error message and render on screen, but I need to explore what implications those changes would have.

I think converting a binary data type to hex will be a little cleaner than what the mysql client currently does. This way you'd theoretically be able to c

[2015-08-06 20:48] kived opened #122 "BINARY fields throw decode error"
We have many BINARY(16) columns in our database. When trying to select from these tables, mycli encounters a decode error:
[code]

The best approach would be to automatically `HEX()` any BINARY fields for display (like HeidiSQL does). And that would be just one more thing that mycli would have over the official mysql client.

[2015-08-06 21:27] amjith commented on #122
Yes. There is already work underway to do exactly this. #106

Thanks to @danieljwest.

[2015-08-06 21:45] danieljwest commented on #122
Good to know hex was the right way to go!

[2015-08-07 18:56] morgo commented on #118
I have a similar request.  I use mysql locally mostly from mysql sandbox (as I think most DBAs do).

It would be a trivial patch to add something like `$MYSQL_EDITOR` to the `./use` program if mycli could understand the command line option `--defaults-file`.

/cc @datacharmer

[2015-08-07 19:54] datacharmer commented on #118
Would it be useful if MySQL-Sandbox recognized a MYSQL_USE variable?

    export MYSQL_USE=mycli
    ./use

[2015-08-07 20:06] morgo commented on #118
`MYSQL_EDITOR` is probably more consistent with existing environment variable usage? (Default text editor is `EDITOR`).

But yes, this is a useful feature.  If not for `mycli`, I would also consider it useful to be able to use the MySQL 5.7 command line client on all my sandboxes since it fixes Control-C support.

[2015-08-07 20:28] datacharmer commented on #118
Since mycli does not recognize --defaults-file, it would require a special treatment to get the parameters. I tried it out, and works quite well.
However, this means that what we do for a mysql client would break mycli and vice versa.
I also realize that we need special cases for when ./use is invoked in batch mode (easy) and when it is invoked with "-e" (not so easy).
Probably the best solution i

[2015-08-07 21:18] amjith commented on #118
I'm a bit lost. I don't use mysql sandbox, so I'm not familiar with the `./use` command.

Can I summarize your request as, you'd like mycli to have `--defaults-file` option?

[2015-08-07 21:22] datacharmer commented on #118
MySQL Sandbox is a tool that installs one or more MySQL servers in the same host, and for each server creates also some customized scripts, so that the user does not need to use the MySQL client with many options. One such script is ./use, which invokes the MySQL client for the version that was installed, and uses a local my.cnf (./my.sandbox.cnf, in fact) to pass the sandbox options.
To use this

[2015-08-08 05:43] amjith commented on #118
Thank you for the clear and concise explanation. I'll add the `--defaults-file` option and change the `--password` option to take the password from the command line. One think I can't change is to make `-pPASSWORD` to work. That is non-posix and I can't get an option parser to work correctly in that situation.

[2015-08-08 05:47] datacharmer commented on #118
To complement Morgan's request, I have added a ./mycli script to the ones generated by MySQL Sandbox.
In [version 3.0.66](http://search.cpan.org/~gmax/MySQL-Sandbox-3.0.66/), you can use a sandbox with mycli by invoking the corresponding script. This script may become redundant in the future, but it is a nice addition.

[2015-08-08 08:03] amjith commented on #118
I have added `--defaults-file` option and made `--password` option take in a password. Both changes are now in master.

I'd like it if someone could test drive this and let me know if it is satisfactory.
You can install directly from the git repo as follows:

[code]

[2015-08-08 08:25] datacharmer commented on #118
At first try, it does not work. This is the content of the my.sandbox.cnf file:

    [mysql]
    prompt='mysql [\h] {\u} (\d) > '
    #

    [client]
    user               = msandbox
    password           = msandbox
    port               = 5708
    socket             = /tmp/mysql_sandbox5708.sock

    [mysqld]
    port               = 5708
    socket             = /tmp/mysql_sandbox5708.sock

[2015-08-08 09:12] datacharmer opened #124 "Autocompletion for replication commands is lacking"
I see that almost everything related to replication is missing in the autocompletion:

`CHANGE MASTER TO` ([MariaDB 10.x](https://mariadb.com/kb/en/mariadb/change-master-to/) )
`SHOW ALL SLAVES STATUS` ([MariaDB 10.x](https://mariadb.com/kb/en/mariadb/multi-source-replication/))
`SHOW SLAVE connection_name STATUS` (MariaDB 10.x)
`START/STOP [connection_name] SLAVE`

`CHANGE MASTER TO` ([MySQL 5.7]

[2015-08-09 01:22] amjith commented on #118
My bad. It is now fixed. You can upgrade again from the master as follows:

[code]

[2015-08-09 20:00] datacharmer commented on #118
Thanks for the update. It works as expected!

[2015-08-09 23:18] Flynsarmy opened #126 "Can't connect - connection refused"
On OSX 10.10.4 a newly installed copy of mycli can't connect to mysql no matter what I do. Mysql is running on the standard port and I confirmed my credentials are correct. Example:

[code]

I also tried an account with a password and same issue. Connection refused. I added -hlocalhost to both commands - mysql worked, mycli didn't.

[2015-08-10 02:23] amjith commented on #126
I suspect that there is an issue with connecting via socket. Can you try the -S option?

mycli -S /tmp/mysql.sock

or path to your socket file?

[2015-08-10 02:40] Flynsarmy commented on #126
Got it. `mycli -umylogin -S /Applications/MAMP/tmp/mysql/mysql.sock`. Sorry about that.

[2015-08-10 02:40] #126 closed

[2015-08-10 05:33] amjith commented on #95
This is now available in the latest version of mycli (1.3.0). Please upgrade.

[2015-08-10 05:33] #95 closed

[2015-08-10 05:34] amjith commented on #118
This is now available in the latest version of mycli (1.3.0). I've made `-p` and `--password` act similar to mysql. The `--defaults-file` option is also added.

Please upgrade.

[2015-08-10 05:34] #118 closed

[2015-08-10 05:35] amjith commented on #120
Please reopen if you have other questions.

[2015-08-10 05:35] #120 closed

[2015-08-10 06:24] jinleileiking opened #127 "cannot show the '*' charactor using mycli in tmux."

[2015-08-10 06:27] amjith commented on #127
Can you elaborate, what you mean?

I don't understand your request. Are you reporting that '*' character is invisible when you type in a query or is it throwing an error if it is present in the results?

[2015-08-10 13:35] dgoosens opened #128 "Add option for lowercase keyword completion"
Hi,

Thanks for this great tool...

I personally like my SQL statements to be in lowercase...
Would it be possible to add this feature ?
I guess a boolean in the config file could enable/disable it...

[2015-08-10 16:18] amjith commented on #128
It's doable but adds more complexity that makes it hard to maintain. For example, I have to be careful not to change the case for table/column names, but only change the case for keywords, functions etc.

Again it's doable but it'll get a bit cumbersome to maintain. I'd prefer to keep the code base small, if I can help it.

[2015-08-10 16:19] amjith commented on #124
You're right it is lacking. That is one area I need to improve. I'll add a new completion category and see if I can make this work. Thanks for the links to docs. :)

[2015-08-10 17:57] darikg commented on #128
I wonder if this could be addressed simultaneously with dbcli/pgcli#287 by moving all the hard-coded completions to external config files, which could then be re-ordered or re-capitalized at will. That's another step down the road to config hell though.

[2015-08-10 18:01] derobert commented on #95
Thank you. Confirmed working here.

[2015-08-10 20:17] amjith commented on #128
That's an interesting idea. I'm still hesitant about adding more config options. If there are more requests for this feature, I'll definitely consider implementing it.

[2015-08-11 08:18] rvangsgaard opened #129 "feature request: support \G when multi_line is enabled"
When I have multi_line enabled is seems like \G is not recognised.

I use multi_line as it makes it difficult to make mistakes by accidentally hitting the Enter key - for example before adding the where clause to a delete :)

[2015-08-12 04:21] amjith commented on #129
\G is recognized in the multi-line mode. But it has to be immediately followed by a semi-colon.

For eg:

[code]

But I think what you're requesting is to end the query with the \G and pressing enter will execute the query is that correct?

[2015-08-12 05:33] amjith commented on #129
I've fixed this in master. Can you give it a try? You can install from master as follows:

[code]

[2015-08-12 06:36] amjith commented on #107
@blackakula I've added a way customize the menu colors via the config file. You can install the new version from the git repo directly as follows:

[code]

Open your config file (~/.myclirc) and add these following lines:

[code]

I've se the menu colors to black and white which should give you plenty of contrast. But you're welcome to customize this to your needs.

[2015-08-12 06:37] amjith commented on #102
The master branch is updated with the latest version of prompt_toolkit.

You can install directly from master as follows:

[code]

[2015-08-12 07:49] blackakula commented on #107
@amjith thanks! It works!

[2015-08-12 07:49] #107 closed

[2015-08-12 19:12] rvangsgaard commented on #129
Why didn't I think of adding a semi-colon?!? Adding the semi-colon is all I need :) Thanks for showing me.

I get an error when installing from master:

[code]

[2015-08-12 19:31] amjith commented on #129
That's a bit odd. I feel like it could be a transient error due to network connectivity. Can you try it again?

If it still doesn't work you can try `easy_install https://github.com/dbcli/mycli/archive/master.zip`.

Can you tell me how you had it installed originally? Was it done using brew?

[2015-08-13 05:52] haughtynie commented on #102
Help..............................
# mycli --help
Traceback (most recent call last):
  File "/usr/bin/mycli", line 5, in <module>
    from pkg_resources import load_entry_point
  File "/usr/lib/python2.6/site-packages/pkg_resources.py", line 2655, in <module>
    working_set.require(__requires__)
  File "/usr/lib/python2.6/site-packages/pkg_resources.py", line 648, in require
    needed = self.res

[2015-08-13 06:17] amjith commented on #102
@haughtynie Can you try installing it via easy_install?

[code]

There seems to be some problem with pip and Python 2.6.

[2015-08-13 06:30] haughtynie commented on #102
I install directly from master as follows:pip install -U https://github.com/dbcli/mycli/archive/master.zip
Are there some differences with using easy_install mycli ?

[2015-08-13 08:46] haughtynie commented on #102
@amjith The problem has been solved according to your suggestion.thanks.

[2015-08-13 16:39] amjith commented on #102
There is no different with installing mycli with easy_install but pip seems to have issues installing some packages in Python 2.6.

I'm glad you were able to resolve the issue.

[2015-08-13 20:27] rvangsgaard commented on #129
I just got the exact same error. Then I tried again, and it worked - strange.

It works as expected now, I can use \G without semi-colon. Thank you.

Btw I am running Ubuntu Linux.

[2015-08-13 20:27] #129 closed

[2015-08-14 02:08] haughtynie commented on #102
thank you
这一版本好像不支持system操作。
it does not surpport the command 'system',such as system clear;system cat /home/mysql/mysql/data/test/haughty.txt;

[2015-08-14 05:19] amjith opened #130 "Support 'system' command"
`system` followed by a command is used to run a shell command.

eg:

[code]

[2015-08-14 05:20] amjith commented on #102
You're right 'system' command is not yet available in mycli.

I've filed a new ticket to track that. https://github.com/dbcli/mycli/issues/130

[2015-08-14 05:41] amjith commented on #124
@datacharmer I've implemented the completions for replication related statements. Please let me know if anything is still missing.

The changes are available in master and you can try it out by installing directly from master as follows:

[code]

[2015-08-14 07:13] datacharmer commented on #124
I see that the at least the following statements are not in the autocompletion:

    # mysql 5.7
    CHANGE MASTER TO  MASTER_AUTO_POSITION=1 for channel 'xxx'
    START/STOP SLAVE FOR CHANNEL 'xxx'

    # mariadb 10.x
    CHANGE MASTER 'yyy' TO MASTER_USE_GTID=current_pos
    START/STOP slave 'yyy'
    SHOW ALL SLAVES STATUS

[2015-08-14 08:11] amjith commented on #124
Looks like I shouldn't blindly copy the terms in for the suggestion candidates. I hadn't anticipated the difference between MariaDB and MySQL. I might run a help command and try to parse the output to populate the possible candidates. Thank you for testing it and providing quick feedback. I'll work on it more and get back to you.

[2015-08-14 08:33] liveNo opened #131 "Mycli python error"
When I use mycli, appeared error:

Traceback (most recent call last):
  File "/usr/bin/mycli", line 9, in <module>
    load_entry_point('mycli==1.3.0', 'console_scripts', 'mycli')()
  File "/usr/lib/python2.6/site-packages/click/core.py", line 664, in __call__
    return self.main(*args, **kwargs)
  File "/usr/lib/python2.6/site-packages/click/core.py", line 644, in main
    rv = self.invoke(ctx)

[2015-08-14 16:42] amjith commented on #131
Sorry about the error. Can you tell me how you launched mycli and what command you ran to produce this error?

It seems like mycli crashed at launch time. If that's true, can you send me the exact command you used to launch it?

Can you also tell me if you installed it via `pip` or `debian` package?

[2015-08-14 20:29] amjith commented on #110
@danieljwest This is also good one to get started. Right now mycli will ask you to confirm before dropping a table or a database. It'll be good to add a config option to make this optional.

[2015-08-15 08:22] liveNo commented on #131
yeah, via pip installed package.

When I execute command mycli connected to the local database, it's OK. But When I connected the remote database, it will report the above error.

 I excute mysql connected remote database, it's normal.

[2015-08-15 15:37] danieljwest commented on #131
The error implies an unexpected charset encoding came back and pymysql is having some trouble with it which would be pretty strange for a list of database names?

Do you have any out of the ordinary database names?
[code]

Also could you run the following on the problem mysql server? Perhaps the character sets are configured differently.
[code]

[2015-08-15 15:43] danieljwest commented on #127
Attempted to reproduce it in tmux, but I was able to see everything fine. I assume it's a theming issue?

[2015-08-16 05:23] #110 closed

[2015-08-17 07:49] aabmass opened #134 "sqlparse version == 0.1.14 necessary?"
I'm just wondering if the version requirement for sqlparse is necessary or if maybe `sqlparse >= 0.1.14` would work?

I am maintaining an unofficial package of mycli for Arch Linux in it's AUR and it would be a little easier with a more flexible dependency. The version of `python-sqlparse` and `python2-sqlparse` in our official repositories is currently `0.1.15`. Also, I see on PyPi that sqlparse

[2015-08-17 14:20] amjith commented on #134
I've bumped it to 0.1.16.

It was pinned to 0.1.14 because there was a bug in 0.1.15 that caused the completions to break. So I had to pin it. But it is now fixed in 0.1.16.

[2015-08-17 14:28] aabmass commented on #134
Awesome, thank you! Fixed in ff5649792babaaa90cd72f76132bbd0fb16ae387

[2015-08-17 14:28] #134 closed

[2015-08-17 14:41] amjith commented on #108
I've added `source` command to master. This allows you to execute an SQL file from the mycli prompt.

Usage:

[code]

You can install directly from master as follows:

[code]

I'll release the new version to PyPI sometime this week.

[2015-08-17 15:34] aabmass commented on #134
How about the `'prompt_toolkit==0.46` frozen dependency from commit 8800287df7fb67cb20c456e9ddeb47644477d349?

[2015-08-17 16:25] amjith commented on #134
That's a bit more tricky. `prompt_toolkit` is evolving a bit and the APIs are changing. I'm usually pretty good about upgrading prompt_tookit as soon as it comes out. Mainly because the library's author Jonathan sends a PR with the required API changes.

If this is going to be a problem let me know, I'll talk to Jonathan and see what we can do.

[2015-08-17 16:31] aabmass commented on #134
Ah, I see. Don't worry about it, I'll just keep an eye on the changes and work around it for now. Thanks for the help!

[2015-08-18 06:57] jinleileiking commented on #127
When I type "select count(*) from ..." it will show " select count( ) from ..."

[code]

[2015-08-18 06:58] jinleileiking commented on #127
Oh it seem that it is the theme problem . mycli not use default terminal theme ?

My env is : terminator + solarized color theme

[2015-08-21 14:49] cxbig opened #135 "Keyword 'LIKE' is not working well"
The completion of keyword LIKE is not working well.
I have to type the full word to get this completion.
![like-issue](https://cloud.githubusercontent.com/assets/1363706/9411135/993fdcec-4824-11e5-9fa6-da371026c12b.gif)

[2015-08-21 15:09] amjith commented on #135
You're right. I'll investigate why this is the case.

Thank you for reporting.

[2015-08-21 15:11] amjith commented on #135
@darikg I'm noticing this in pgcli as well, which is expected since they use the same completion engine. I think this started after we added the extra detection into the WHERE clause. Do you have time to take a look at this?

[2015-08-21 15:51] darikg commented on #135
Sure I'm on it

[2015-08-24 07:33] amjith commented on #135
The latest version of mycli (1.4.0) has a fix for this. Please upgrade.

[code]

[2015-08-24 07:33] #135 closed

[2015-08-24 07:33] amjith commented on #108
The latest version of mycli (1.4.0) has this feature. Please upgrade.

[code]

[2015-08-24 07:33] #108 closed

[2015-08-24 07:34] amjith commented on #16
The latest version of mycli (1.4.0) has a fix for this. Please upgrade.

[code]

[2015-08-24 07:34] #16 closed

[2015-08-24 07:36] amjith commented on #131
Please reopen if you're still having issues.

[2015-08-24 07:36] #131 closed

[2015-08-24 07:37] amjith commented on #127
The colorschemes can be changed via the config file. Please check ~/.myclirc.

The gallery of themes can be found here: http://mycli.net/syntax

[2015-08-24 07:37] #127 closed

[2015-08-25 01:07] yuntas opened #136 "Support \R or prompt command."
# I would like you to add [mysql command](https://dev.mysql.com/doc/refman/5.6/en/mysql-commands.html "mysql command")

[2015-08-25 02:12] amjith commented on #136
I don't understand your request.

Can you explain what exactly you'd like me to add?

[2015-08-25 02:39] amjith commented on #22
This request is address by this issue https://github.com/dbcli/mycli/issues/95

In ~/.my.cnf you can list multiple sections with different databases and credentials.

eg:
[code]

Then you can launch mycli with the following option:

[code]

This will launch mycli and use the credentials from the section called `clientAnotherServer`.

This is available in the latest version of mycli (1.3.0 and abov

[2015-08-25 02:39] #22 closed

[2015-08-25 06:35] yuntas commented on #136
I'm studying MySQL.

So, I'm suggesting because I had to type [\R] command in order to change prompt.

p.s. Do you plan on expanding completion about DCL(Data Control Language, e.g. ROLLBACK, TRANSACTION)

[2015-08-25 14:50] amjith commented on #136
I see. You're interested in getting \R working. You can change the prompt via the config file ~/.myclirc. I'll consider adding support for \R command.

Adding support for ROLLBACK and TRANSACTION should be easy. I'll try and handle that soon.

[2015-08-26 11:48] yuntas commented on #136
Thank you very much, Mr.amjith.

I understood !!

I try to do it.

Is it right that  I change the _.myclirc_ (line 47 ~ 53),

[code]

line 53 [prompt = '\R \t \u@\h:\d>']

??

sorry, I'm fool...

Thank you for your help with this suggestion.

[2015-08-26 14:34] smcdl opened #137 "Can not run 'mycli -u root' and got ImportError: cannot import name inherit"
When I run the command 'mycli -u root' then I got below:
Traceback (most recent call last):
  File "/usr/bin/mycli", line 7, in <module>
    from mycli.main import cli
  File "/usr/lib/python2.7/site-packages/mycli/main.py", line 39, in <module>
    from .lexer import MyCliLexer
  File "/usr/lib/python2.7/site-packages/mycli/lexer.py", line 1, in <module>
    from pygments.lexer import inherit
Imp

[2015-08-26 15:05] amjith commented on #137
Sorry about the trouble.

Can you tell me what is the version of mycli you're using?

Also did you install it using pip or did you install it using brew or deb packages?

My guess is that there is already a version of pygments in your path which is an older version.

Here are a few things to try:

* Try upgrading Pygments. `pip install -U pygments`
* Try installing mycli using easy_install instead

[2015-08-26 15:07] amjith commented on #136
Yes you can change line 53 to set your prompt. Mycli doesn't have all of the supported prompt variables from mysql. You can only use the ones listed in the comments in line 47 - 52.

[2015-08-26 15:19] Tahvok opened #138 "ImportError: cannot import name zip_longest"
Just tried this on clean centos 7.
Used `pip install mycli` to install it.

[code]

[2015-08-26 15:59] amjith commented on #138
Sorry about that.

Looks like Centos is not playing well with pip for some reason. Can you try easy_install?

`easy_install mycli`

Let me know if easy_install works for you.

[2015-08-26 16:20] Tahvok commented on #138
You don't need to apologize, bugs always happen, and we should only be thanking you for this awesome tool :)

Same problem after easy_install:

[code]

[2015-08-26 16:22] Tahvok commented on #138
I need to add that this worked fine on a clean install of centos 7 about a month ago. Not sure what's the difference now.

[2015-08-26 20:16] amjith commented on #138
There are a couple of things you can try.

1. Try installing an older version of mycli.

[code]

2. Try upgrading six, since that seems to be issue.

[code]

You might need sudo for these commands. I'll try to get a Centos 7 VM running to try it locally.

[2015-08-27 01:36] lvht opened #139 "Cannot complete table list for DESC"
After enter `desc`, we cannot get the table list for completation.

[2015-08-27 02:32] kakiezhang commented on #139
you mean “desc table"?

[2015-08-27 02:44] kakiezhang opened #140 "how to show the complete line result"
i have a novice, look the picture i just took like below :
![image](https://cloud.githubusercontent.com/assets/2803225/9511319/026bd716-4ca8-11e5-8908-167157e9f1b4.png)

That query didn't show the entire result in one line, even i know can use the "\G" to replace ";" to show it, but i just wonder how can i watch the whole result in that situation;

[2015-08-27 03:17] spacewander commented on #139
It looks like the problem of `sqlparse`. `sqlparse` doesn't treat `desc table` specially.
I have modified the source code to add this feature for myself:
[code]

This is a hacking way. I don't know if other people can accept it.

[2015-08-27 04:17] lvht commented on #139
:+1: @kakiezhang

[2015-08-27 05:20] amjith commented on #139
@spacewander Do you mind opening a PR with your change?

[2015-08-27 05:23] amjith commented on #140
@kakiezhang You can use the left/right arrow to horizontal scroll the results.

Right now the options passed into the pager makes it so the output doesn't wrap around. But you can change that by pressing `Shift-S` when the pager is active or you can permanently change the behavior by setting the pager value in `~/.my.cnf` under the `[client]` section as follows:

[code]

That will make sure the ou

[2015-08-27 05:59] Tahvok commented on #138
Got it working now. I just played around with different versions of mycli and six.
The same problem came up on older versions of mycli. What fixed it was downgrading six to an older version, and upgrading it after to latest version again. It seems that the first time installing mycli got a corrupted six package somehow.
Just run this commands:
pip install six==1.3.0
pip install -U six

I will crea

[2015-08-27 06:03] kakiezhang commented on #140
@amjith oh, yes, it works, pretty thanks!

[2015-08-27 06:03] #140 closed

[2015-08-27 07:12] Tahvok commented on #138
Confirmed, no problem on a newly installed server. I probably had some corruption during installation of six.
Thanks!

[2015-08-27 07:12] #138 closed

[2015-08-27 15:03] amjith commented on #138
Thank you for digging into this and providing me with the full log, that was very helpful in seeing the complete picture.

Looks like `pip uninstall six && pip install six ` is the key. It's really weird because you're not the first person who ran into issues with six and Centos. But every problem reported about this issue has a different error signature.

I'm glad you got it working. Thanks again

[2015-08-28 06:04] amjith commented on #139
This now addressed by PR #141 from @spacewander.

You can install directly from master to use the new feature.

[code]

[2015-08-28 09:09] lvht commented on #139
:+1: @amjith

[2015-08-29 07:25] yuntas commented on #136
I got it.

Thank you very much, Mr.amjith.

[2015-09-01 04:59] jinleileiking opened #142 "In command line, when press 'enter' it outputs multi blank lines."
[code]

There are a lot of blank lines . Is it ok ?

[2015-09-01 07:07] amjith commented on #142
Typically there should be only one blank line. It's odd that there are multiple blank lines.

When you run a command such as `SELECT 1` does it have any blank lines between the resulting table and the 'Command Time'?

[2015-09-01 07:37] jinleileiking commented on #142
[code]

[2015-09-01 07:37] jinleileiking commented on #142
my env: tmux + zsh + terminator( solarized theme)

[2015-09-01 07:39] jinleileiking commented on #142
It seems this problem is connected to `ssh`,

my env is sshed to the remote terminal, then run tmux, --> mycli .

[2015-09-01 07:40] jinleileiking commented on #142
use local env, there is no blank lines.

[2015-09-01 07:48] amjith commented on #142
Interesting. I just tried by ssh-ing into a vagrant box and opened tmux and launched mycli.

I'm not able to reproduce the multiple blank lines issue. I wonder if this is a weird interaction with character encoding + shell settings.

I don't think this is necessarily a bad thing functionally, but I agree this is jarring in an aesthetic sense.

[2015-09-01 08:34] jinleileiking commented on #142
[code]

I use zsh + oh~my~zsh..

[2015-09-01 14:00] smcdl commented on #137
2015-08-26 23:05 GMT+08:00 Amjith Ramanujam <notifications@github.com>:

[2015-09-01 14:06] smcdl commented on #137
Sorry, I reply you a empty email before. The version of mycli is 1.4.0 .
I install it by pip in the first. I also use the easy_install as you
mentioned, but it doesn't work.
BTW, the pygments was already up-to-date.

2015-08-26 23:05 GMT+08:00 Amjith Ramanujam <notifications@github.com>:

[2015-09-01 14:56] amjith commented on #137
Try uninstalling completely and then reinstalling.

[code]

[code]

I have a suspicion that pygments is corrupted. So uninstalling it first and then reinstalling mycli (which will install pygments as a dependency) might be able to fix it.

[2015-09-02 01:10] smcdl commented on #137
Hi Amjith Ramanujam

Great, you fix my problem perfectly. Thank you very much.
There was another question when I run mycli, the program show me a warning
message like this:

/usr/lib/python2.7/site-packages/mycli-1.4.0-py2.7.egg/mycli/main.py:565:
Warning: Click detected the use of the unicode_literals __future__ import.
This is heavily discouraged because it can introduce subtle bugs in your
code

[2015-09-02 02:54] amjith commented on #137
Yes that warning will be fixed in the next release.

[2015-09-02 04:56] amjith commented on #142
You've stumped me. I have no idea why this is different for the ssh session. I would suspect it is due to the terminal settings, but I can't reproduce it locally.

It's not something that is harmful or impacts the performance or even wide spread. So unless you can debug this further, I'm going to close the issue for now.

[2015-09-02 04:56] #142 closed

[2015-09-02 05:02] bcho opened #143 "Unicode literals warning from click"
When using mycli with click 5.0, it will show a warning about the use of unicode literals:

[code]

It seems to safe to disable this warning by:

[code]

[2015-09-02 05:07] amjith commented on #143
Yes. This will be disabled in the next version of mycli. Thanks for reporting it.

[2015-09-02 05:37] bcho commented on #143
@amjith cool! :beer:

via https://github.com/dbcli/mycli/commit/566d0927b2254a425c26f04efd495258cfdb4bff

[2015-09-02 05:37] #143 closed

[2015-09-02 06:41] jinleileiking commented on #142
Ok. Poor me.

[2015-09-03 08:11] amjith opened #144 "Python 3.4 fails to launch with a TypeError"
[code]

This is because of using the `open()` function from the `codecs` module. For regular `open()` it works fine in Python 3.

1. Use regular open() (at least just for python 3).
2. Check if regular open() behaves correctly for unicode chars in the file.

[2015-09-09 12:04] biniama opened #145 "'ascii' codec can't decode byte 0xac in position 0: ordinal not in range(128)"
Hello.

I connected to my database from my terminal (Mac OS) and when I run,
[code]
I got the following error:
[code]

mycli works when I run other commands.

[2015-09-09 23:33] amjith commented on #145
Sorry about the bug. Can you run the same query in the default mysql client and paste the output here?

I'm curious to know what is causing this to break.

Also can you tell me what OS you're using and what version of mycli you're using?

[2015-09-10 16:26] biniama opened #146 "Warning when connecting to database using mycli command"
When I run
[code]
or
[code]
or
[code]

I get
[code]

My OS is Mac OSX Yosmite and Terminal Version 2.5.3 (343.7)

[2015-09-10 16:28] biniama commented on #145
When I run it in the default client, I get the list of jobs.
My OS is Mac OSX Yosmite and Terminal Version 2.5.3 (343.7)

This is the tool I have been waiting for to have and I am interested if it works.
Thanks for developing it and the help.

[2015-09-10 16:30] amjith commented on #146
This is fixed in the latest version of mycli. But I haven't release it yet. It's a harmless warning and it won't affect the operation of the program.

Thanks for reporting.

[2015-09-10 16:35] amjith commented on #145
@biniama I wanted to see the output because the error you're getting is due to unicode decoding issues. I'm assuming that the results has non-english characters. But if it is encoded with utf-8 then it should work.

Can you tell me what is the default encoding for the database? You can find that information using the following query:

[code]

[2015-09-10 16:50] #146 closed

[2015-09-10 16:51] biniama commented on #146
Alright. I will wait for the next release.

[2015-09-10 16:52] biniama commented on #145
You are right and so smart.
It is because the character set is latin.
[code]

Is there a way to pass a parameter to render as unicode? Or what shall I do?
Thanks.

[2015-09-10 18:15] amjith commented on #145
@biniama I knew that choosing utf-8 was going to come back and bite me. Here's a work around:

Open your `~/.my.cnf` file (create this file if it doesn't exist already) and set the default encoding in that file as follows:

[code]

If you already have that file, then add the `default-character-set = 'latin1'` line under the `[client]` section.

This will force mycli to use latin1 as the encoding.

[2015-09-11 00:08] gled-rs commented on #18
reported as working correctly patching mycli/sqlexecute.py

Thanks @grooverdan

[2015-09-13 18:20] dveeden opened #148 "Use unicode drawing to draw tables"
Maybe you can do something similar to this:
https://bugs.mysql.com/bug.php?id=77279

[code]

[2015-09-13 18:22] dveeden opened #149 "The width of some unicode characters is wrong"
Data: https://github.com/dveeden/mysqlunicodedata

In general mycli is better in figuring out the correct width of a column, but not always.

[code]

[2015-09-13 18:40] dveeden commented on #148
This is what `\T fancy_grid` does...

[2015-09-13 18:40] #148 closed

[2015-09-13 20:06] amjith commented on #148
You can also the change the table format in the config file `~/.myclirc` to make it permanent.

[2015-09-13 20:24] amjith commented on #149
This seems like an issue with the upstream library [wcwidth](https://github.com/jquast/wcwidth). This library is used to determine the display length of a string with unicode chars.

I'd highly encourage filing an issue with that library.

[2015-09-15 11:48] dbolser opened #151 "ctrl-w ctrl-w then ctrl-y"
In emacs this will eat the last two words then paste them both. In mycli it eats two words then pasts only the last one eaten.

This is essentially the same as the ctrl-w fixed EditLine behaviour of the 5.6 client (which drove me here in the first place :-(

Awesome tool otherwise :-)

[2015-09-15 13:03] tsroten commented on #94
I would also love to see `~/.mylogin.cnf` support so passwords aren't stored in plaintext. @jedy [provided the Python code to decrypt `~/.mylogin.cnf`](https://github.com/dbcli/mycli/issues/17#issuecomment-104175743).

[2015-09-15 18:05] amjith commented on #94
@tsroten I'd be willing help shepherd a PR from you or anyone else. :)

[2015-09-15 18:06] amjith commented on #151
@dbolser The emacs copy/paste behavior is from prompt_toolkit the underlying library that powers mycli.

You might want to file a bug with prompt_toolkit (https://github.com/jonathanslenders/python-prompt-toolkit).

[2015-09-16 08:48] dbolser commented on #151
Thanks Amjith!

On 15 September 2015 at 19:07, Amjith Ramanujam <notifications@github.com>
wrote:

[2015-09-16 08:51] dbolser-ebi commented on #151
https://github.com/jonathanslenders/python-prompt-toolkit/issues/158

[2015-09-16 12:22] tsroten commented on #94
Okay, sure. I'll submit one.

- Thomas

[2015-09-17 05:39] amjith commented on #145
@biniama Were you able to get it working by setting the character set to 'latin1' in your my.cnf file?

[2015-09-17 05:40] amjith commented on #151
Looks like it is now fixed. :)

Thanks for reporting it. I'll update to the new version of prompt_toolkit when it is released.

[2015-09-17 05:40] #137 closed

[2015-09-17 05:41] #139 closed

[2015-09-17 05:42] amjith commented on #149
@dveeden Thank you for reporting it to wcwidth. I appreciate you taking the time to test it. :)

[2015-09-17 13:37] biniama commented on #145
I added that to .myclirc and added .my.cnf under /User/username but the same error is happening.

[2015-09-17 17:54] tsroten commented on #144
I've had success with using `io.open()`. It works well on Python 2 and 3. It supports the *encoding* parameter, which defaults to whatever `locale.getpreferredencoding()` returns. In Python 3, `io.open()` is simply an alias for the built-in `open()`.

So, maybe instead of `from codecs import open` you could try `from io import open`.

[2015-09-17 20:38] amjith commented on #145
Adding it to `~/.myclirc` won't work. But adding it to `~/.my.cnf` should work. Did you add it under the sub-section `[client]` ? It should look like this:

[code]

[2015-09-18 04:50] amjith commented on #144
Thank you for researching this. I think the io.open() will work very nicely. I'll make that change. :)

[2015-09-18 04:57] amjith commented on #144
This is now fixed in master 3153fc9348ae6e2b38aea550970e1cbc5df7847b. Thanks @tsroten for the tip.

It will be released in the next version.

[2015-09-18 22:50] scottchiefbaker commented on #69
I agree this would be a great feature. A simple `while()` loop with a `sleep()` inside would be sufficient.

[2015-09-21 09:47] lhw opened #154 "Click >= 5.0 is unhappy with unicode_literals import"
[code]

And the relveant section from that URL: http://click.pocoo.org/5/python3/#unicode-literals

[2015-09-21 10:25] lhw opened #155 "mycli crashes with pymysql 0.6.2"
The bug which caused the crash with `pymysql 0.6.2` (#83) still exists. `pymysql 0.6.6` only handles it gracefully. ConfigObj is unable to parse the MySQL config files. Which later on caused a crash with pymysql not handling an empty field/fields correctly. Version here is `mycli 1.4.0`
[code]
My current config is basically the standard MariaDB config, I put them up in a gist here: https://gist.gi

[2015-09-21 13:11] tsroten commented on #155
I'm surprised ConfigObj doesn't support this. Would assigning it a boolean value be a possible workaround? Boolean values are [permitted values for `skip-external-locking`](https://dev.mysql.com/doc/refman/5.0/en/server-system-variables.html#sysvar_skip_external_locking).

[2015-09-21 14:00] lhw commented on #155
Yes it does indeed work. I tested it earlier. It's basically just a short form for `skip-external-locking = on`. I think writting a simple extended validator for ConfigObj might work.

[2015-09-21 20:27] amjith commented on #154
Yes. This is fixed in the master. It'll be resolved in the next release. Thanks for reporting.

[2015-09-21 20:27] #154 closed

[2015-09-22 01:35] tsroten commented on #155
Hmm, [it doesn't appear to be that easy](http://configobj.readthedocs.org/en/latest/configobj.html#validation).

It looks to me like validation is for validating a value, not parsing the actual config file. The logic that creates the error you see above is built into the `ConfigObj` class. So, we would actually need to extend the entire class.

[Here](https://github.com/DiffSK/configobj/blob/maste

[2015-09-22 02:30] amjith commented on #155
@tsroten Thank you for digging into this. You're both right that ConfigObj doesn't parse a line that is not in the format of `key = value`. But I thought it would skip over those errors and continue parsing the file to the end. This is a snippet from their docs:

[code]

So I'd like to understand the issue here.

@lhw You said the pymysql crashed later because of empty values, can you tell me what

[2015-09-22 06:35] flyingfoxlee commented on #145
+----------------------------+------------------------+
| @@character_set_database   | @@collation_database   |
|----------------------------+------------------------|
| utf8                       | utf8_general_ci        |
+----------------------------+------------------------+
I have the above encoding setting, still I got this error.

[2015-09-22 06:53] lhw commented on #155
Your conclusion is probably correct. Even in case ConfigObj does fail to completely read the config file it should still work according to the debug log.
Here is the actual error:
[code]

[2015-09-22 12:08] JayMiao opened #156 "why there is a "percona" at the begining of every input line ?"
Can I hide it ?
It shows like this.
percona vip@192.168.0.1:premium>

[2015-09-22 13:23] tsroten commented on #156
@JayMiao `percona` is the product type (other examples include mysql and mariadb). You can hide it by [modifying your `~/.myclirc` per the documentation](http://mycli.net/config). Specifically, you might try changing this line:
[code]

to something like this:
[code]

[2015-09-22 15:04] amjith commented on #155
@lhw The error you've pasted above points to the connection object being stale. Also the show_candidates() is the first query we make to the database to populate the completion values that come after the `SHOW` keyword. So clearly the connection object is bad which caused the crash when we tried to use it for the first time.

Can you try this experiment in a Python repl?

[code]
That is executing

[2015-09-23 00:28] tsroten commented on #145
@flyingfoxlee Could you please be more specific -- what encoding setting do you have? Post the relevant portion of your `~/.my.cnf`.

[2015-09-23 02:13] amjith commented on #145
@flyingfoxlee That's very surprising that it is still broken. Can you tell us if you have a specific charset in your config file? Typically the charset is specified in your `my.cnf` using `default-charcter-set` option. This file can be located in the following locations:

[code]

If you don't have that line in your config file, try adding it yourself and setting it to `utf8` in your `client` secti

[2015-09-23 03:03] tsroten commented on #155
I requested the optional value feature on the ConfigObj project, https://github.com/DiffSK/configobj/issues/95. Another option if that doesn't pan out is using the built-in `configparser`, which does support optional values (it assigns them a value of `None`, which could be easily changed to `True` if needed).

[2015-09-23 07:06] lhw commented on #155
The query does work fine with pymysql 0.6.2
[code]

[2015-09-23 15:18] tsroten commented on #155
@amjith It looks like pymysql < 0.6.6 does not fully support using `Cursor` in a `with` statement. The `__enter__` and `__exit__` magic methods were [added to `Cursor` in 0.6.6](https://github.com/PyMySQL/PyMySQL/commit/bd29e7ef968ec82774cc869c60a1e9c9809e6f51).

[2015-09-23 16:24] amjith commented on #155
Aha. I was indeed confused. I think I'm with you guys now. :)

So the problem is, mycli won't work with Pymysql 0.6.2 but 0.6.2 is the only version available in debian as a deb package. That is unfortunate.

We rely on context managers quite a bit and I'm not sure it is worth rewriting pieces of mycli to accommodate older versions of pymysql. What will it take to update the debian package of pymys

[2015-09-23 16:46] tsroten commented on #155
I have no idea how easy/hard it is to get Debian to add newer packages to their repositories.

Potentially, another option is to create a `cursor.py`:
[code]

Then, we'd change `mycli.sqlexecute`:
[code]

We would have to run some tests, but it looks like those are the only changes needed to make `Cursor` support the `with` statement. @amjith What do you think? Any idea how easy it would be to get

[2015-09-23 17:03] amjith commented on #155
@tsroten If you think the change is simple enough, go ahead and make a PR and I'll test the heck out of it and merge it in.

I don't know how long it takes to update debian repos, @lhw might know the answer to that.

[2015-09-23 18:50] lhw commented on #155
Hm yeah I found those yesterday but I was sure I found the with operator functions in my file. Must have had 0.6.6 still installed. My bad.

@tsroten I opened a bug report on python-pymysql in debian for the update ([bugs.debian.org](http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=799776)). But depending on the maintainer it might take from a few days to months for an answer. It might be easier t

[2015-09-23 19:42] lhw commented on #155
I added it as a patch to my package for now. So you won't need to include in the repository [debian/patches/pymsql-0.6.2-compat.patch](https://github.com/lhw/debian-mycli/blob/master/debian/patches/pymsql-0.6.2-compat.patch).

One error still remains. On close the __del__ still tries pack method on None.
[code]

[2015-09-23 20:35] tsroten commented on #155
Here are two versions of the method `pymysql.connections.Connection.__del__`. The first is from 6.6.2 and the second is from the current `master` branch.

Version 6.6.2:
[code]

Current master:
[code]

You might want to create a patch that subclasses `pymysql.connections.Connection` and overwrites the `__del__()` magic method to look like the second so it handles the errors gracefully. That would

[2015-09-24 00:00] tsroten commented on #151
@amjith Looks like it was released in [0.51](https://github.com/jonathanslenders/python-prompt-toolkit/commit/d2278549da0787c541185bcd5d6660fbb5140da6). But, now it's up to [0.52](https://github.com/jonathanslenders/python-prompt-toolkit/commit/949390c30af57b48e1738a7105ecc4d9afb835ad).

mycli is using 0.46. According to [python-prompt-toolkit's CHANGELOG](https://github.com/jonathanslenders/pytho

[2015-09-24 00:07] amjith commented on #151
@tsroten The author of prompt_toolkit @jonathanslenders created a PR against pgcli (https://github.com/dbcli/pgcli/pull/362) this morning. I haven't had a chance to review it, but that might be a good starting point to start the upgrade in mycli.

[2015-09-24 00:09] amjith commented on #155
Should we roll this into mycli master so @lhw doesn't have to patch it in his version?

[2015-09-24 00:13] tsroten commented on #145
@biniama Any luck?

[2015-09-24 00:51] tsroten commented on #151
@amjith Yes, great! @jonathanslenders I noticed you didn't wrap the `PostgresLexer` in a `PygmentsLexer` class. Would you recommend us wrapping `MySqlLexer` in a `PygmentsLexer`?

[2015-09-24 01:03] tsroten commented on #155
@amjith Sure. Loosening up the pymysql version dependency would be nice. I'll work on it.

[2015-09-24 02:16] tsroten commented on #155
@amjith I've added all of the above changes into the [`issue_155` branch](https://github.com/dbcli/mycli/tree/issue_155).

@lhw If you could test it on your system using PyMySQL 0.6.2, that would be great. Let me know what errors, if any, you get. I still can't replicate your `Exception AttributeError: "'NoneType' object has no attribute 'pack'"[...]` error.

[2015-09-24 04:57] amjith commented on #156
@JayMiao I hope @tsroten's suggestion solved the issue for you.

If not please feel free to reopen the issue.

[2015-09-24 04:57] #156 closed

[2015-09-24 11:29] lhw commented on #155
I added your graceful exit patch to the package. It now works completely fine on debian/unstable. There don't seem to be any issues with prompt_toolkit 0.50 either. Same as pgcli.

You can check out the from (https://github.com/lhw/debian-mycli)[lhw/debian-mycli]. You can build it with git-buildpackage or dpkg-buildpackage. Package dependencies are all based on unstable packages. So you need them

[2015-09-24 18:36] jonathanslenders commented on #151
@tsroten : Good catch. I updated the pull request.

It's indeed better to wrap a pygments lexer classes in ``PygmentsLexer``. In order to stay backwards compatible, it's still allowed to be used directly. Maybe I remove that in the future.

[2015-09-25 05:51] amjith commented on #155
This is now fixed in master. We'll release a new version soon.

[2015-09-25 05:51] #155 closed

[2015-09-25 05:52] amjith commented on #151
@tsroten Are you planning to work on the upgrade? I don't want to duplicate our efforts. Let me know.

[2015-09-25 05:54] #144 closed

[2015-09-25 11:36] tsroten commented on #151
@amjith I would love to, but I won't be able to get to it until next week. I am moving this weekend!

If you can't get to it before then, I'll work on it.

[2015-10-02 10:38] alasdairdc opened #161 "System wide myclirc"
Should create a default myclirc in /etc/defaults (on Debian based distros) when can then be overriden by the users ~/.myclirc if they wish to change the behaviour.

Will make it easier for SysAdmins to control users setup.

Additional option to disable checking/parsing of ~/.myclirc in system wide config would also be great.

[2015-10-02 10:43] alasdairdc opened #162 "Feature Request: Config setting to quit on server disconnect"
I realise you prompt to reconnect to server when its gone away (#26)

Would it be possible to have a config setting to force quit the client when the server idle timeout has been reached and it has 'gone away'?

[2015-10-03 03:57] amjith commented on #162
Can you give me a use case for this? I'd like to keep the number of configurable options to just the essentials. So if you can give me a good enough reason to do this, I'll be happy to oblige.

[2015-10-03 05:31] amjith commented on #161
This is definitely possible but can you tell me why we'd need a system wide config file? All the config options are for personal fine tuning such as what keybindings to use or the syntax color theme etc. It seems too restrictive to disallow honoring the local ~/.myclirc.

[2015-10-05 02:38] alasdairdc commented on #161
Technically a system-wide config is not needed but it would make sysadmins job easier if this was the default file created as then if the sysadmin decides to install mycli across all servers they managethis would allow a consistent setup for all users e.g. defaulting multi_line = True for instance for all users across many systems (e.g. if deployed via puppet) .  The system-wide config becomes the

[2015-10-05 02:44] alasdairdc opened #163 "Last command in multi-command query not executed"
When multi_line is set to true and pasting, e.g.:

[code]

The last command is not executed.

The command pastes on a single line with the semi colon delimiter but the last command is not executed, pasting:

[code]

only returns one resultset from the user query.

EDIT:  This is on version 1.4.0 on Debian Jessie.

[2015-10-05 02:53] alasdairdc commented on #162
I understand the need to keep config options to a minimal and consistent with the builtin cli for mysql.  The use case that irks me most as a SysAdmin is:  I have a bash timeout set which works (and i realise any user could use any program to circumvent this not just a mysql cli client e.g. `vim`, `less`, `tail -f`, etc) but as the only users are within the company (and they are not that crafty to

[2015-10-05 08:58] amjith commented on #163
Yup. This is a bug. It's not even multi-line mode, even without the multi-line mode, it only runs the first command. I think it's because the enter key is interpreted as end of a query and then it runs the query but the second query is abandoned.

I'll see what I can do about this bug.

[2015-10-05 09:31] amjith commented on #161
Yup. That makes sense. I'll add in a check for /etc/myclirc.

[2015-10-05 09:44] amjith commented on #162
I see. Let me explain what it does and maybe that'll assuage your concerns.

When the user first launches `mycli` it will establish a connection with the server and keep that connection alive as long as there is activity from the client. If the idle timeout has reached then the connection will be closed by the server and `mycli` won't try to reestablish the connection automatically.

When the user

[2015-10-05 11:24] amjith commented on #163
@jonathanslenders Can I get some help on this one? I added a `pdb` statement on this line to examine the incoming `document.text` and it only sends me the first statement (`use mysql;`) from this snippet:

[code]

But I checked the behavior on ptpython and pasting multiple lines works as expected. So I'm not sure why it is different on mycli and pgcli.

[2015-10-05 12:35] tsroten commented on #163
This is interesting that you both see this as a bug. Personally, I see this as the desired behavior. Moreover, the `mysql` command-line utility functions this way. So do the PHP and Python command-line interpreters.

I see a common-use case like this: User has a multi-line query they want to paste, then modify, then run. This is how I run a lot of queries.

What you're proposing is adding a charac

[2015-10-05 12:38] tsroten commented on #162
@alasdairdc Are you worried about them keeping SSH connections open or MySQL connections open?

[2015-10-05 12:47] amjith commented on #163
Maybe there is a misunderstanding. What I see happening is the first query `use mysql;` runs, the second query shows up in the prompt but it is not executed and neither can I press enter to run it.

Can you confirm that this is the behavior you're seeing?

[2015-10-05 12:49] tsroten commented on #163
Oh, feel free to ignore me. I had multiline turned off. I see the bug now. Yes, that definitely should be fixed :). @alasdairdc Thanks for reporting that!

[2015-10-05 17:07] alasdairdc commented on #162
@tsroten I'm more worried about the ssh connections staying open due to the mysql client not exiting automatically and thought this would be a feature we could add, say a config variable `exit_on_timeout=true/false` (defaulting to false of course) that exits `mysql` when the timeout is detected thus dumping back to the shell and allowing the shell timeouts to kick them off the ssh connection.

[2015-10-06 12:20] tsroten commented on #162
@alasdairdc I can see what you mean. Users being lazy can certainly contribute negatively to your server's security. At the same time, I wonder if this is better handled in your SSH server config? There are options to handle SSH client idling, client timeout, etc. The problem you are describing is certainly not mycli-specific -- it's SSH-specific. Handling this on the SSH-side seems like the most

[2015-10-07 17:11] amjith commented on #23
@mdsrosa is working on this issue.

[2015-10-10 03:10] tsroten commented on #163
@amjith I'm trying to hunt this bug down. It has something to do with the way that mycli/ptpython handle the newline/enter keybinding. You can see that ptpython has [quite a bit of logic for that key](https://github.com/jonathanslenders/ptpython/blob/cf8350904a824297d480c8c4d6be9f32e8d66121/ptpython/key_bindings.py#L95-L130).

[2015-10-10 04:15] tsroten commented on #163
Okay, so I'm not sure how to fix it, but in the first example above with two statements, the first newline triggers a keybinding event for that first statement only. It's processed. The next statement doesn't trigger an event because there is no newline after it. That's fine, that's how it should be. The problem is that the statement is not pasted onto the next prompt (this is how ptpython and mys

[2015-10-10 04:55] #23 closed

[2015-10-10 08:34] jonathanslenders commented on #163
Sorry about the late reply, I forgot about this issue. Today I don't have much time, but tomorrow I'll have a look. Don't spend too much time looking for it. Jonathan

[2015-10-10 14:53] rehno-lindeque opened #167 "vi-mode dt and df works incorrectly"
In vi-mode with the cursor positioned as follows:

[code]

---

The key-combo `dte` results in:

[code]

and the key-combo `dfe` results in:

[code]

---

The correct result for `dte` should be:

[code]

and `dfe` should be:

[code]

[2015-10-10 18:18] saritasa opened #168 "Postgres!"
Great CLI! Would be nice to have this for postgres as well!

[2015-10-10 18:22] j-bennet commented on #168
There is one.

https://github.com/dbcli/pgcli

[2015-10-10 18:23] #168 closed

[2015-10-11 03:44] amjith commented on #167
You are correct. I believe this is an oversight in prompt_toolkit's implementation of vi-mode. I'll see what I can do about that.

[2015-10-11 22:05] jquast commented on #149
Suggest close: This was resolved with the release of wcwidth 0.1.5 https://github.com/jquast/wcwidth/releases/tag/0.1.5

This can resolved in your environment by issuing command ``pip install --upgrade`` of mycli, its dependency python-prompt-toolkit, or directly wcwidth. Thanks for your time filing detailed report @dveeden !

[2015-10-12 00:43] tsroten commented on #149
@dveeden Thanks for submitting the bug report to wcwidth. And @jquast, thanks for fixing it! Things look resolved, so I'm marking this as closed.

[2015-10-12 00:43] #149 closed

[2015-10-12 22:30] mdsrosa commented on #4
@amjith I just check that functionality. It is already working.
<img width="803" alt="screen shot 2015-10-12 at 7 27 57 pm" src="https://cloud.githubusercontent.com/assets/1862239/10440637/7a1b7d96-7117-11e5-8e37-92a424d1c1fb.png">

[2015-10-13 08:36] amjith commented on #4
Thanks for checking this one. I'll close the issue.

[2015-10-13 08:36] #4 closed

[2015-10-13 14:15] mdsrosa commented on #94
@tsroten Nicely done!
Well, If has already been merged. I think we can close this issue, correct? :)

[2015-10-13 14:18] j-bennet commented on #94
Correct!

[2015-10-13 14:30] amjith commented on #94
Yes this feature is complete. But there is one tiny issue. This PR brings in a new dependency pycrypto.

Pycrypto is not an easy package to install on Windows. I'd like to make pycrypto an optional dependency, since it is only used to parse mylogin.cnf which is not used by everyone.

But to answer the question of closing this issue. Yes. I'll close this issue and create a new one to make pycrypto

[2015-10-13 14:30] #94 closed

[2015-10-13 14:33] amjith opened #169 "Make pycrypto optional"
PR #152 brought in the dependency for pycrypto. This is used to parse the mylogin.cnf file.

This is a hard package to install on Windows. So I'd like to make pycrypto an optional dependency. When pycrypto is installed we can read mylogin.cnf, when it is not available we will skip reading mylogin.cnf but print a warning message at startup that we found a mylogin.cnf file but did not read in the de

[2015-10-13 16:51] j-bennet commented on #169
You mind if I take this @amjith?

[2015-10-13 17:02] amjith commented on #169
It is now yours @j-bennet.

[2015-10-15 13:26] tsroten commented on #162
@alasdairdc I do hope you'll be able to accomplish on the SSH server. I'm going to go ahead and close this issue. If you feel like there is more to be discussed here, feel free to open it back up.

[2015-10-15 13:26] #162 closed

[2015-10-15 14:14] robsonpeixoto opened #170 "Try to connect in a wrong host"
I trying to connect on IP `192.168.99.100` but mycli try to connect in `192.168.99.1`

[code]

Log:
[code]

[2015-10-15 14:15] #170 closed

[2015-10-15 14:23] robsonpeixoto commented on #108
@amjith it will read all file before execute or will read and execute on demand?

[2015-10-15 14:30] amjith commented on #170
That's a pretty serious bug. Since you closed it, does it mean you found a work around?

[2015-10-15 14:31] amjith commented on #108
@robsonpeixoto It will read all of the file and execute it.

When you say "execute on demand" what do you mean by that?

[2015-10-15 17:52] robsonpeixoto commented on #170
Sorry. My bad.

[2015-10-15 21:48] robsonpeixoto commented on #108
Read chunks of the file and execute the SQL comments that was read.
For example, I have an file with 20Gb of data. It'll consume a lot of memory to run.

[2015-10-16 06:28] jkavalik opened #172 "Command Time 0 on MariaDB 10.0"
I ran a query which took around 10s (checked with mysql cli) but the Command Time shows 0
[code]
I verified it with some more queries, the Command Time shows 0 all the time.

Server version is 10.0.21-MariaDB on Ubuntu 12.04

[2015-10-16 10:55] amjith commented on #172
Sorry about that broken timing. We started using generators in mycli for query results and that meant we weren't consuming the results until we started formatting the table. So this resulted in zero time for command time.

I've created a new PR #173 to fix this and consolidate both command time and format time into a single value.

You can try it out yourself by installing it directly from the bra

[2015-10-16 10:59] amjith commented on #108
Unfortunately we don't do partial read and execute for a couple of reasons. Right now the implementation will read the file and pass the contents directly to the database and we're done. If we were to do partial reading, we'd have to parse the contents to determine the end of a query and batch it to the database instance.

I'd prefer not to do that, since that is a source of many bugs, such as par

[2015-10-16 11:03] jkavalik commented on #172
That was fast. And works well. Thank you.
[code]

[2015-10-16 11:48] robsonpeixoto commented on #108
Make sense. Thanks a lot and you are making a great job!

[2015-10-16 12:49] #172 closed

[2015-10-16 16:31] mdsrosa commented on #130
I'm working on this. :wink:

[2015-10-16 22:05] mdsrosa commented on #136
I'm not sure here. Are we going to support the `\R` command?

[2015-10-17 03:11] #106 closed

[2015-10-17 04:27] amjith commented on #136
Yes. The plan is to add a special command called \R to change the prompt during runtime.

[2015-10-19 19:42] mdsrosa commented on #136
Nice! I'll look into this `\R` command to know more about it and maybe add it to mycli. I'll let you know when and if I start implementing it. :)

[2015-10-20 08:00] #130 closed

[2015-10-20 15:01] mdsrosa commented on #136
@amjith I'm working on this. :smile:

[2015-10-20 18:58] #136 closed

[2015-10-21 11:09] lebe-dev commented on #102
solition:
```easy_install mycli```

env: CentOS 6.X+

[2015-10-21 12:43] tsroten commented on #163
@jonathanslenders Any ideas on this one?

[2015-10-23 01:00] tsroten commented on #161
@amjith I was thinking over implementing this, but I'm not sure how this will work. Right now, mycli creates a default config file in the user's home directory. This file needs to be able to override system defaults. So, checking for a system file would be pointless unless we stop creating the config file in the user's directory. What do you think?

[2015-10-23 03:34] amjith commented on #161
That is a good observation.

How about we check to see if /etc/myclirc is available if it is, then we'll copy that file into the ~/.myclirc instead of using our default file.

[2015-10-23 10:28] alasdairdc commented on #161
Instead of creating ~/.myclirc you create /etc/myclirc and parse that always then check for the presence of ~/.myclirc and update the program settings with anything found inside there.

[2015-10-23 10:47] amjith commented on #161
We're not going to have permissions to create /etc/myclirc file, since we don't create that file at install time.

I'd be wary of writing config files in root privileged locations.

[2015-10-23 10:51] alasdairdc commented on #161
you do have permissions to create it install time if installed from the repository https://packagecloud.io/amjith/mycli

[2015-10-23 10:57] amjith commented on #161
Yes. But there are different ways in which people install mycli. One of them is debian packages, but there is also via pip or easy_install, maybe via RPM in the future.

So having it create the files in all of those means is a rather daunting task. We also have to make sure that installing a new version doesn't overwrite the existing file. So I'm going to stick with the simpler approach of creatin

[2015-10-23 11:14] alasdairdc commented on #161
The problem with copying to every users home would be a pain for SAs to maintain in a multiuser environment.

How about only create ~/.myclirc if /etc/myclirc does not exist (leaving it to the SA to create or move his ~/.myclirc to /etc/myclirc).  If /etc/myclirc does exist do not create ~/.myclirc.  If both exist source /etc/myclirc first then update settings with any entries in ~/.myclirc.  This

[2015-10-23 11:29] amjith commented on #161
I think that's a fair request.

@tsroten To summarize, we create the ~/.myclirc file in the home folder only if /etc/myclirc file is not present. I'm open to hear your feedback.

[2015-10-23 11:56] alasdairdc commented on #161
I think thats a decent compromise.  Just trying to make it easier for SAs to manage in a production environment and make it easier for you to get the package accepted to the official Debian / RHEL / Centos / etc repositories.

[2015-10-23 12:10] tsroten commented on #161
That sounds good to me. I'll work on it this weekend.

[2015-10-23 13:25] alasdairdc opened #179 "Unable to pipe input"
Not sure if this already fixed in master or not.  But using Debian Jessie and version 1.4.0 from the repo, attempting to pipe input into mycli

[code]

complains with:

[code]

[2015-10-25 09:37] amjith commented on #179
This feature is not available yet. I've prioritized interactive commands first over the batch processing features like this.

[2015-10-26 11:00] alasdairdc commented on #179
@amjith No problem I wasnt sure if it was a bug or just not implemented yet.

[2015-10-27 20:25] #169 closed

[2015-10-28 22:46] kojustin opened #183 "mycli chomps whitespace when printing tables."
I'm trying to fix some whitespace issues in a table I am working on. There is leading whitespace in some rows, but not in others. mycli hides the difference.

This is what I see with mycli
[code]

In the mysql command line client

[code]

mysql version
[code]

mycli installed from brew on OSX 10.11.1 (15B42).
[code]

[2015-10-29 04:39] amjith commented on #183
Yes. We recently discovered this in our sibling project (pgcli).

I just created a fix for it in a PR (https://github.com/dbcli/mycli/pull/184).

In the meantime you can install directly from the fixed branch to try it out.

[code]

[2015-10-29 18:15] kojustin commented on #183
Yeah that works for me, should this issue be closed?

[2015-10-29 18:44] amjith commented on #183
It is now merged into master.

[2015-10-29 18:44] #183 closed

[2015-11-02 13:51] #75 closed

[2015-11-04 10:58] Petrox opened #189 "Click detected the use of the unicode_literals future import. This is heavily discouraged because it can introduce subtle bugs in your code."
Ubuntu 14.04 (latest cloud vagrantbox + distupgrade)

Installed mycli from apt repository (https://packagecloud.io/)

$ mycli
/usr/share/python/mycli/local/lib/python2.7/site-packages/mycli/main.py:565: Warning: Click detected the use of the unicode_literals __future__ import.  This is heavily discouraged because it can introduce subtle bugs in your code.  You should instead use explicit u"" liter

[2015-11-05 02:02] amjith commented on #189
@Petrox We've fixed this in the master and we're getting ready to release the new version. It will be fixed soon.

[2015-11-05 02:02] #189 closed

[2015-11-05 09:49] Petrox commented on #189
Thank you @amjith. I suspected, that you've seen this already, I just didn't find open issues on the topic. :)

[2015-11-06 18:40] mdsrosa commented on #122
I'm closing this issue since it has already been resolved by #132. :wink:

[2015-11-06 18:40] #122 closed

[2015-11-09 10:56] Knorkebrot opened #190 "check type of cli arguments before using them"
Something like a `Usage: ...` would be nice. At least don't crash :)

[code]

[2015-11-09 11:49] mdsrosa commented on #190
Nice catch, @Knorkebrot! That's really not cool. I'm looking into this right now and I'll make sure that this will be fixed before our next release. Thank you!

[2015-11-09 16:18] mdsrosa commented on #190
This issue has been fixed. Thank you for reporting it, @Knorkebrot! :smile:

[2015-11-09 16:18] #190 closed

[2015-11-09 16:20] Knorkebrot commented on #190
Great :+1:

[2015-11-09 23:46] haidaraM opened #192 "Connect without specifying the port number"
I don't know if this is really a bug or if I missed something but I tried to connect to a database without specifying the port number and I got the following errror :
`%d format: a number is required, not str` . The command was `mycli -h x.x.x.x -u remote_user` where x.x.x.x is an ip address. After I put the port number and it worked.

If I must specify the port number, I think the error message c

[2015-11-10 03:56] amjith commented on #192
It is a bug that was recently introduced in 1.5.0. We'll fix this ASAP.

Thank you for reporting.

[2015-11-10 09:48] haidaraM commented on #192
Cool.

[2015-11-10 14:13] amjith commented on #192
Can you tell me the exact command you used that failed? I'm unable to reproduce the error you're seeing.

[2015-11-10 17:02] haidaraM commented on #192
`mysql -h 192.168.33.10 -u remote_user`. The ip address is the address of a VM on which I installed mysql and configured it to allow remote access.

[2015-11-10 17:20] amjith commented on #192
Here's an example of what I tried:

[code]

[2015-11-10 17:33] haidaraM commented on #192
I don't know what is your configuration but I have a similar error if i try to connect with an user who is not allowed to connect remotely. In my case the root user is not allowed, just the `remote_user`.

[2015-11-10 17:38] amjith commented on #192
Can you post the error messages from both mysql and mycli when you try to connect without the port number?

I'd like to see the error message from both programs.

[2015-11-10 18:15] haidaraM commented on #192
The error and general logs of mysql didn't change when I try to connect without the port number.

mycli printed the following error : `%d format: a number is required, not str` with the same command I posted.

So I think error is in mycli because It looks like mysql has not received the request.

[2015-11-10 18:23] amjith commented on #192
Can you run `pip freeze` and paste the output here? You're right that the error is coming from mycli and it's not even making a call to mysql instance. But the fact that I'm not able to reproduce it is very confusing. So I'd like to see if there is a mismatch in some of dependencies.

[2015-11-10 18:31] haidaraM commented on #192
`Brlapi==0.6.1
Django==1.8.2
Mako==0.9.1
MarkupSafe==0.18
Pillow==2.8.2
PyMySQL==0.6.7
Pygments==1.6
Send2Trash==1.3.0
apturl==0.5.2ubuntu4
certifi==14.05.14
chardet==2.2.1
checkbox-ng==0.3
checkbox-support==0.2
click==4.1
colorama==0.2.5
command-not-found==0.3
configobj==5.0.6
daemonocle==0.8
defer==1.0.6
feedparser==5.1.3
friends==0.1
google-api-python-client==1.4.1
html5lib==0.999
httplib2==0.8

[2015-11-10 18:32] haidaraM commented on #192
[code]

[2015-11-10 19:18] amjith commented on #192
I'm using the same versions and I'm still unable to reproduce it. There are a couple more things I'd like to ask.

1. Do you have a ~/.my.cnf file or a /etc/my.cnf file in your system? Can you paste the non-sensitive portions of that file?

2. Can you try installing version 1.4.0 of mycli (using `pip install mycli==1.4.0`)? I'd like to confirm that this was introduced in 1.5.0.

Thank you!

[2015-11-10 19:59] haidaraM commented on #192
I think the bug was introduced in 1.5.0. I installed the version 1.4.0 and I can connect without the port number.

Otherwise this my `my.cnf` :
[code]

[2015-11-11 04:30] amjith commented on #192
I've reproduced it locally. Looks like the presence of port number in my.cnf file was causing this error.

I'll fix it soon.

[2015-11-11 04:34] amjith commented on #192
I've created a pr to fix this issue #193.

In the meantime you can install the fix from the branch by using the following command:

[code]

That will help me confirm that the fix works.

[2015-11-11 09:30] JayMiao commented on #156
Thanks, it helps.

[2015-11-11 11:25] haidaraM commented on #192
The fix works. I can connect without the port number. :+1:

[2015-11-11 16:56] mdsrosa commented on #192
This has been fixed by #193. Thanks, @amjith!

@haidaraM Thank you for reporting it. Cheers! :smile:

[2015-11-11 16:56] #192 closed

[2015-11-11 22:45] michaelstack opened #195 "--auto-vertical-output support?"
Does mycli have any way to get behaviour similar to mysql's --auto-vertical-output option?

I tried adding it when I start mycli, but got an error:

[code]

[2015-11-12 03:15] amjith commented on #195
We currently don't have this feature available. But it is doable. I'll let you know when the feature is implemented.

[2015-11-13 04:06] ian-paterson opened #196 "error on startup"
When I try to open the program using:
[code]

I'm getting this error
[code]

[2015-11-13 04:08] amjith commented on #196
Yup. That is a bug. Sorry about that. I'll release a fix for it asap.

In the meantime you can work around it by providing a port number in command line

[code]

[2015-11-13 04:10] ian-paterson commented on #196
@amjith Thanks for the quick fix!

[2015-11-13 05:49] dunolie opened #198 "mycli not loading on fresh OSX el Capitan install"
[5079][2:34][me@comp] ~ ▶ brew update && brew install mycli
Already up-to-date.
==> Downloading https://homebrew.bintray.com/bottles/mycli-1.5.1.el_capitan.bottle.tar.gz
Already downloaded: /Library/Caches/Homebrew/mycli-1.5.1.el_capitan.bottle.tar.gz
==> Pouring mycli-1.5.1.el_capitan.bottle.tar.gz
🍺  /usr/local/Cellar/mycli/1.5.1: 556 files, 6.1M
[5080][2:38][me@comp] ~ ▶ mycli
Traceback (most r

[2015-11-13 08:41] amjith commented on #198
Yes. We released a buggy version. Sorry about that. I'm working to fix that soon.

In the meantime you can still use mycli by providing a port number explicitly as follows:

[code]

[2015-11-14 03:33] amjith commented on #196
This is now fixed in version 1.5.2. Please upgrade:

[code]

[2015-11-14 03:33] #196 closed

[2015-11-14 03:35] amjith commented on #198
This is now fixed in version 1.5.2. Please upgrade:

[code]

[2015-11-14 04:33] tsroten commented on #161
@alasdairdc This issue has an [open pull request](https://github.com/dbcli/mycli/pull/200) now. Sorry for taking so long!

[2015-11-16 10:05] #161 closed

[2015-11-16 13:25] alasdairdc commented on #161
@tsroten No problem I understand the juggling everyone does on Github.  Thanks for the integration.

[2015-11-17 05:58] JayMiao opened #202 "Boring Connection reset."
Again, me     :)

vipcenter> select \* from member;
Connection reset. Reconnect (Y/n): Y
Reconnected!
Try the command again.

Why my connection is always be reset, should I change some mysql setting?

[2015-11-17 06:04] michaelstack commented on #195
Thanks.

Looking forward to it!

[2015-11-17 06:12] michaelstack opened #203 "Favorite Queries do not accept \G statement terminator"
I have some queries that use the \G terminator for vertical output. When I try to save one to Favorite Queries I get an error:

[code]

If I replace the \G with a semicolon it saves fine, but the query has output that is more readable in vertical mode.

[2015-11-17 08:45] spacewander commented on #203
To save a favorite query, you need to use `\fs`

And a comon is required since mycli don't add it for you currently.

[2015-11-17 17:31] amjith commented on #202
We currently use a timeout of 1024 seconds. It is the standard timeout used for interactive sessions.

Can you tell me how long does the REPL sit idle before you reach this timeout?

[2015-11-17 17:34] amjith commented on #203
@michaelstack  You're right there is a bug that doesn't allow you to save favorite queries with `\G` in them. I'll see if I can fix them soon.

[2015-11-17 17:40] JayMiao commented on #202
It depends, but I'm sure it is less than 1024. 

I was thinking if the mycli get the colum name or table name using background quick searching to the MySQL. Then the connection will be reset ? Just an assumption. 

—
Sent from Mailbox

On Wed, Nov 18, 2015 at 1:31 AM, Amjith Ramanujam
<notifications@github.com> wrote:

[2015-11-17 17:47] amjith commented on #202
I don't fully understand your question but if you're asking whether mycli gets the column name or table names in a background thread, then the answer is it depends on your mycli version. Starting from mycli version 1.5.0 and above they are fetched in a background thread. But before that it was done synchronously in the foreground.

So if you're using an older version, my recommendation is to upgra

[2015-11-17 23:42] michaelstack commented on #203
@spacewander It looks like I copied in the wrong command. Thanks for pointing that out.

I should have used this one:

[code]

[2015-11-18 15:33] silviabotros commented on #102
As far as I can tell installation of mycli in centos is still broken.

[code]

[2015-11-18 15:44] silviabotros commented on #102
It also just occured to me that maybe my error is because I am missing an expected developer headers package? Can we get more guidance on what the prerequisites for mycli are?

I am happy to create an RPM for the project if I get this working :)

[2015-11-21 13:36] jukebox opened #204 "prompt_toolkit>=0.46"
possible to change setup.py ?

[2015-11-21 15:57] mdsrosa commented on #204
@jukebox Could you please elaborate more your request? Why do we need to accept versions greater than `v0.46`? Is there a feature in the latest version that needs to be taken advantage of on mycli? Because we need to run some tests before doing any change.

[2015-11-22 11:54] loonies commented on #204
The latest _prompt_toolkit_ `0.54` breaks _mycli_. It works with `0.46`.

[2015-11-22 13:50] amjith commented on #204
That exactly why we didn't specify `prompt_toolkit>=0.46`. Prompt Toolkit is an evolving library and the API changes between releases (for a good reason). So it takes a little bit of work to upgrade to the latest.

[2015-11-23 14:15] amjith commented on #102
@silviabotros Sorry about the late reply, I'm traveling a bit and internet is spotty.

`pycrypto` is a newly added dependency to mycli. Can you try installing pycrypto via yum?

You can try: `yum install python-pycrypto`.

I also found this bug report with a possible fix. https://bugs.launchpad.net/pycrypto/+bug/1294670

If you're still having trouble, let me know and I'll try to get a VM running

[2015-11-23 15:45] silviabotros commented on #102
No problem Amijith :)

I actually got past the issue above. I forgot to install the python-devel and that fixed it...I made an RPM from there but it doesnt work yet on centos6.x and that was why I hadn't come back with an RPM

[2015-11-23 16:26] #198 closed

[2015-11-23 21:20] lku commented on #102
On fedora it is python-crypto package: `dnf install python-crypto`

[2015-11-28 08:12] willgarcia opened #206 "Debian build: unmet dependencies"
[code]

[2015-11-29 01:13] #206 closed

[2015-11-30 08:09] JayMiao commented on #202
When I update to 1.5.0. It seems not improve.
Connection reset. Reconnect (Y/n): Y
Reconnected!
Try the command again.

Is there a setting that the mycli can auto-reconnect when connection broken?

[2015-11-30 10:43] blackakula commented on #202
+1
I'm ok with reconnect confirmation. But is it possible to make automatic re-query last command? Native mysql cmd client does this way. Maybe it's possible to add one more config setting to re-query last command on reconnect? It's really boring to recall last command once again.
And it would be also helpful to setup confirmations in different cases with the config settings.

[2015-11-30 13:31] amjith commented on #202
@blackakula Can you tell me how often this happens? I'm surprised that I haven't run into this myself.

The reason for asking you to manually rerun the last command is a safety feature. I'm reluctant to override that with a config value. But if it happens often enough I'll definitely consider it.

What other cases do you want confirmation? Can you please elaborate?

[2015-11-30 13:47] blackakula commented on #202
Hi @amjith

Usually at the beginning of each day (I left my computer on when leaving office). And sometimes during the day. But I never noticed if it less or not than 1024 seconds. On native mysql cli it was not disturbing me, because mysql native client automatically re-connect and repeat the last query without any confirmation.

mycli also require confirmation on drop tables, columns. I apprecia

[2015-11-30 13:56] amjith commented on #202
This is configurable. You can open up the config file located at `~/.myclirc` and set

[code]

[2015-11-30 13:56] amjith commented on #202
I'll consider adding a config value to reconnect automatically.

[2015-11-30 14:14] JayMiao commented on #202
Yep, the perfect mycli is just let me run the query I input and put the reconnect things background.
Possible When I turn on the auto-reconnect setting, every time execute SQL check the connection and if it's broken just connect background and run my SQL immediately.

 "destructive_warning"  is necessary !!!

[2015-12-10 03:23] #203 closed

[2015-12-17 11:40] asuna opened #211 "error after install mycli using pip"
Hi,
I met error after install mycli, pls help me to solve this.
Thank you.

These are details:

[code]

[2015-12-17 12:35] spacewander commented on #211
Try to Install `wcwidth`?
Run `pip install wcwidth` and see if the problem solved.

[2015-12-17 14:24] amjith commented on #211
@asuna Try installing wcwidth as @spacewander had mentioned. You can also try reinstalling mycli.

[code]

That will uninstall the current copy of mycli and reinstall a new copy with it's dependencies.

[2015-12-17 16:32] asuna commented on #211
@spacewander @amjith Works now. Thank you!

[2015-12-17 16:32] #211 closed

[2015-12-19 02:48] rbro opened #212 "Suggest columns names when typing SELECT query"
Thanks for a great tool.  I noticed that when smart completion is enabled, it doesn't suggest column names after a SELECT unless the FROM part of the query is already entered, which means that you have to enter the FROM table first and then go back to the SELECT to type the column names.  I noticed when smart completion is off, the SELECT will suggest column names from all tables.

Would it be pos

[2015-12-20 00:21] amjith commented on #212
That's a good idea. Thanks for the suggestion. I'll see what I can do. :)

[2016-01-06 00:38] smcdl opened #215 "Very wide data is out of screen."
As it said in title, how to fix this problem, THKS!

[2016-01-06 01:00] tsroten commented on #215
@smcdl - You might try putting [`\G` at the end of your query](http://dev.mysql.com/doc/refman/5.7/en/mysql-tips.html#vertical-query-results). For example:

[code]

Soon, mycli will also support automatic vertical output: https://github.com/dbcli/mycli/pull/205.

[2016-01-06 01:05] tsroten commented on #91
@brewneaux Thanks for taking a stab at this! Any progress?

[2016-01-06 01:18] amjith commented on #215
@smcdl You can use the left/right arrow to scroll horizontally.

If you're not a fan of the horizontal scrolling, then there is one other option. Press Shift-S when the output is shown in the pager. This will switch off the horizontal scrolling in the pager.

[2016-01-07 05:05] #204 closed

[2016-01-07 18:28] diversario opened #218 "Disable pager"
It seems like mycli switches from dumping output on the screen to showing it in a pager depending on how many results are there (?). I almost never want the pager – is there a way to force output to never use it?

[2016-01-07 18:31] diversario commented on #218
Oh, and also – when the pager is used it destroys whatever there was on the screen before it.

[2016-01-09 21:18] tsroten commented on #218
@diversario You're right, it would be nice to have a way of turning the pager off, similar to the official mysql client. I've implemented this and am testing it now.

Regarding the pager destroying what's on the screen. That's annoying to me as well! I'm not sure what the solution to that is, but we can certainly look at it and see what's possible.

[2016-01-09 21:46] tsroten commented on #215
@smcdl Did that answer your question?

[2016-01-22 03:53] michaelstack opened #220 "multiline prompt has insertion point at end of first line"
When I include newlines in my prompt, the resultant prompt looks right, but the insertion point is at the end of the first line.

For example, if I specify my prompt in the config file thus:
[code]

The resultant prompt is:
[code]

It looks ok till I start typing. My text inserts at the end of "firstline". I would expect it to insert at the end of the third line ("> ").

[2016-01-22 10:40] daj0ker opened #221 "[question] How do I enable local-infile?"
As said in the title, I've edited my.cnf to enable local-infile.

After that, <code>$mysql -u username -p --local-infile</code> does the job.

How do I configure mycli to do this?

[2016-01-23 02:55] mdsrosa commented on #220
@michaelstack Well observed. Thank you for reporting this. I'll take a look and try to see what can be done to address that. But I'm not sure that this should be the default behavior. Have you tried on mysql standard client?

[2016-01-23 03:26] amjith commented on #220
@michaelstack This is a known issue which is caused by prompt_toolkit.

I think it is best to file an issue with them. https://github.com/jonathanslenders/python-prompt-toolkit

[2016-01-23 18:48] mikeerickson opened #222 "brew install mycli -- error"
I have performed brew update (twice) and brew doctor but this issue continues to appear

Note: I am installing on linux (hosted on Vagrant)

Last 15 lines from /home/vagrant/.cache/Homebrew/Logs/mycli/01.python:
python
-c
import setuptools, tokenize
__file__ = 'setup.py'
exec(compile(getattr(tokenize, 'open', open)(__file__).read()
  .replace('\r\n', '\n'), __file__, 'exec'))
--no-user-cfg
install

[2016-01-24 12:13] mkody commented on #222
`brew` on linux? Did I miss something?

You simply need to install or update setuptools on python.
To install setuptools on Debian, Ubuntu, Mint or derivated:
`$ sudo apt-get install python-setuptools`
`$ sudo apt-get install python3-setuptools`
And if for some reason it doesn't work on Red Hat-based distributions:
`$ sudo yum python-setuptools`
If you don't have an apt or yum package manager, you

[2016-01-25 17:34] amjith commented on #222
@mikeerickson Were you able to get past the issue, using the instructions from @mkody?

[2016-01-26 02:09] jinleileiking commented on #142
@amjith Can you give me a clue where the code that shows the result of command? I want to debug it by myself

[2016-01-26 02:21] jinleileiking commented on #142
`output_via_pager` will generate the blank lines.

[2016-01-26 02:22] jinleileiking commented on #142
`click.echo_via_pager` will generate the blank lines.

[2016-01-26 02:24] jinleileiking commented on #142
@amjith  `self.output(text)` instead of `click.echo_via_pager` will fix this bug.

[2016-01-26 02:24] jinleileiking commented on #142
main.py 572

[2016-01-26 02:27] jinleileiking opened #223 "can not use `status` cmd."
[code]

[2016-01-26 04:12] tsroten commented on #223
@jinleileiking Thanks for using mycli!

mycli doesn't currently support the `status` command. Let me take a look and see if it's something we could add.

[2016-01-26 04:42] tsroten commented on #221
@daj0ker We don't currently support the `--local-infile` flag.

It shouldn't be too hard to add, though. mycli uses PyMySQL which simply looks for a boolean argument `local_infile`.

[2016-01-26 12:10] tsroten commented on #142
@jinleileiking I'm stumped by those blank lines as well. mycli will soon support turning off the pager so mycli will use `self.output(text)` instead. You can see it here: https://github.com/dbcli/mycli/pull/219

[2016-01-26 12:11] tsroten commented on #215
@smcdl I'm going to close this. If you need something else, feel free to post again!

[2016-01-26 12:11] #215 closed

[2016-01-26 21:35] scottchiefbaker opened #224 "Repeat column headings when using the pager"
When I run a SQL query that returns thousands of rows mycli automatically turns on paging. If I scroll through several pages of data I can no longer see the column headings. If my columns consist of multiple numeric columns it's almost impossible to distinguish one column from the next unless I scroll **all** the way back to the top to read the headings again.

It would be very helpful to re-print

[2016-01-27 03:17] jinleileiking commented on #223
:+1:

[2016-01-28 02:36] tsroten commented on #224
@scottchiefbaker That's a great point. mycli passes off display duties to a pager (defaults to `less`). But, you can use other programs. Here is a way to use Vim to do what you want. While in some regards using vim as a pager like this isn't ideal, in other ways it is very powerful. You can tweak the results inline and write them to a file.

Add the following to your `[client]` section in `~/.my.c

[2016-02-01 11:58] tsroten commented on #221
@daj0ker Some initial tests look promising for this. I'll go ahead and submit a pull request for this.

[2016-02-03 07:48] iamsebastian commented on #215
Is that *scrolling* with the arrow-keys implemented by yourself or is it implemented by `less`? Never tried this out before, because man-pages and most-output are fits within the screen.

[2016-02-05 02:11] tsroten commented on #215
@iamsebastian I believe all the keybindings for the pager are implemented by the pager itself. `less` is the default pager for *nix distributions per the `click` library that mycli uses to print output via a pager. It respects the `PAGER` environment variable as well.

[2016-02-05 08:17] iamsebastian commented on #215
Yes, ok. Never knewn before. Just used `less` for years in vertical scrolling only. Thanks, @tsroten

[2016-02-06 14:56] tsroten commented on #222
@mikeerickson I hope you were able to install mycli. I'm going to close this issue for now. If you have any other questions, feel free to post them.

[2016-02-06 14:56] #222 closed

[2016-02-10 12:26] faizalpribadi opened #231 "source functionality doesn't work"
i'm not sure for this, why source command for import sql file not work ?

[2016-02-10 19:16] amjith commented on #231
It is not yet implemented in mycli. We'll add it to our list of things to do. Thanks for the report.

[2016-02-16 21:36] diversario commented on #202
Yep, I'm so tired of the "Connection reset" message. It's happening almost every single time I get back to the CLI. I would really, really love some setting that makes it never show again and just do the reconnect for me and run my query.

[2016-02-16 23:44] diversario opened #233 "COUNT() returns invalid results"
Using mycli:

[code]

Using mysql CLI:

[code]

[2016-02-17 07:07] amjith commented on #233
That is awful. Thanks for reporting it. I'll take a look.

[2016-02-19 10:48] Niels-NTG opened #234 "Syntax highlighting and smart completion support for OFFSET"
A very small issue, but I've noticed that mycli doesn't highlight or auto suggests the keyword `OFFSET`, commonly used to find the "nth" result of a query. For example:
[code]
…selects the row 10 rows below the result of the query.

[2016-02-22 18:34] gabfl opened #235 "Copy pasted query with blank space before select fails quietly:"
Test table:
[code]

A random query works:

Intput:
[code]

Output:
[code]

When the same query is copy/pasted with a blank space before the select it fails quietly:

Intput:
[code]

Output:
[code]

My mycli options are:
[code]

[2016-02-26 05:44] amjith commented on #234
This is now fixed in master. It will be released in the next version.

In the meantime if you'd like to start using it right away, you can install directly from master using the following command:

[code]

[2016-02-26 08:36] Niels-NTG commented on #234
Great! And just a general thank you; mycli has proven to be a great tool to learn SQL queries for me.

[2016-02-26 08:36] #234 closed

[2016-03-02 11:13] michaelstack commented on #104
+1 for paste mode

[2016-03-05 01:27] tsroten commented on #233
@diversario Does this happen on all tables or a particular one?

[2016-03-05 03:00] diversario commented on #233
I think this happened on two tables but I'm not 100% sure.

[2016-03-05 03:44] tsroten commented on #233
@diversario This is definitely odd behavior.

It would be helpful if you could set the mycli logging level to `debug` and post the relevant portions of the log.

Could you edit your `~/.myclirc` to have `log_level = debug` under the `[main]` section? Also, either set or not what `log_file` is set to. That should make the log more verbose.

[2016-03-05 04:16] tsroten commented on #235
@gabfl Thanks for reporting this! And, sorry for the bug.

When you say "blank space" do you mean an empty line?

[2016-03-05 04:31] tsroten commented on #218
@diversario #237 should address the pager destroying what's on screen.

[2016-03-07 00:20] gabfl commented on #235
@tsroten Yes, I checked again and the bug happens when there is an empty line.

I was able to reproduce it by copy pasting the example I gave above.

[2016-03-07 02:49] amjith commented on #235
@gabfl Can you try the latest version in master? I just tried it on the master version and it works as expected. We upgraded prompt_toolkit to the latest version which fixes a crucial copy/paste bug. So this is not an issue anymore.

You can install from master as follows:

[code]

[2016-03-07 15:40] gabfl commented on #235
@amjith you are correct, I installed the last version from the master and there is no more issue

[2016-03-07 15:40] #235 closed

[2016-03-08 15:30] gawel commented on #18
I've made a script as a workaround. Open a tunnel, read ~/.my.cnf on the remote host and connect using those infos: https://gist.github.com/gawel/190efd5b2109e4872407

[2016-03-09 00:56] gled-rs commented on #18
@gawel You just need to monkey patch mycli/sqlexecute with @grooverdan pseudocode to solve that. The necessary changes in PyMysql and Paramiko are deployed.

No need for a wrapper ;)

[2016-03-09 21:47] amjith commented on #18
You guys are welcome to send me a PR instead of monkey patching it. :smile:

After all this is an open source project.

[2016-03-11 05:41] dhlwing opened #240 "how can i start if i want to contributing"
I'm already clone the code to my computer, but i got this error when i run this code:

[code]

how can i start if i want to contributing

[2016-03-11 05:46] j-bennet commented on #240
Hi @dhlwing, thanks for your interest in being a contributor! We have a step-by-step guide here: https://github.com/dbcli/mycli/blob/master/DEVELOP.rst

In two words, you do not run `python main.py`, you install `mycli` into a virtual environment and run `mycli`.

Good luck!

[2016-03-11 06:06] dhlwing commented on #240
understanding

[2016-03-11 06:23] #240 closed

[2016-03-11 23:09] gled-rs commented on #18
Will do once I get it cleaned, so much hardcoded stuff for now that I would be ashamed to produce a PR ;)

[2016-03-12 18:55] tsroten commented on #233
@diversario I submitted a related pull request about a week ago. Can you try the latest version of mycli from Github and see if the problem persists? Thanks!

[2016-03-12 18:56] tsroten commented on #224
Closing since this is out-of-scope for mycli. Output is currently delegated to a configured pager.

[2016-03-12 18:56] #224 closed

[2016-03-12 20:57] amjith commented on #233
You can install directly from master using this command:

[code]

[2016-03-18 17:41] diversario commented on #218
Great! Is the version with this change available in `brew`?

[2016-03-19 20:14] tsroten commented on #218
@diversario I don't believe so.

@amjith Any idea when the next release will be published?

[2016-03-20 15:35] amjith commented on #218
I'd like to upgrade prompt_toolkit to 0.60 and then do a release.

Hopefully later today.

[2016-03-22 00:54] tsroten commented on #231
@amjith Didn't you implement this [back in August](https://github.com/dbcli/mycli/commit/c4ea29a18bb25705a525607ff221e510ea0fb526)?

[2016-03-22 19:52] meeuw opened #247 "Read Line "Search for command in the history" support"
Would it be possible to implement "Search for command in the history" like read line (and ie. bash):
https://www.gnu.org/software/bash/manual/bashref.html#Searching

The stock mysql command line clients supports this and it's quite handy to repeat and alter commands from your history.

C-R is the default emacs keybinding, bash also has a vi mode which can also search using the / command (set -o vi

[2016-03-22 20:15] mdsrosa commented on #247
@meeuw Hello! and thank you for using mycli.

The feature that you're requesting I think is already available. You can search for previous queries using `Ctrl+R` and down to the status bar will show up a `I-search/I-search backward: ` input field for you to start typing. If that does not behave like you expected, let us know. :-)

[2016-03-22 20:25] meeuw commented on #247
Great! I was using mycli packaged by Fedora but it Ctrl+R didn't work (1.5.2-4.fc23) but mycli installed by using pip works!

Do you know what is missing in the Fedora version so I can file / search for a issue in their bugzilla?

[2016-03-22 20:33] mdsrosa commented on #247
@meeuw Oh, that's good to know!

But I'm sorry, unfortunately I don't know what is missing in the Fedora version. But maybe Amjith can help you out. Any thoughts on this, @amjith? :-)

[2016-03-23 01:15] amjith commented on #247
I wonder what version of mycli was being packaged by Fedora, but this feature has been available for a very long time. Unfortunately I didn't package it for Fedora and some volunteer packaged it. Sorry I don't have more info to provide.

[2016-03-23 01:59] amjith commented on #231
You're correct. :)

Time to close this issue.

[2016-03-23 01:59] #231 closed

[2016-03-23 06:06] jinleileiking opened #248 "Remove newline outputted with blank query"
[code]

[2016-03-23 06:06] jinleileiking commented on #248
version is 16-03-22.  github main version.

[2016-03-23 06:07] jinleileiking commented on #248
Press enter will have a blank line before `Time: 0.000s`

[2016-03-23 20:09] meeuw commented on #247
The spec file for Fedora can be found at:
http://pkgs.fedoraproject.org/cgit/rpms/mycli.git/tree/

I've tested the master branch from this git repository and is has the same error as the Fedora packaged version; When I'm using tag v1.5.2 searching in the history works fine.

I've used git bisect to find the troubling commit and it seems this one:
9c0b65ebb9d8b423c7e7701116dc20bda206296a is the fir

[2016-03-23 22:17] amjith commented on #247
@meeuw You're right. I can't believe it's broken in master. Thanks a lot for running through bisect to pin point the issue. I'll dig into it once I get back from work.

Thank you!

[2016-03-24 10:57] kklepper opened #249 "AWS EC2 Ubuntu"
$ sudo apt-get install python-pip
    $ sudo apt-get install python-dev
    $ sudo pip install mycli
    $ mycli -uroot -p$MYSQL_ROOT_PASSWORD -h172.17.0.4 ci4
    Traceback (most recent call last):
      File "/usr/local/bin/mycli", line 5, in <module>
        from pkg_resources import load_entry_point
      File "/usr/lib/python2.7/dist-packages/pkg_resources.py", line 2749, in <module>

[2016-03-24 12:11] tsroten commented on #249
Hello @kklepper! Thanks for using mycli. Can you try upgrading pip like this: `sudo pip install --upgrade pip`

Then, try `sudo pip uninstall mycli && sudo pip install mycli` to reinstall mycli.

If that doesn't work, can you post the output of `sudo pip list`

[2016-03-24 12:12] tsroten commented on #248
@jinleileiking Thanks for reporting this! Is the expected behavior this?
[code]

[2016-03-24 13:47] kklepper commented on #249
Excellent! Thank you very much!

[2016-03-24 14:08] kklepper commented on #249
Great to work with!

[2016-03-24 14:08] #249 closed

[2016-03-24 15:04] amjith commented on #195
Released as part of 1.6.0. Please upgrade:

[code]

[2016-03-24 15:04] #195 closed

[2016-03-24 15:04] amjith commented on #233
Fixed as part of 1.6.0. Please upgrade:

[code]

[2016-03-24 15:04] #233 closed

[2016-03-24 15:05] amjith commented on #218
Released as part of 1.6.0. Please upgrade:

[code]

Version is not yet available in brew, but a PR has been made and pending approval from brew maintainers. https://github.com/Homebrew/homebrew/pull/50388

[2016-03-24 15:05] #218 closed

[2016-03-24 15:05] amjith commented on #223
Released as part of 1.6.0. Please upgrade:

[code]

[2016-03-24 15:06] #223 closed

[2016-03-24 15:07] amjith commented on #151
Released as part of 1.6.0. Please upgrade:

[code]

[2016-03-24 15:07] #151 closed

[2016-03-24 15:07] amjith commented on #104
Released as part of 1.6.0. Please upgrade:

[code]

[2016-03-24 15:07] #104 closed

[2016-03-24 15:08] amjith commented on #102
Please reopen if the issue still persists.

Released a new version of mycli 1.6.0. Please upgrade:

[code]

[2016-03-24 15:08] #102 closed

[2016-03-24 15:10] amjith commented on #1
This is done by @lhw and an RPM is available in Fedora repositories. http://pkgs.fedoraproject.org/cgit/rpms/mycli.git/tree/

[2016-03-24 15:10] #1 closed

[2016-03-24 15:11] amjith commented on #65
SHOW command now has appropriate completions.

[2016-03-24 15:11] #65 closed

[2016-03-24 15:12] amjith commented on #145
Please reopen the issue if the problem still persists.

[2016-03-24 15:12] #145 closed

[2016-03-24 15:13] amjith commented on #221
Released as part of 1.6.0. Please upgrade:

[code]

[2016-03-24 15:13] #221 closed

[2016-03-24 15:15] amjith commented on #220
Released as part of 1.6.0. Please upgrade:

[code]

[2016-03-24 15:15] #220 closed

[2016-03-29 08:39] jinleileiking commented on #248
@tsroten YES!

[2016-03-31 09:07] sbusch commented on #145
@amjith could you please reopen this issue?

I have the a similiar (the same?) problem, but not for `SHOW DATABASES` but when selecting some (auto-generated) data contained in fields of type "JSON" (`SELECT * FROM MYTABLE`). It definitely depends on the data, because the query does not throw an exception when JSON field is empty (`{}`).

With `mysql` this query just works fine...

Here`s the trace

[2016-04-11 10:01] jinleileiking opened #252 "edit cmdline in vim mode"
Can I edit cmdline in vim mode?

eg dw = delete a word. etc.

[2016-04-11 14:53] bryant1410 opened #253 "Exception after dropping database being used"
The following causes a crash:

[code]

[2016-04-11 16:51] amjith commented on #252
Yes. You can toggle the vim mode temporarily by pressing F4. It will enable vim mode and then you can type `Esc` to go to the normal mode and use the `dw` etc.

If you want to enable it permanently you can set it up in the config file. ~/.myclirc

[2016-04-11 18:58] tsroten commented on #253
Thanks for reporting this @bryant1410. I'm sorry you ran into a bug! Just so we have it, I've pasted the full stack trace below. It looks like the database is successfully dropped. The error comes from the background thread that is refreshing the completion list.

[code]

[2016-04-11 19:42] amjith commented on #253
*Sigh*

I was really hoping mysql wouldn't drop a database that is currently being used, but clearly I expect too much. 😜

[2016-04-12 04:06] tsroten commented on #91
Ok, I'd like to implement this one as I would use it *a lot*. The biggest hurdle I'm seeing is the interface for this feature.

We could do format-specific commands, e.g.:

- `\csv foo.csv select * from foo;`
- `\json foo.json select * from foo;`
- `\xlsx foo.xlsx select * from foo;`

Or, we could do a single command that takes a format, filename, and SQL command (`\o` or `\x`)

- `\o csv foo.csv

[2016-04-12 11:27] jinleileiking commented on #252
@amjith Can I use `/` to search ? It seems can not.

[2016-04-12 16:24] amjith commented on #91
@tsroten There's actually a current PR pending for pgcli that implements something similar.

https://github.com/dbcli/pgcli/pull/483

My preference would be this:

1. Setup the output format using `\T csv`, then setup the output file using `\o foo.csv` and everything after that will go into the file. This will be used for longer sessions.

2. For a temporary run where I want to just dump the outpu

[2016-04-12 16:26] amjith commented on #252
@jinleileiking It does work but it only searches for the search term in the current query, not the whole page.

[2016-04-13 02:48] tsroten commented on #91
@amjith I like that idea.

Without adding any dependencies, we can get these formats pretty easily (not sure if we even want all these export options, just simply pointing them out:

- CSV
- JSON
- TSV
- LaTeX
- HTML

If we introduce a dependency on [Tablib](http://docs.python-tablib.org/en/latest/), we'd be able to standardize the export code to include the above formats in addition to these:

-

[2016-04-13 02:51] amjith commented on #91
I don't have anything against adding tablib as a dependency, as long as it is pure python. If it has a C extension then its a challenge to install on windows.

[2016-04-13 09:24] binarywang opened #254 "error while executing command "sudo pip install mycli""
......
  src/hash_template.c:339: error: for each function it appears in.)
    src/hash_template.c:339: error: ‘m’ undeclared (first use in this function)
    src/hash_template.c:351: error: ‘ALGtype’ undeclared (first use in this function)
    src/hash_template.c:351: error: ‘PyType_Type’ undeclared (first use in this function)
    src/hash_template.c:352: warning: implicit declaration of functio

[2016-04-13 09:29] binarywang commented on #254
And when I use "sudo easy_install mycli", the message seems to be same:

Searching for mycli
Best match: mycli 1.6.0
Processing mycli-1.6.0-py2.6.egg
mycli 1.6.0 is already the active version in easy-install.pth
Installing mycli script to /usr/bin

Using /usr/lib/python2.6/site-packages/mycli-1.6.0-py2.6.egg
Processing dependencies for mycli
Searching for pycrypto>=2.6.1
Reading http://pypi.python

[2016-04-13 09:32] sauloperez opened #255 "auto-vertical-output option in config file"
I just found the `auto_vertical_output` in the readme and it's something that it's going to be very useful for me. What I was wondering is if it's possible to add that option into my `~/.myclirc` or it's only a cli argument. According to my quick search on the codebase, looks like the latter.

[2016-04-13 15:46] amjith commented on #254
Looks like python dev package is not installed on the system.

You can install the python dev package in Redhat/Centos/Fedora using:

[code]

Or if you're using ubuntu you can install it via apt-get as follows:

[code]

[2016-04-14 04:37] binarywang commented on #254
@amjith It works, thanks a lot.

[2016-04-14 04:37] #254 closed

[2016-04-14 06:36] binarywang opened #256 "AttributeError: 'module' object has no attribute 'captureWarnings'"
I have installed mycli on my CentOS 6.7, the python version is Python 2.6.6

but I got this error when trying to run mycli:

[code]

[2016-04-14 10:19] binarywang commented on #256
I tried to update python, but it didn't work.
I have commented the code in line 242 of /usr/lib/python2.6/site-packages/mycli/main.py, and it's ok now.

`  File "/usr/lib/python2.6/site-packages/mycli/main.py", line 242, in initialize_logging
    logging.captureWarnings(True)`

[2016-04-14 10:19] #256 closed

[2016-04-14 19:09] mdsrosa commented on #91
@tsroten @amjith
Sorry for taking so long to respond. We're launching a new version of our product at the company I work for, so things has been crazy around here. 😁

Those are great ideas! But I don't see any advantages in exporting to HTML and TSV. In the other hand, CSV, JSON and LaTeX would be awesome!

[2016-04-16 01:05] amjith commented on #256
Thanks for reporting it. This bug is now fixed in master.

[2016-04-16 01:05] amjith commented on #255
Right now this option is not available via the config file. But it should be easy to add.

[2016-04-17 18:21] sauloperez commented on #255
Cool! I'll try to take a look over the next few days

[2016-04-18 16:27] cxbig opened #257 "no column autocomplete in sum function"
I'm trying to display a database size in a schema by:

[code]

I can get auto-complete for the first element in sum function: `DATA_LENGTH`.
But after the `+`, there is no more auto-complete for `INDEX_LENGTH`;

[2016-04-21 02:58] Sangdol opened #258 "History & Search feature is not working on 1.6.0"
First of all, thank you for the great application.

After I upgraded to v1.6.0, `<C-r>` shortcut is not working anymore. It works well when I use v1.5.2. I read [changelog](https://github.com/dbcli/mycli/blob/master/changelog.md) but I couldn't find something related to this? Am I missing something?

[2016-04-23 21:21] amjith commented on #258
You're right this was broken in the latest release. I'll fix it soon.

[2016-04-24 16:40] bGaetan opened #260 "Cannot use my custom pager"
Hi !

when I try to change my pager like that :  `\P 'grcat ~/.grcat | less -RSFXin'` ,
the following error appear :
`
/bin/sh: 1: grcat ~/.grcat | less -RSFXin: not found
Time: 0.000s
`

I've try whith only `less -RSFXin` so it doesn't work too. Those pagers works well with mysql command

[2016-04-24 16:48] bGaetan commented on #260
My bad, it'works very well. Just do not have to use quote, only `\P grcat ~/.grcat | less -RSFXin`

[2016-04-24 16:48] #260 closed

[2016-05-06 13:34] adamchainz opened #262 "Changelog?"
I can't seem to spot a changelog for mycli on the repo or the docs page. I am upgrading from 1.5.2 to 1.6.0 and can't tell what changed! 🎅

[2016-05-06 13:53] mdsrosa commented on #262
You can find what's new in 1.6.0 here: https://github.com/dbcli/mycli/blob/master/changelog.md

I'll try to make this more visible in the repo's main page.

[2016-05-06 13:53] #262 closed

[2016-05-06 14:18] adamchainz commented on #262
Ah sorry, I'm too used to looking for CHANGELOG or HISTORY or NEWS or CHANGES, my eyes just skimmed over the lowercase names

Pushing it into your PyPI description is imo ideal since half the people visiting the PyPI change care about it

[2016-05-07 11:11] Fale opened #263 "Please upgrade to prompt_toolkit 1.0.0"
As title

[2016-05-07 14:53] re661b opened #264 "Output format disorder when execute the query"
Hi
 I'm using mycli 1.6.0 on my pc. Output format disorder  when execute the query.

mysql version:5.7.12
iterm2 version:2.1.4
![023bd31e-e9a8-4ed2-a9ca-eb1f72418600](https://cloud.githubusercontent.com/assets/12395952/15092753/9367584c-14a5-11e6-9142-0138ab98aa60.png)

Thanks any suggestions

[2016-05-07 15:04] amjith commented on #264
The output looks jumbled because the lines are too long to fit in the screen.

You can rerun your query as follows to get a vertically aligned output:

[code]

That will change the table output to display vertically so you can see the output.

You said you're trying this in your PC, does that mean this is in Windows or is this in Linux? If you're in linux you can press "Shift-S" to disable wrappin

[2016-05-09 03:06] re661b commented on #264
My mistake.I actually used osx 10.11.4 . in the iterm2 how can i fix this.

iterm2 version:2.1.4

thanks

[2016-05-09 06:17] amjith commented on #264
Did you try pressing "Shift-S"? That will make the table not wrap around when the lines are longer.

You can make that a permanent change by adding the following line your ~/.my.cnf file:

[code]

You can also use the `\G` suffix as mentioned earlier to get a better output.

[code]

[2016-05-09 06:51] michaelstack commented on #258
I have also noticed this has stopped working in vi mode with `ESC /<searchterm>`

@amjith I am guessing that you already fixed vi mode in https://github.com/dbcli/mycli/pull/259 ?

[2016-05-09 07:01] amjith commented on #258
Yes it is fixed. You can try it by installing directly from master as follows:

[code]

[2016-05-09 11:15] re661b commented on #264
My problem has been solved

Thank you for your help.

[2016-05-09 11:15] #264 closed

[2016-05-09 12:30] matheus-iclinic commented on #263
@Fale There is already a pull request (https://github.com/dbcli/mycli/pull/261) that will do exactly that. ;-)

[2016-05-09 12:31] mdsrosa commented on #263
@Fale There is already a pull request (#261) that will do exactly that. ;-)

[2016-05-09 13:40] Fale commented on #263
Thanks :). Sorry, for some reasons I did not noticed it when I opened this bug

[2016-05-09 13:40] #263 closed

[2016-05-10 00:20] michaelstack commented on #258
@amjith I installed from master. I can confirm that it is working for me again.

Thanks.

[2016-05-21 19:21] ReneFroger commented on #252
I use gnome-terminal.

Vi mode is enabled. I see it also in the mode line: [F4] Vi-mode.

When I press <kbd>escape</kbd>, I'm still in INSERT mode and can't get into normal mode. Any suggestions? I have also tried other terminals.

I use Xubuntu 16.04 by the way.

[2016-05-22 00:47] amjith commented on #252
@ReneFroger Can you see if you can press Ctrl-[ to simulate the Esc key?

[2016-05-22 17:03] ReneFroger commented on #252
Yes, <kbd>Ctrl-[</kbd> is working. Strangely this is not the case for the <kbd>Esc</kbd> key.

Any way to remap these keys in `.myclirc`?

[2016-05-24 17:05] aabmass opened #266 "Issues with latest 1.7.0 on PyPI"
Just wanted to point out, It looks there is an issue with how `1.7.0` got uploaded to PyPI.

- `pip search mycli` outputs the wrong latest version as `1.5.2` still:
[code]
- searching directly on the PyPI website gives a similar [result](https://pypi.python.org/pypi?%3Aaction=search&term=mycli&submit=search), showing only much older versions.
- The tarball can't be downloaded off of PyPI by the us

[2016-05-24 18:19] amjith commented on #266
@aabmass In my investigation of this issue I accidentally deleted the mycli-1.7.0.tar.gz file and now PyPI won't let me upload it again. 😞

So I've cut a new patch release mycli-1.7.1.tar.gz. It has no additional changes, just the version number has been bumped.

I haven't changed anything with the way I upload files to PyPI. I wonder if the infrastructure for PyPI has changed.

FYI @dbcli/mycli-c

[2016-05-25 18:20] aabmass commented on #266
Thanks for getting back to me @amjith! I'm not sure if it solved all of those problems, `pip search mycli` still gives me
[code]

Also, check out how the url works for `1.5.2`:
- https://pypi.python.org/packages/source/m/mycli/mycli-1.5.2.tar.gz vs.
- https://pypi.python.org/packages/source/m/mycli/mycli-1.7.1.tar.gz

On the up side, it looks like `pip install` does get the right version &mdash; i

[2016-05-25 18:41] amjith commented on #266
I suspect this is a PyPI anomaly. I believe that they changed the way the tarballs are stored in the backend which probably messed up the urls.

I noticed that `pip install mycli` gets the right version but the url to the mycli tarball has a guid in the path.

[2016-05-25 19:16] aabmass commented on #266
Ah, understood. I'll just hard code it for now. Thanks you!

[2016-05-25 19:16] #266 closed

[2016-05-27 16:56] ReneFroger commented on #252
Any suggestion?

[2016-05-27 18:32] amjith commented on #252
I don't have any thoughts off the top of my head. I strongly suspect it has
to do with gnome terminal settings.

I'm unable to dig in at the moment. (Dealing with a newborn).

One alternative is to try this on ptpython and if the problem persists then
it has to do with prompt-toolkit.
On May 27, 2016 9:56 AM, "ReneFroger" <notifications@github.com> wrote:

[2016-05-27 19:57] ReneFroger commented on #252
Congratulations with your newborn!  :smiley: !

Where are the keybindings of mycli REPL located? Then I will trying to figure out how to modify them.

[2016-05-27 20:22] amjith commented on #252
https://github.com/dbcli/mycli/blob/master/mycli/key_bindings.py

But some of the basic bindings for the Emacs and Vi mode are coming
directly from prompt-toolkit.
On May 27, 2016 12:58 PM, "ReneFroger" <notifications@github.com> wrote:

[2016-06-01 10:49] seschwar commented on #18
@gled-rs: How's progress on the clean up? I'd love to see this feature included.

[2016-06-05 09:11] huihuidaxia opened #269 "How can i use ssh Tunnel?"
RT?

[2016-06-08 05:30] jmjpro opened #271 "display login-path within prompt"
I saved a DB connection to mysql config like this:

`mysql_config_editor set --login-path=qa --host=qa.domain.com --user=mysql_user --password`

Now I connect using mycli like this:

`mycli --login-path qa`

Can I configure mycli to use the login-path `qa` in the prompt? The issue is that the hostnames for AWS are really long.

[2016-06-08 13:31] amjith commented on #271
Can you elaborate a little bit about the request? When you say "use `qa` in the prompt", do you mean show `user@qa:dbname>` or something else?

Also the title of the issue said something about using a nickname in the config file. I don't understand that request.

[2016-06-09 11:41] jmjpro commented on #271
@amjith, I changed the issue title. You're right, I like to display `user@qa:dbname`

[2016-06-12 03:40] amjith commented on #271
This might not happen right away, but I'll keep this in the back log to implement. Thanks!

[2016-06-13 03:02] aa1143 opened #273 "Can mycli support UTF8 ？"
can mycli support options this 【--default-character-set=utf8 】 ？

i try then get error msg : Error: no such option: --default-character-set

[2016-06-13 22:35] j-bennet commented on #273
`mycli` does not copy all options exactly from `mysql`. Current list of available options:

[code]

[2016-06-13 22:56] schmeic opened #274 "what is the FREEZE keyword?"
When I type "SELECT * F" the auto complete choices are "FREEZE" and "FROM".

What is FREEZE?  As far as I can tell, it's not a mysql keyword:
https://dev.mysql.com/doc/refman/5.7/en/keywords.html

[2016-06-13 23:16] amjith commented on #273
@aa1143 Although we don't currently have that as a command line option you can still specify that in the `~/.my.cnf` file as follows:

[code]

It will be honored by mycli.

[2016-06-13 23:28] j-bennet commented on #269
Something like to set up the tunnel:

[code]

Then connect to mysql as if it was running on localhost:

[code]

It's not specific to `mycli`, you'd use the same with `mysql`.

[2016-06-14 02:17] j-bennet commented on #253
Funny enough, `mysql` can do it and not hiccup. I'll copy the same behavior to `mycli`.

[code]

[2016-06-14 18:49] amjith commented on #274
That was a mistake. It was ported from pgcli. You're welcome to submit a PR to remove it from the list. Here's the file that has the list of keywords: https://github.com/dbcli/mycli/blob/master/mycli/sqlcompleter.py#L29

[2016-06-24 20:49] danielkolkena-taulia opened #278 "sproc support"
I noticed there's no auto-complete for stored procedures. Would it be possible to get an autocomplete dropdown of available procedures after `CALL`?

[2016-06-29 19:57] amjith commented on #278
Valid request. I'll see what I can do.

[2016-06-29 23:12] danielkolkena-taulia commented on #278
Thanks!

[2016-07-03 10:12] kkdd opened #279 "memsql (InternalError: (1049, u"Unknown database 'mysql'"))"
mycli seems to work with memsql. The following error, however, displayed at launching:

[code]

[2016-07-04 08:13] dc-psv opened #280 "Error: 'ascii' codec can't encode characters in position 83-89: ordinal not in range(128)"
Hello,

I got error message when trying to select anything from my table. It's remote server. My command is simple:
`SELECT * FROM orders ORDER BY id DESC LIMIT 3;`

Got this:

Btw, possible it contains something in unicode. Is there any solution to fix it?

[2016-07-04 08:32] dc-psv commented on #280
I had fixed it. Btw, on MacOS install with brew will select Python 2.7, so there is a trouble. I had reinstall it using pip3 with Python3 and all is fine right now.

Thanks.

[2016-07-04 08:32] #280 closed

[2016-07-06 14:18] romuald opened #281 "Read more options from my.cnf"
Just a list of options I'm currently using and that would be nice to have automatcially in mycli

[code]

They all seem to work nicely within the CLI, but aren't loaded automatically

[2016-07-07 08:07] grafa opened #282 "Weird history bug"
Hi there,

when I submit an SQL it I get the results but the SQL doesn't dismiss from the "input line". Also, when I do search in history (arrow up), I get random SQL from my history, but def not the last ones.

Whole mycli was working right for like a month but then this starts happening.

[code]

[2016-07-08 04:54] amjith commented on #282
What version of mycli are you using?

This is the first time I've heard this complaint.

The history file is stored in the home folder ~/.mycli-history, you can check the entries in there yourself and check if you're getting the right results when you press up-arrow.

[2016-07-08 04:57] amjith commented on #281
The pager option in the my.cnf is already supported by mycli. But we only read the [client] section of my.cnf not the [mysql] section. So try moving the pager line under the [client] section.

We will consider expanding the my.cnf support to add the other options as well.

[2016-07-09 06:16] grafa commented on #282
[code]

I guess the thing is when I enter and submit a SQL it just do not clean itself up from the prompt. How I've said, the whole thing was working but then I've upgraded MySQL....

[2016-07-11 04:23] georgexsh opened #283 "Ctrl-p / Ctrl-n can not move in history"
Ctrl-p / Ctrl-n will trigger auto-completion options rather than navigate history, which is different from other REPL with readline lib, ref:
http://tiswww.case.edu/php/chet/readline/rluserman.html#SEC15

Version: 1.7.1

[2016-07-11 04:29] georgexsh opened #284 "Auto reconnect when connection is lost"
Original mysql command line tool will try to reconnect automatically if connection is lost, but mycli will not.
What if offer an option to auto reconnect?

Version: 1.7.1

[2016-07-11 08:44] georgexsh opened #285 "`timestamp` column shows `None` if value is `0`"
Original mysql command tool show `0000-00-00 00:00:00`, but mycli shows `None` (vertical mode) or `<null>` (horizontal mode).
It has confused me for a while because that column is not nullable.

[2016-07-13 11:35] kenden opened #286 "Support '-e' / '--execute' to run queries"
The mysql client allows to run queries and return the results with the --execute param:
[code]

It would be nice to get the same for mycli.

Workaround for now:

[code]

[2016-07-16 14:29] mdsrosa commented on #286
@kenden That seems a fair request. I'll look into it. Thanks! 😉

[2016-07-18 01:50] mdsrosa commented on #285
@georgexsh Thank you for using mycli. But in this case I was unable to reproduce this behavior `0000-00-00 00:00:00` in mysql command tool. Could you please tell me which version of `MySQL` and `mycli` are you using?

[2016-07-18 02:13] mdsrosa commented on #286
@kenden Which version of `mycli` are you using?
Since version `1.7.0` you can run queries in stdin batch mode like this
`mycli < test.sql` or `mysql --host 127.0.0.1 --user root -proot --database mysql < test.sql`.

Would that satisfy your needs for the moment?

[2016-07-18 03:18] georgexsh commented on #285
`mysql  Ver 14.14 Distrib 5.5.47` and `mycli Version: 1.7.1`

[2016-07-18 03:53] georgexsh opened #288 "Pager not triggered"
if table `foo` has 33 columns, type `desc foo` in a term which panel height is 40, pager will not be triggered, but the top most 8 lines not shown.
if panel resized to 39, paper will take over as expected.

retried reset `LESS` environ variable, not affected.

ps: runs inside a tmux session.

using mysli 1.7.1

[2016-07-18 03:57] georgexsh commented on #285
[code]
vs
[code]

[2016-07-19 05:04] amjith commented on #285
I'm able to reproduce it, I'll see if I can take a stab at the fix.

[2016-07-22 03:11] georgexsh commented on #285
@amjith thanks very much

[2016-07-23 18:13] jianglong1992 opened #291 "ON WINDOWS When I input the keyword choice after the completion of the keyword, press the space when submitted to the following error"
use

                                Exception in thread Thread-4:
Traceback (most recent call last):se
  File "C:\Python34\lib\threading.py", line 920, in _bootstrap_inner
    self.run()
  File "C:\Python34\lib\threading.py", line 868, in run
    self._target(*self._args, **self._kwargs)
  File "C:\Python34\lib\site-packages\prompt_toolkit\interface.py", line 835, in run
    completions = list(bu

[2016-07-25 02:47] amjith commented on #282
I'm having a hard time reproducing the issue. Can you paste a screenshot of what you're seeing?

Upgrading MySQL won't help `mycli`. They two different softwares.

You can also try upgrading to the latest version of mycli. `pip install -U mycli`.

[2016-07-25 02:49] amjith commented on #291
Interesting! Can you tell me what command you typed when this happened?

Also is this issue reproducible?

[2016-07-25 03:48] amjith commented on #283
Are you using Vi-mode for the keybindings?

Only in Vi-mode C-P and C-N will trigger completion. In emacs mode C-P and C-N will navigate the history.

[2016-07-25 19:20] cpgo commented on #291
Same issue here.
Using manjaro with python 3.5.1, installed pip via yaourt.
Like the title says, the error is thrown after I press the spacebar after entering `use` to change the database

[2016-07-26 06:46] grafa commented on #282
Hi,

like a week ago version 1.7 has apeared in Debian repository. Since I do use the new version, problem is solved :)

[2016-07-26 09:23] caorong commented on #291
maybe because mysql server config with `no-auto-rehash` ?

[2016-07-26 11:04] cpgo commented on #291
@caorong I removed  the `no-auto-rehash` from `my.cnf` and it seems to be working now.
But that is funny because I have the exact same installation on 2 other machines and I never had to do this

[2016-07-26 13:06] georgexsh commented on #283
@amjith sorry, I cant reproduce this now, may used Vi-mode accidentally that time.

[2016-07-26 13:06] #283 closed

[2016-07-26 14:16] jianglong1992 commented on #291
I removed the no-auto-rehash but it's still not working

[2016-07-26 14:34] jianglong1992 commented on #291
@amjith it happended every key words such as "use select show..."

[2016-07-27 03:55] smcdl opened #292 "There was a Exception when I pressed the space key after I typed 'show' command"
percona eric@localhost:(none)> show Exception in thread Thread-5:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/usr/lib/python2.7/threading.py", line 754, in run
    self.__target(*self.__args, **self.__kwargs)
  File "/usr/local/lib/python2.7/dist-packages/prompt_toolkit/interface.py", line 835, in run
    compl

[2016-07-27 06:21] amjith commented on #292
This was because I didn't pin the dependency of sqlparse and the latest version has broken everything. 😭

I'll try and fix that. In the meantime you can downgrade your sqlparse version and continue to use. Downgrading is done as follows:

[code]

Sorry about that.

[2016-07-27 06:21] amjith commented on #291
This was because I didn't pin the dependency of sqlparse and the latest version has broken everything. 😭

I'll try and fix that. In the meantime you can downgrade your sqlparse version and continue to use. Downgrading is done as follows:

[code]

Sorry about that.

[2016-07-27 07:34] smcdl commented on #292
Thank you for you help. @

[2016-07-27 07:34] #292 closed

[2016-07-29 07:43] uuip opened #293 "Exception after input "show" and press tab or space"
mysql root@localhost:(none)> show Exception in thread Thread-5:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 810, in __bootstrap_inner
    self.run()
  File "/usr/lib/python2.7/threading.py", line 763, in run
    self.__target(*self.__args, **self.__kwargs)
  File "/usr/local/lib/python2.7/dist-packages/prompt_toolkit/interface.py", line 835, in run
    complet

[2016-07-29 16:21] amjith commented on #293
Duplicate #292

[2016-07-29 16:21] #293 closed

[2016-07-29 17:03] linzeyang commented on #291
Thanks @amjith, the downgrading way works for me.

[2016-07-30 03:30] jianglong1992 commented on #291
@amjith  it works after I installed sqlparse ,thank you ..

[2016-08-01 02:24] uuip commented on #293
I have installed sqlparse,but this errow always that.

[2016-08-01 03:08] leunggamciu opened #294 "Completion engine throws exception"
I ran into an issue that the completion engine throwed an exception when it runs for the first time and it stop working anymore after exception thrown。

call stack:

[code]

I am running version 1.7.1 on my Ubuntu 16.04.1 machine，and it was installed via pip。

lastly, thanks for binging us such an awesome tool!

[2016-08-01 03:28] leunggamciu commented on #294
refer to #291

[2016-08-01 03:28] #294 closed

[2016-08-01 10:00] timfeirg opened #296 "cannot use auto-complete"
This occured only recently, but I can't pinpoint the version, maybe it's one of the upgraded dependencies that went wrong.

## reproduce

I opened up mycli, type "show ", and this error message comes up right after I typed space:

[code]

## environment

[code]

[2016-08-01 10:49] lik0914 opened #297 "Using Spaces to the cause of the abnormal"
Exception in thread Thread-6:
Traceback (most recent call last):
  File "/usr/lib64/python2.7/threading.py", line 811, in __bootstrap_inner
    self.run()
  File "/usr/lib64/python2.7/threading.py", line 764, in run
    self.__target(*self.__args, **self.__kwargs)
  File "/usr/lib/python2.7/site-packages/prompt_toolkit/interface.py", line 835, in run
    completions = list(buffer.completer.get_com

[2016-08-01 14:25] amjith commented on #297
Duplicate #296.

Fixed by #295

[2016-08-01 14:25] #297 closed

[2016-08-01 14:27] amjith commented on #296
Duplicate #294.

Fixed in #295.

You can try the fix by installing from master as follows:

[code]

[2016-08-01 14:27] #296 closed

[2016-08-01 15:20] lik0914 commented on #296
@amjith This is probably the reason why

[2016-08-02 20:54] LiraNuna opened #299 "SELECT(space) as first command causes an AttributeError"
Using version 1.7.1 and mysql 5.7.11 (unknown if related), when typing `SELECT ` (notice the trailing space) the following exception raises:

[code]

This does not happen after a `Ctrl+C` (which goes back to the prompt) and doing the same.

[2016-08-03 09:30] dbolser-ebi opened #300 "prompt setting in .my.cnf ignored"
I set my prompt like this:
prompt=\n\u@\h:\p (\d)\n>\_

What I really like about that is the final \n that starts my query on a new line. Otherwise a big prompt makes your SQL craped up on the right.

Can you honor the prompt setting in ~/.my.cnf?

Version: 1.5.2

[2016-08-03 09:34] dbolser-ebi opened #301 "Pasting multiline SQL into mycli"
If I paste (using middle mouse button) SQL like this from emacs:

[code]

The SQL gets re-formatted as "SELECT starFROM blar;", which fails (Unknown column 'starFROM' in 'field list').

The \n should be converted into a space unless it's within quotes, or you shouldn't try to do re-formatting on paste.

[2016-08-03 10:19] dbolser-ebi commented on #299
Just spotted this too 1.7.1 on both

- mysql

  Ver 14.14 Distrib 5.6.26, for Linux (x86_64) using  EditLine wrapper.

- mysql

  Ver 14.14 Distrib 5.1.73, for redhat-linux-gnu (x86_64) using readline 5.1

Note that although you don't get this message again, autocomplete is now borken (nothing pops up, tab doesn't offer suggestions, etc.).

[2016-08-03 10:19] dbolser-ebi commented on #299
How do I pip install 1.6?

[2016-08-03 10:40] dbolser-ebi commented on #299
Working again like this:
[code]

BTW, I'm also on python 2.6.6 and seeing 'syntax errors' during version munging. Should I be on 2.7 for mycli (and it's deps)?

Thanks,

[2016-08-03 18:23] amjith commented on #299
This is now fixed in version 1.8.0. Please upgrade mycli:

[code]

[2016-08-03 18:23] #299 closed

[2016-08-03 18:24] amjith commented on #291
This is now fixed in version 1.8.0. Please upgrade mycli:

[code]

[2016-08-03 18:24] #291 closed

[2016-08-03 18:24] amjith commented on #286
This is now available in version 1.8.0. Please upgrade mycli:

[code]

[2016-08-03 18:24] #286 closed

[2016-08-03 18:24] amjith commented on #285
This is now fixed in version 1.8.0. Please upgrade mycli:

[code]

[2016-08-03 18:24] #285 closed

[2016-08-03 18:24] amjith commented on #274
This is now fixed in version 1.8.0. Please upgrade mycli:

[code]

[2016-08-03 18:24] #274 closed

[2016-08-03 18:25] amjith commented on #273
Let us know if you're still have issues.

[2016-08-04 00:44] amjith commented on #301
Can you tell me what version of mycli you are using?

I believe this is fixed in the newer versions of mycli. You can upgrade using:

[code]

[2016-08-04 00:58] amjith commented on #300
mycli will only honor the [client] section in my.cnf. So if you have the prompt listed in the [client] section it will do the right thing.

[2016-08-04 07:59] dbolser-ebi commented on #299
Thanks.

[2016-08-04 08:04] dbolser-ebi commented on #300
Thanks for this tip, I had my prompt settings under the [mysql] section of ~/.my.cnf. It is now being picked up (and I'm now on version 1.8.0 of mycli), however, it isn't being formatted like in the regular client. This is what I have set currently:
[code]

and it gets rendered like this in the regular client (mysql  Ver 14.14 Distrib 5.1.73, for redhat-linux-gnu (x86_64) using readline 5.1):
[cod

[2016-08-04 08:11] dbolser-ebi commented on #301
I was using 1.5.2, I'm now on 1.8.0 (thanks for fixing https://github.com/dbcli/mycli/issues/299). Now when I try to paste multiple lines, it goes wrong in a different way. After the first line is pasted, the 'chooser' pops up as if it's trying to autocomplete. When I press return to get rid of the chooser, it submits the first line and none of the following lines.

[2016-08-04 15:01] amjith commented on #300
@dbolser-ebi mycli is a completely new client written from ground up. It does not share code with the mysql's default client. So we had to recreate the behavior of mysql wherever it made sense. But you have to remember that mysql is at least 20 years old and we started less than a year ago. So there is a long way to go.

The difference I see between your mysql prompt and mycli's prompt is that we

[2016-08-04 15:08] amjith commented on #301
@dbolser-ebi I'm unable to reproduce the behavior you're seeing. Here's what I'm able to do:

![paste](https://cloud.githubusercontent.com/assets/49260/17407026/a39f536c-5a1a-11e6-9c8a-4821edd7f1c1.gif)

[2016-08-04 16:13] dbolser-ebi commented on #301
How do you record this?​

[2016-08-04 16:17] dbolser-ebi commented on #300
Thanks man!

On Thu, Aug 4, 2016 at 4:01 PM, Amjith Ramanujam <notifications@github.com>
wrote:

[2016-08-04 16:18] j-bennet commented on #301
http://www.cockos.com/licecap/

[2016-08-05 01:05] lvht opened #302 "Support python-sqlparse 0.2.0"
mycli 1.8.0 could not work with python-sqlparse 0.2.0.

[code]

[2016-08-05 09:24] lik0914 opened #303 "Chinese can't display properly"
example: show create table tableName;
`first_order` int(11) DEFAULT NULL COMMENT '<E9><A6><96><E6><AC><A1><E5><B8><A6><E7><9C><8B><E8><AE><A2><E5><8D><95>|<E6><9E><97><E8><A8><80><E8><B6><85>|2015-03-31',
How do you solve this problem?
Version: 1.7.1

[2016-08-05 19:32] LiraNuna opened #304 "It is impossible to install `mycli` and `pgcli` togther"
Because `mycli` has the dependency of `sqlparse==0.1.19` but `pgcli` has the dependency of `sqlparse == 0.2.0`, it is impossible to install both at the same time without a complex venv setup.

[2016-08-07 01:27] amjith commented on #304
Sorry about that sqlparse made a breaking change in 0.2.0 so I had to pin the version. We plan to upgrade the sqlparse version for mycli soon.

[2016-08-07 01:44] LiraNuna commented on #304
As a (semi-)temporary solution, we built PEX archives of each.

[2016-08-08 08:06] Vakhrushev opened #305 "Autocomplete double"
double only after `show`, common autocomplete work fine

![imgur-2016_08_08-14 58 21](https://cloud.githubusercontent.com/assets/692146/17473122/f879f642-5d78-11e6-82cf-877a2eccfc32.png)

`mycli -v
Version: 1.8.0
`

`
Linux UWC 4.6.4-1-ARCH #1 SMP PREEMPT Mon Jul 11 19:12:32 CEST 2016 x86_64 GNU/Linux
`

[2016-08-09 12:32] tsroten commented on #303
@lik0914 Thanks for using mycli!

In mycli, could you run `status` and tell us the different "charactersets" listed in that command? Here is a sample response:
[code]

[2016-08-10 13:55] krigstask opened #307 "Use 16-colour terminal palette"
*mycli* seems to use 256 (or 88?) colour palette which could be not configured properly.  For example, this is how ''mycli'' session looks now in my iTerm2 with pretty famous [dark Solarized colour scheme](http://ethanschoonover.com/solarized)
![screen shot 2016-08-10 at 16 44 25](https://cloud.githubusercontent.com/assets/419654/17555967/a969a588-5f22-11e6-8113-ccfd9bc3bb62.png)
Note practically

[2016-08-10 20:50] amjith commented on #307
Sorry about that. You can always change the color scheme in your ~/.myclirc
file.

There are plenty of choices. You can see a gallery of them here:
http://mycli.net/syntax

Amjith

On Wed, Aug 10, 2016 at 6:55 AM, Nikolaj Sjujskij <notifications@github.com>
wrote:

[2016-08-10 21:30] krigstask commented on #307
I see, thanks for reply.
Probably I need to talk to *prompt_toolkit* developers about forcing 16 colours on apps using it.

[2016-08-12 18:56] Ostralyan commented on #108
Is there a way to pass an argument into this script? For example I'd like something like

source filename.sql 5

where in my script it'll be like id={arg1}

[2016-08-13 16:52] krigstask commented on #307
I've opened an issue: https://github.com/jonathanslenders/python-prompt-toolkit/issues/376

[2016-08-15 19:39] amjith commented on #179
This is now available in the latest version. Forgot notify, sorry. 😞

[2016-08-15 19:39] #179 closed

[2016-08-16 08:14] krigstask commented on #307
With `prompt_toolkit>=1.0.6` it's as simple as...
[code]
![screen shot 2016-08-16 at 11 08 56](https://cloud.githubusercontent.com/assets/5174481/17692328/46df4e5e-63aa-11e6-8654-6935c465cb44.png)

[2016-08-16 08:14] #307 closed

[2016-08-19 17:15] diversario commented on #8
So, just to check – this is in master but not enabled?..

[2016-08-19 23:02] amjith commented on #8
@diversario This was released a long time ago. Are you not seeing the reconnect prompt?

[2016-08-19 23:09] diversario commented on #8
The prompt? Yes, I see it. I'm saying I'd like that to happen automatically, because right now if I issue a command and switch to a diff pane – often I come back to a reconnect prompt. It should be automatic, IMO, like in the `mysql` client.

[2016-08-25 03:27] lik0914 commented on #303
mycli 1.7.1, running on CPython 2.7.5

+----------------------+-----------------------------------------+
| Connection id:       | 621223                                  |
| Current database:    |                                         |
| Current user:        | work@10.51.64.132                       |
| Current pager:       | System default                          |
| Server version:      | 5

[2016-08-25 03:28] lik0914 commented on #303
mycli 1.7.1, running on CPython 2.7.5

+----------------------+-----------------------------------------+
| Connection id:       | 621223                                  |
| Current database:    |                                         |
| Current user:        | work@xxx                       |
| Current pager:       | System default                          |
| Server version:      | 5.6.24-log

[2016-08-25 08:57] tommarshall opened #308 "packagecloud.io apt package out of date"
The [Debian/Ubuntu install instructions](https://github.com/dbcli/mycli#debianubuntu-package) in the README recommend installing via `apt`, however the packagecloud.io apt package does not appear to have been updated since 1.5.2.

[code]

[2016-08-26 15:05] amjith commented on #308
You're correct. The README is now outdated. There are now officials builds of mycli available via the regular apt repositories (thanks to @lhw) instead of using package cloud. I'll update the docs.

[2016-08-27 00:59] tsroten commented on #303
@lik0914 It looks like your server is running in `latin1`, which won't support Chinese characters. Do you also have this problem in the official mysql client (e.g. running `mysql`)?

You might try [restarting your MySQL server](http://dev.mysql.com/doc/refman/5.7/en/charset-server.html) like this: `mysqld --character-set-server=utf8`

[2016-08-29 08:05] csrgxtu opened #310 "can u make it support MongoDB?"
I aways use mongo as the data store, if this support mongodb, will be fabulous.

[2016-08-29 18:00] diversario commented on #202
To illustrate, this is what I see **a lot**:

[code]

6 keyboard strokes to execute what should've taken 2.

[2016-08-29 18:03] amjith commented on #202
That is definitely annoying. I'll see if I can fix that.

BTW, you can turn off the warning on destructive commands via the config file (~/.myclirc).

https://github.com/dbcli/mycli/blob/master/mycli/myclirc#L17

[2016-08-29 18:11] diversario commented on #202
Yeah, I know. I'm ok with the warning, though, no harm is being extra-cautious with the db.

[2016-08-30 09:23] tommarshall commented on #308
Thanks for the quick response on this @amjith.

It looks like the package is only available for 16.04 (xenial), not 14.04 (trusty) and 12.04 (precise).

12.04 reaches end-of-life in the next year, but 14.04 will be supported until 2019.

What's the recommended install path for install MyCLI on 14.04? `pip`? Or is there an `apt` package for 14.04 that I'm missing?

[2016-08-30 13:22] amjith commented on #308
@lhw Can I trouble you for making deb packages for trusty and precise?

[2016-08-31 03:41] lik0914 commented on #303
mycli 1.7.1, running on CPython 2.7.5

+----------------------+-----------------------------------------+
| Connection id:       | 13501                                   |
| Current database:    | rrc                                     |
| Current user:        | work@xxxxx                       |
| Current pager:       | System default                          |
| Server version:      | 5.6.30-l

[2016-08-31 16:40] amjith commented on #308
@tommarshall I'd recommend installing mycli via pip until the deb packages are built for older debian versions.

You can install pip in trusty using

[code]

Then it's a matter of doing

[code]

I hope that helps you in the mean time.

[2016-09-01 09:19] tommarshall commented on #308
Thanks @amjith. Happy to do that.

The reason for asking in the first place is because I maintain an [ansible role for installing mycli](https://galaxy.ansible.com/detail#/role/4640), which was still following the instructions in the README.

I'll keep an eye on this issue and update the role to install from the apt repositories if you do end up with packages for precise and trusty as well 👍

[2016-09-02 22:35] lhw commented on #308
It's not that easy sadily. All the dependencies would have to be ported
as well as we added most of them in the last few months so they are not
yet ubuntu as of yet.
I could have a look but I'll be on vacation for 2 weeks starting friday
and I might not have the time to do it until then.

Also getting new packages into ubuntu stable releases is probably a no
go to begin with. I'd have to look thro

[2016-09-03 04:40] amjith commented on #310
Supporting mongo db is a huge undertaking and it can't fit in with mycli. It will have to be it's own project.

I currently don't have the time to tackle a project of that size.

If you're interested in starting something like that, I'll be happy to show you some pointers.

[2016-09-03 04:40] #310 closed

[2016-09-13 03:06] amjith commented on #305
This is now fixed in master. I'll do a release soon. In the meantime you can install directly from master as follows:

[code]

[2016-09-13 19:25] meeuw commented on #302
I have the same error on Fedora 24, the tuple contains an integer.
dnf downgrade python3-sqlparse-0.1.18-5.fc24
works around this.

[2016-09-13 19:38] meeuw commented on #302
I've bisected sqlparse and found this commit breaks mycli
https://github.com/andialbrecht/sqlparse/commit/c4954af15bbcb93a61d111a218c2d9ba2aa7ea3a

[2016-09-16 13:18] amjith commented on #302
@meeuw Thank you for taking the time to bisect and find the error. The latest release of sqlparse (version 0.2.0) made some significant changes that are breaking mycli. So I've chosen to pin the version of required sqlparse to 0.1.19.

I haven't found the time to upgrade mycli to adapt to the changes introduced in 0.2.0.

Sorry for the inconvenience. I hope to get it compatible eventually, but it'

[2016-09-18 06:19] uuip opened #313 "Double keyword "distinct""
according to https://github.com/dbcli/mycli/issues/305
I have run the command: pip install -U https://github.com/dbcli/mycli/archive/master.zip
but there is also  "distinct"  after I input "select di".
![2016-09-18_140531](https://cloud.githubusercontent.com/assets/16631174/18613345/1fec8404-7dab-11e6-995f-f656bc3997f1.png)

[2016-09-18 06:27] uuip commented on #308
ubuntu's apt source should be updated alse.

[2016-09-19 05:30] amjith commented on #313
You're right. I have fixed it in a PR. It will be included in the next release.

[2016-09-19 14:22] uuip commented on #313
https://github.com/dbcli/mycli/commit/c78396dd09a3c4b759a0e26a3520a0745f3328f3

Verified ,good job.

[2016-09-19 14:22] #313 closed

[2016-09-23 12:50] dbolser-ebi commented on #301
I get the above problem whether or not I have Smart Completion: ON or OFF.