[2016-09-26 14:46] amjith opened #316 "User name completion has duplicate items"
Related to https://github.com/dbcli/mycli/issues/305 and https://github.com/dbcli/mycli/issues/306

[code]

[2016-10-02 19:15] meeuw commented on #304
mycli now (only) supports sqlparse 0.2 so you should be able to install both at the same time!

[2016-10-03 18:02] mikedfunk commented on #273
This config option does not work for me. I still get errors like:
`'ascii' codec can't encode character u'\u201c' in position 195: ordinal not in range(128)`

[2016-10-04 03:37] amjith commented on #273
@mikedfunk Can you give me a bit more details? Such as what version of mycli are you using and what command did you run?

Also what's the output that you get from `mysql`?

[2016-10-04 03:44] amjith commented on #304
@LiraNuna Try installing directly from master. It is fixed, haven't released a new version yet.

[code]

[2016-10-29 16:46] mdsrosa commented on #255
Working on it.

[2016-10-30 04:09] mdsrosa commented on #300
@dbolser-ebi https://github.com/dbcli/mycli/pull/323 😉

[2016-11-03 04:51] xeron commented on #304
But now `pgcli` depends on `>=0.2.2` and `mycli` is on `<0.2.2` :(

[2016-11-03 20:04] meeuw commented on #304
I think we can change it to <=0.2.2, I'm willing to write patches if it doesn't work :-) have you tried it?

[2016-11-05 19:08] xeron commented on #304
I didn't try mycli with sqlparse 0.2.2. My issue is that I'm maintain mycli port in macports and I can't add pgcli port because they require different versions of sqlparse.

Related pgcli PR: https://github.com/dbcli/pgcli/pull/606

[2016-11-06 04:34] amjith commented on #304
Sorry about the trouble.

Fixed in master. I'll let @mdsrosa do a release of a new version when he sees fit.

[2016-11-10 12:56] cxbig opened #326 "Keyword REGEXP missed"
When I do search, I'd like to use `REGEXP` keyword.
But we don't have it in auto-completion:
<img width="183" alt="mycli_no_regexp" src="https://cloud.githubusercontent.com/assets/1363706/20177488/62dc70b4-a74d-11e6-9d57-a296637f68e1.png">

[2016-11-10 17:25] amjith commented on #326
That's a valid request. We'll be happy to add that to the list. If you're feeling particularly generous you're also welcome to submit a PR to add `REGEXP` to the list of keywords.

Here's the place to add the keyword: https://github.com/dbcli/mycli/blob/master/mycli/sqlcompleter.py#L21..L38

[2016-11-18 21:04] Applemann opened #328 "Wrong output via pager"
Hello I upgraded mycli from old version 1.5.2 to newest 1.8.1 but now when I select table where width is longer then my screen so the table is printed ugly. In older version it was printed more pretty.
On attachment you can see the same table but in various version of mycli (1.5.2 and 1.8.1):
![screenshot from 2016-11-18 21-54-16](https://cloud.githubusercontent.com/assets/2686906/20446493/2834047

[2016-11-21 14:49] dolmen commented on #281
`mycli` should also read a `mycli` section in both `.my.cnf` and `.mylogin.cnf` in addition to `client` [as MySQL programs do](https://dev.mysql.com/doc/refman/5.7/en/option-files.html).

It could also read sections with a given suffix [as MySQL program do](https://dev.mysql.com/doc/refman/5.7/en/option-file-options.html#option_general_defaults-group-suffix).
For example with `mysql` here is how I

[2016-11-24 09:19] #326 closed

[2016-11-24 09:20] #257 closed

[2016-11-26 06:09] ushuz commented on #316
Still have this issue with 1.8.1

[2016-12-03 20:31] amjith commented on #328
@Applemann Yes, I do. Mycli tries to use the pager that is specified in the $PAGER env var. If that var is empty and no pager is specified in your ~/.my.cnf file, then it will fall back to using `less -RXF`. In version 1.5.2 it used to fall back to using `less -SXRF`. Notice the difference in options. We dropped the `-S` from the default fallback option. That option made it so the output wouldn't

[2016-12-03 20:53] Applemann commented on #328
@amjith  Thank you very much. With this solution mycli is now working right :+1:

[2016-12-03 20:53] #328 closed

[2016-12-04 20:29] ReneFroger opened #329 "MySQL alternative data directory conflicts with MyCLI"
I wanted to move my MySQL data directory to an alternative source, so I did the following steps [described in this tutorial](https://www.digitalocean.com/community/tutorials/how-to-move-a-mysql-data-directory-to-a-new-location-on-ubuntu-16-04).

After completing this process, I noticed the `mysql` command line interface works fine, but MyCLI ran into vaguely errors with the Python library client.

[2016-12-05 01:22] csrgxtu opened #330 "Does mycli support Apache Hive?"
apache hive have the hive cli and beeline as the client for command line, but it is not convinient as mycli, so i am wondering is there any way that can extend the mycli to compatible with hive.

[2016-12-08 02:22] c02y commented on #303
It seems this problem is not fixed.

`mycli 1.8.1, running on CPython 3.3.5`

It shows wrong string in the mycli if one field contains Chinese characters, and the Chinese string is totally OK in standard mysql.

[2016-12-16 10:30] martianzhang commented on #64
If a user, which not super a user or not have `mysql` database select privilege, should not run following query.
`SELECT CONCAT("'", user, "'@'",host,"'") FROM mysql.user`
`SELECT name from mysql.help_topic WHERE name like "SHOW %"`

Some SQL firewall will give an alarm when use mycli tool and take mycli as a dangerous attack.

[2016-12-18 23:51] grooverdan commented on #64
@martianzhang , without SUPER is there any command completion that would work anyway?

If the SQL firewall alarms is that a problem for the firewall, mycli, or the incident response team that considers it dangerous without validating its cause?

[2016-12-20 03:19] jialongl commented on #284
https://github.com/jialongl/mycli/commit/05a13b7bb327c379d1c43d932ac6ed67426ba255

[2016-12-21 12:51] jinleileiking opened #332 "[bug] tmux + mycli only paste one line"
When use tmux with mycli.

I copy some lines to tmux buffer by `ctrl + [`

[code]

I paste the lines use tmux paste buffer.

mycli only paste one line

[code]

[2016-12-22 04:05] #202 closed

[2016-12-22 07:16] amjith commented on #332
@jinleileiking The reason why this happened is because you need to be in multi-line mode when you paste a query that has multiple lines.

So enable multi-line mode with F3 key and then try pasting.

[2016-12-23 05:34] jinleileiking commented on #332
Thanks 👍

[2016-12-23 05:34] #332 closed

[2016-12-31 11:30] johnksterling commented on #271
Hi - this feature has been merged and works great for me with the PR from j-bennet.  You can probably close this issue.

[2016-12-31 23:37] j-bennet commented on #271
Yes, this is available since 1.8.0. Closing.

[2016-12-31 23:37] #271 closed

[2017-01-11 11:31] chainkite opened #333 "ctrl+c did not kill the query"
After `ctrl+c`, the client told me the query is cancelled.
But actually, I can still see the query I just cancelled in `show processlist`.

I am using mycli 1.8.0 on Mac OS X, mysql server is v5.5

[2017-01-11 19:10] amjith commented on #333
You are correct. I hadn't realized that this was happening. We'll need to add some logic to the Ctrl-C handling so we can actually kill the query in the server.

[2017-01-13 07:40] chainkite commented on #333
Could you give me some hint about what additional logic and how it can be attached to Ctrl-C? Thx~

[2017-01-13 17:33] amjith commented on #333
Sure thing. Ctrl-C is handled here: https://github.com/dbcli/mycli/blob/master/mycli/main.py#L553

You can kill a running query using the `kill` command. http://dev.mysql.com/doc/refman/5.7/en/kill.html

It gets a bit tricky to find out which query was just canceled.

You can get a list of all the queries in flight using `show full processlist` command. The first column in that result tells you th

[2017-01-17 07:04] chainkite commented on #333
Sry @amjith , I am not quite familiar with python language.

[2017-01-19 08:41] jialongl opened #334 ""smart_completion = False" doesn't work"
Having `smart_completion = False` in `~/.myclirc` and launch `mycli`, the text `[F2] Smart Completion: OFF` in greyed-out style shows at the bottom of the terminal --- normal.

However, at the end of the line it shows `Refreshing Completions ...` and when the message disappears, greyed-out `[F2] Smart Completion: OFF` becomes bright `[F2] Smart Completion: ON`.

Please confirm and advise.

[2017-01-20 07:56] jinleileiking commented on #332
@amjith can set it to default?

[2017-01-20 23:37] amjith commented on #332
You can set this in your config file located under `~/.myclirc` file.

Look for a line that says `multi_line` and set that value to `true`.

[2017-01-21 03:16] jinleileiking commented on #332
Use multiline cannot work fine in my env. I will show the details later.

[2017-01-24 04:16] amjith commented on #334
You're right the config option in ~/.myclirc seems to be not honored. I'll look into this. Sorry about the bug. 😞

[2017-01-24 09:45] mmuruev opened #336 "Auto Capital case for SQL key words."
Is it possible make an option for convert
` select id, field from my_table `
in to
` SELECT id, field FROM mytable;` ?

[2017-01-24 13:31] tsroten commented on #334
@amjith I know you already assigned this to yourself, but I happened to already be looking at that setting: https://github.com/dbcli/mycli/compare/honor_smart_completion_setting?expand=1

Okay if I submit a PR for this one?

[2017-01-24 13:33] tsroten commented on #334
@amjith, Haha totally didn't see your PR until just now. Feel free to ignore that one :)

[2017-01-24 13:44] tsroten commented on #336
@mmuruev Hello and thanks for using mycli!

Are you referring to the `SELECT` keyword's change from lowercase to uppercase? Or, the change from `my_table` to `mytable`?

In the case of the latter, tab completion will automatically convert your lowercase keyword into uppercase.

In the case of the former, have you tried the smart completions option (you can toggle it on/off with [F2])?

[2017-01-24 13:55] tsroten commented on #303
@c02y Thanks for pointing this out again. I'm having trouble replicating this. If you can give me some more information, it might help narrow things down.

1. From mycli, with your database that contains Chinese selected, run `status` and post the various character sets here.
2. Run `create table foo;`, where `foo` is the name of your table, and post the response.
3. From the official mysql client

[2017-01-25 09:15] c02y commented on #303
1. `status` in mycli:

    mycli 1.8.1, running on CPython 3.3.5
    +----------------------+-------------------------------+
    | Current pager:       | System default                |
    | Server version:      | 5.1.71 Source distribution    |
    | Protocol version:    | 10                            |
    | Connection:          | localhost via TCP/IP          |
    | Server characterset: | l

[2017-01-26 02:05] tsroten commented on #303
@c02y I'm sorry, I meant to say `show create table Cars;`  -- so that we can see your table's information.

[2017-01-26 06:21] chainkite commented on #333
@amjith , I am on holiday now. I am trying to work this issue. Thx~

[2017-01-26 15:00] #334 closed

[2017-01-26 21:51] pichardoJ commented on #254
I have a similar issue, but I already have `python-devel`

[code]

[2017-02-02 14:39] #333 closed

[2017-02-08 16:36] AlecHansen opened #341 "Startup time causes password entry to display in terminal"
I'm not sure if this warrants a bug report, maybe this is a feature request? And it might not be a trivial problem, or related to Python (in that case likely unsolvable) but I'm using this as a replacement for the mysql terminal application.

I immediately start entering the database password into the command line after hitting enter.
With the Mysql application the startup time is such that (at le

[2017-02-08 19:05] tsroten commented on #341
@AlecHansen I think there are ways to speed it up. For instance, I believe the official mysql client only asks you for a password if you use the `-p` flag (without a value). Mycli has the `-p` flag, but it's only used to enter a password in plaintext.

Without the `-p` flag, mycli attempts to login without a password -- if that fails, then the user is asked for a password. I imagine that's the rea

[2017-02-10 04:38] amjith commented on #341
That's a good suggestion. I'm not sure why we didn't emulate that behavior from mysql. I'll be happy to merge a PR that implements this suggestion. :)

[2017-02-10 21:05] xjlin0 opened #342 "could json string be pretty printed?"
This is a freaking cool repo!

We have some data are JSON (in the format of string).  Since there are couple of json pretty print library in Python, is it possible to pretty print the formatted json?

Thanks!

[2017-02-10 21:06] diversario commented on #284
I'm on 1.8.1 and I see no auto reconnect. Is it need to be enabled somehow?

[2017-02-10 21:32] amjith commented on #284
This feature is not yet released. If you'd like to use it (and provide some feedback) you can install it directly from master

```pip install -U https://github.com/dbcli/mycli/archive/master.zip```

[2017-02-10 21:48] j-bennet commented on #342
Related issue: https://github.com/dbcli/pgcli/issues/293

[2017-02-11 02:02] diversario commented on #284
I installed it, so far works well.

[2017-02-13 05:46] c02y commented on #303
`show create table Cars;` in mycli:

    +---------+----------------+
    | Table   | Create Table   |
    |---------+----------------|
    | Cars    | CREATE TABLE `Cars` (
      `ID` int(11) NOT NULL AUTO_INCREMENT,
      `parID` int(11) DEFAULT NULL,
      `Name` text,
      `Price` bigint(20) DEFAULT NULL,
      PRIMARY KEY (`ID`)
    ) ENGINE=MyISAM AUTO_INCREMENT=9 DEFAULT CHARSET=latin1

[2017-02-14 01:32] johnksterling commented on #288
I reproduced this and was investigating resolving it.  I think it is caused because of the layers of tools being used to display the mycli console in a shell window.  It looked to me like it would be complicated to fix - and it isn't a very big pain point since it only happens when there is a small number of results.  I would vote for not fixing unless someone else sees an obvious way to work arou

[2017-02-14 01:36] johnksterling commented on #269
I think this issue can be closed.

[2017-02-14 01:39] johnksterling commented on #329
Can you provide more information on what errors you ran into?  I'm not clear on why the backend storage would impact mycli, but I must be misreading your question.

[2017-02-14 01:40] johnksterling commented on #305
Looks like this issue can be closed

[2017-02-14 01:41] johnksterling commented on #316
I was not able to reproduce this anymore given the other two issues are resolved.  Can you provide more info on what you are seeing?

[2017-02-14 02:25] ReneFroger commented on #329
I cannot reproduce this again, because I installed Mysql again and skipped the tutorial as linked.

Nevertheless, thanks for your offer to help!

[2017-02-14 02:25] #329 closed

[2017-02-14 02:38] tsroten commented on #288
Hi @georgexsh! This is a combination of two things. First, mycli forces the less pager option `-F` which automatically causes the pager to quit if its contents can be displayed on one screen.

But, then the prompt toolkit we use to display the mycli prompt reserves extra blank lines at the bottom for the autocomplete functionality. You can see a related issue in a different app here: https://githu

[2017-02-14 02:51] tsroten commented on #303
@c02y What if you add this line to your `~/.my.cnf`?

[code]

If the `[client]` section already exists, just add the line into that section.

[2017-02-14 08:37] zer09 opened #343 "autocomplete on other command prompt"
If you open mycli on two or more command prompt then you create new table from the other one, then you switch to other command prompt, the new created table cannot be found on the autocomplete.

Thanks.

[2017-02-14 15:07] amjith commented on #343
Hi, We try try not to refresh auto-completion until a DDL statement (like DROP, UPDATE, CREATE) have been executed.

But if you'd like to trigger a refresh you can always do that manually by typing `\#`.

[2017-02-14 15:30] zer09 commented on #343
ohh thanks a lot. It works.

BTW why some of the mysql keyword is missing on the autocomplete, example the auto_increment, constraint, etc?

Thanks.

[2017-02-14 15:54] ushuz commented on #316
@johnksterling Try switch database by `USE test_db`, then completion for `USER` will contain duplicates. Each `USE` results in a new batch of duplicates.

[2017-02-14 17:20] amjith commented on #343
Sorry the keyword list is not complete, but you can totally add new keywords and send a PR. It's quite trivial. https://github.com/dbcli/mycli/blob/master/mycli/sqlcompleter.py#L21

😄

[2017-02-14 22:07] johnksterling commented on #316
Nice - I see it.  I think I can fix that, I'll submit a fix.

[2017-02-14 22:09] amjith commented on #316
Yeah this is still an issue. The fix is to reset the `self.users` datastructure when we reset completions.

Code: https://github.com/dbcli/mycli/blob/master/mycli/sqlcompleter.py#L193

[2017-02-14 22:09] amjith commented on #316
Thanks for taking that on @johnksterling

[2017-02-14 22:27] johnksterling commented on #316
#345 is submitted

[2017-02-14 22:48] johnksterling commented on #255
This works for me.  Can this issue be closed?

[2017-02-14 22:57] j-bennet commented on #255
Yes, when mycli is released with the change.

[2017-02-15 01:07] #316 closed

[2017-02-15 02:31] c02y commented on #303
Still not working, whether I put that in ~/.my.cnf or /etc/my.cnf

[2017-02-15 02:51] johnksterling commented on #341
I don't think 'click' options can have variable nargs, though there was a PR for that project to implement that which has not been accepted.  So I made a small PR that adds a parameter to force entering the password via the prompt --password-prompt.  Is that a good middle ground?

[2017-02-15 03:16] amjith commented on #341
@johnksterling I didn't see your comment here. It's unfortunate that click can't accept empty values for an option.

I just started reading click's docs and I noticed that the prompt option is what we want.

http://click.pocoo.org/5/options/#prompting

What do you think?

[2017-02-15 09:57] johnksterling commented on #341
Yes - I had originally used password prompting, that is what I was alluding to above.  Unfortunately the feature is implemented such that prompt=True ALWAYS prompts if you do not provide the flag.  We want it to prompt only if you provide the flag without an arg.  I could not find a way with this library to do that which is why I fell back on a new flag.  Best path forward might be for us to submi

[2017-02-17 14:45] #343 closed

[2017-02-18 14:33] amjith commented on #341
Sorry I haven't replied in a while. I'm trying to make a decision about the
various password options. There's already two and we're thinking abut
adding a third one. I'm not sure how I feel about that. It adds to
ambiguity. I'll keep thinking abut this and propose something soon.

On Feb 15, 2017 1:57 AM, "John Sterling" <notifications@github.com> wrote:

[2017-02-18 14:52] johnksterling commented on #341
Sounds good - I also posted a note to the click project to get input.  I think the best path forward would be to patch click to allow a hybrid 'prompt' like this:
https://github.com/pallets/click/issues/736
I looked at the code and don't think it would be a huge patch to add that to click then take advantage of it with the existing --password option.

[2017-02-18 17:29] amjith commented on #341
Thank you for filing a ticket with click. Let's wait for them to reply and
then we'll make a decision about this ticket. :)

On Sat, Feb 18, 2017 at 6:52 AM, John Sterling <notifications@github.com>
wrote:

[2017-02-21 09:23] meeuw opened #348 "disable align (space padding) for table format tsv"
Steps to reproduce:

[code]

Now in the result `1` and `2` are suffixed by two spaces (for alignment), I'm working on a fix

[2017-02-24 16:13] simnim opened #351 "Feature Request: Sort tab completion by frecency"
Not sure how easy this would be, but if sorting by frecency is possible then that'd really kick ass.

There are tab completion terms that always show up on top that I never use, and others that are in the middle that I always use. Having the tool remember what terms were most frecently used would improve user experience for databases with may schemas, tables, and columns. Off the top of my head, u

[2017-02-24 18:36] j-bennet commented on #351
See also [this PR](https://github.com/dbcli/pgcli/pull/379) that implements the feature in pgcli.

[2017-02-25 08:18] jiaxingzheng opened #352 "Please solve the problem caused by PyMySQL"
[PyMySQL can't connect to MySQL on localhost](https://stackoverflow.com/questions/6885164/pymysql-cant-connect-to-mysql-on-localhost)

[2017-03-01 11:03] dbolser-ebi commented on #301
I've installed the latest version of mycli (co-incidentally on a new OS). I've tried this on Ubuntu and RH7. In both cases the issue seems to have resolved, so you can close this ticket now.

[2017-03-01 11:03] #301 closed

[2017-03-01 11:08] dbolser-ebi commented on #281
Actually, using [client] causes some problems. e.g. set this:
[code]
then:
[code]

I know prompt is probably better in .myclirc, but you get the general idea. I'd second the use of a dedicated [mycli] section.

[2017-03-01 11:11] dbolser-ebi commented on #300
Thanks for the commit. Looking forward to this making it into a release.

[2017-03-01 11:11] #300 closed

[2017-03-01 11:13] dbolser-ebi commented on #288
I have a related issue, I'd like the pager to be 'less -S' to "chop long lines". I'd also vote for a way to allow the pager to be customized.

[2017-03-01 11:17] dbolser-ebi opened #355 "Emacs mode: Multiple delete words are not pasted correctly"
In emacs this will eat the next two words and then spit them out. In mycli it eats two words but then only spits out the last one eaten.

[2017-03-01 11:18] dbolser-ebi commented on #355
I've logged this with [python-prompt-toolkit](https://github.com/jonathanslenders/python-prompt-toolkit) here: https://github.com/jonathanslenders/python-prompt-toolkit/issues/479

[2017-03-01 11:22] dbolser-ebi commented on #163
bump

[2017-03-01 13:56] amjith commented on #355
Thanks for filing the issue with prompt-toolkit. I'll keep an eye on the issue and upgrade as soon as they release.

[2017-03-01 14:00] amjith commented on #341
@johnksterling I noticed that you closed the PR. Was there any movement on the issue?

[2017-03-01 14:03] amjith commented on #288
@dbolser-ebi You can configure the pager using `~/.my.cnf`. Here's what I have:

[code]

This is `~/.my.cnf` NOT ~/.myclirc.

[2017-03-01 14:06] amjith commented on #281
That's an interesting idea. @tsroten What do you think?

I'd actually vote for dropping support for ~/.my.cnf altogether and only using ~/.myclirc instead.

But I'm worried it'll break compatibility for older versions.

[2017-03-01 14:10] amjith commented on #352
Hi,

I'm not sure if mycli is affected by this issue. If you have mysql running in localhost mycli will default to using that. If mysql is running in a different port (say 3312) then you can specify the port number in the commandline as follows:

[code]

[2017-03-01 14:12] johnksterling commented on #288
I agree - that is what I do today.   It would be easy to also add a 'custom_pager_flags' configuration option that just over-rides the 'LESS' env variable with custom flags (they are hard-coded defaults today) - would there be any value in that?  I can spin up a PR for it if it sounds appealing for some reason.

[2017-03-01 14:16] johnksterling commented on #341
No, but it appeared that my workaround was not desirable so I figured I'd
clean it up until we have direction.

No response on my question to click, so I may just put a PR out to them to
force the issue.  Without changes on their end we either hold on this issue
or do a funky workaround like my previous PR.

John

On Wed, Mar 1, 2017 at 9:00 AM, Amjith Ramanujam <notifications@github.com>
wrote:

[2017-03-01 14:18] amjith commented on #288
I'm reluctant to add more configuration options. I'm a big fan of the Fish shell's design documentation. http://fishshell.com/docs/current/design.html

In this case specifically we have two ways to in which we solve this, one we read the LESS env variable and use that unmodified if present, if it is not present then we use our own defaults. Two, we provide a way to completely override the pager wi

[2017-03-01 14:28] tsroten commented on #288
@amjith Good input.

Maybe I'm remembering incorrectly, but I thought that `mycli.configure_pager()` overrides the LESS environment variable instead of using it unmodified if it's present.

For example, I can't figure out a way to use LESS with mycli without the `-F` option -- mycli appears to force it on the user.

I agree with you that we shouldn't add another config option for this. I think in

[2017-03-01 15:32] johnksterling commented on #288
That sounds reasonable.  I can look into that - i.e. if the less env is empty then make is sane.  If it has a value assume it is on purpose.  Thanks for the input.

[2017-03-01 15:37] tsroten commented on #281
Hmm, this is tricky. For one thing, I wish MySQL's clients didn't quit with an error message if they see an option they don't recognize (e.g. like `mysqldump` above). See the [MySQL docs](https://dev.mysql.com/doc/refman/5.7/en/option-files.html):

Like @amjith said, I like the idea of keeping this simple. If we add a dedicated `[mycli]` section, we're reading options from yet another place. The t

[2017-03-01 16:25] AlecHansen commented on #341
Thanks guys, I took @tsroten advice and am using an encrypted password file. I didn't mean for this to become "do tech support for some guy", but I do appreciate him letting me know about that option.

[2017-03-01 16:26] tsroten commented on #341
@AlecHansen No problem - glad we could help out!

[2017-03-01 16:43] dbolser-ebi commented on #288
Why no `pager = 'less -XSRF'` in .myclirc?

[2017-03-01 16:49] j-bennet commented on #281
@dbolser-ebi I think mysqldump (and other mysql tools) dislike unquoted config options, that's why you get "unknown variable". What if you use `prompt="\n\D\n\u@\h:\p/\d\n>\_"` in `[client]`?

[2017-03-01 16:53] dbolser-ebi commented on #281
Exact same error. I think [client] is the wrong place for options like this.

[2017-03-01 16:56] tsroten commented on #281
@dbolser-ebi I think you're right. That's what `.myclirc` is for -- actual mycli options.

[2017-03-01 16:57] tsroten commented on #288
@dbolser-ebi I'm not sure if this is what you were suggesting:

If we don't even worry about the environment variable in mycli, we could simply rely on the default `myclirc` to set the pager to `less -RXF` (we took the `-S` option off [awhile go](https://github.com/dbcli/mycli/pull/237)). Then, if the user specifies a pager in their file (e.g. `less`), they'd be responsible for handling the option

[2017-03-01 21:00] tsroten commented on #288
@dbolser-ebi Sorry for the confusion! In your `~/.my.cnf`, under the `[client]` section, type:
[code]

See if that works for you.

[2017-03-01 23:31] amjith commented on #288
I was under the impression that we were reading the `LESS` variable and checking to see if it already had some values and only setting them if it was empty. But I was wrong. Thanks for pointing that out @tsroten.

@johnksterling You're more than welcome to send a PR that checks if the `LESS` var is set and only override it if it is not set.

[2017-03-02 02:37] jiaxingzheng commented on #352
`pymysql.connect(db='base', user='root', passwd='pwd', unix_socket="/tmp/mysql.sock")`
The code above can solve my problem, but how to pass the parameter 'unix_socket' to mycli?

[2017-03-02 09:48] dbolser-ebi commented on #288
@tsroten I'm seeing the `mysqldump: unknown variable 'pager=less -XSRF'` error already mentioned in the context of prompt. I know this may seem like an edge case, but I routinely use mysqldump and mysqlcheck at work.

This seems to do the trick: `export LESS="less -SRF"`

[2017-03-02 12:16] dbolser-ebi opened #357 "Smart autocomplete?"
I use predictive text on my phone, I wonder if mycli could have that mode?

i.e. typing the following "S<tab>* F<tab>blah W<tab>" would give me "SELECT * FROM blah WHERE ".

Just a fun feature request ;-)

[2017-03-02 13:16] amjith commented on #352
`-S, --socket TEXT             The socket file to use for connection.`

You can see the list of available options by running:

[code]

[2017-03-02 13:22] jiaxingzheng commented on #352
Thank you very much!

[2017-03-02 13:22] #352 closed

[2017-03-02 14:20] tsroten commented on #288
@dbolser-ebi I think we'll definitely need to address that issue. I think we should use #281 for discussion about `.my.cnf` options clashing with the various official clients.

[2017-03-02 14:39] tsroten commented on #281
One related thing is that mycli reads the `pager` config from the `[client]` section -- something we've advised users to do in the past.

Basically, unless I'm missing something, you can't specify a default `pager` option for mycli using config files if you are a user of any of the following official clients:
- mysqldump
- mysqlcheck
- mysqlpump
- mysqlimport
- mysqladmin
- mysqlshow

I'm beginnin

[2017-03-02 14:54] zer09 commented on #351
I vote for this.

[2017-03-02 15:20] dbolser-ebi commented on #281
Sorry to add another option:

4. Support `[mysql] ` section of `.my.cnf` (and possibly `[mycli]`) and allow all options there to be overridden by their use in `.myclirc`

Use of `[client]` is just wrong IMHO. Use of `[mysql]` is probably what you need to mitigate the "negative onboarding experience for new users", and probably what people expect from "drop-in replacement benefits".

Other than tha

[2017-03-03 04:16] amjith commented on #357
I realize that you're half-joking with this feature request. But I'm going to entertain this issue and talk through a few of my thoughts.

1. Writing `S * F blah W` might look like a short version of the full sql, but in reality this requires forethought on the users' part to come up with that string and I'd argue that the auto-completion achieves the same result with the same input using the tab

[2017-03-03 04:18] amjith commented on #351
After looking through the PR that made this possible in pgcli, it looks like it is possible but it'll take some elbow grease to get this done. Any volunteers to take this on? I'll be happy to pitch in if needed. 😄

/cc @johnksterling

[2017-03-03 04:27] amjith commented on #281
@tsroten Thank you for taking the time to list the possibilities.

I'm with @dbolser-ebi on this one. Let's do option 1. I know this will piss people off, but I think it was a mistake to add my.cnf support in the first place. I made a mistake by hastily adding my.cnf support and we're now paying the price for it in complexity.

I say we drop my.cnf support, add proper documentation about ~/.myclir

[2017-03-03 04:31] tsroten commented on #351
This sounds like a great idea. Here is another pgcli pull request that looks important for this: https://github.com/dbcli/pgcli/pull/425

[2017-03-03 05:46] tsroten commented on #281
Great, I'm on board with dropping `.my.cnf` support. So, it sounds like we'd need to:
- Add missing options to `.myclirc` (basically all the options we support from `.my.cnf`).
- Drop the `.my.cnf`-related code
- Update the documentation

And, what about MySQL's login path support? If we're dropping `.my.cnf` support, it kind of makes sense to get rid of that feature as well. However, it's the onl

[2017-03-03 05:51] amjith commented on #281
I'm on board with dropping support for ~/.my.cnf support. But can you elaborate why we want to drop support for login path?

It seems like we're not asking users to add mycli specific config options in that file.

[2017-03-03 06:22] j-bennet commented on #351
I'd like to give it a try.

[2017-03-03 06:23] amjith commented on #351
Awesome! Go forth and assign the issue to yourself. 😄

[2017-03-03 09:02] dbolser-ebi commented on #357
​Yeah, I'd say it should be a separate code / mode. To be clear, I think
tab strokes should be there, just that the order of the selection should be
based on usage rather than alphabetical, so fewer tabs in general.

[2017-03-04 17:40] tsroten commented on #281
Dropping login path support is definitely out of scope for this issue. But, here are a few thoughts on it.

I might have been getting ahead of myself there. I guess I was thinking that if we are dropping support for `my.cnf`, does that mean we're eventually going to drop support for all mysql option files?

Ultimately, keeping login path support is a huge convenience without the same problems as t

[2017-03-04 22:35] amjith commented on #281
You bring up a ton of useful points. I'm starting to backtrack on my suggestion.

Let's reevaluate why we added support for my.cnf and why we're getting rid of it. Here's the original ticket that requested it: https://github.com/dbcli/mycli/issues/17

The interesting bit is that the original implementation never supported the `pager` option. It only supported these:

[code]

I think those are vali

[2017-03-06 01:44] j-bennet commented on #281
If we're not dropping support for `.my.cnf` files, we need to try and set rules for what options in `.my.cnf` we support. Would it be only [those supported by PyMySQL](https://github.com/PyMySQL/PyMySQL/blob/master/pymysql/connections.py#L555-L587)?

[2017-03-06 02:33] #305 closed

[2017-03-06 02:34] tsroten commented on #305
@Vakhrushev This should be fixed in mycli 1.8.1. Thanks for reporting this!

[2017-03-06 03:21] amjith commented on #281
I can't see what exactly they support from the `[client]` section.

I vote for just removing support for the `pager` config and moving it to myclirc.

[2017-03-06 03:22] tsroten commented on #281
Here is the list from PyMySQL's code:
- user
- password
- host
- database
- socket
- port
- bind-address
- default-character-set
- ssl-ca
- ssl-capath
- ssl-cert
- ssl-key
- ssl-cipher

Here is the list that mycli supports now:
- user
- password
- host
- database
- socket
- port
- default-character-set
- ssl-ca
- ssl-cert
- ssl-key
- ssl-cipher
- ssl-verify-server-cert
- local-infile/loose-local-i

[2017-03-06 03:24] amjith commented on #281
Oh yeah, I forgot about `prompt`, I think we should remove `prompt` support from my.cnf as well, since we have a `prompt` config in our myclirc.

I don't know what these two things do,

ssl-verify-server-cert
local-infile/loose-local-infile

I'll leave it up to you folks to decide whether to keep those two or not.

[2017-03-06 03:55] j-bennet commented on #281
Fixed the link to relevant part in PyMySQL above.

[2017-03-06 04:04] tsroten commented on #281
Well, on these remaining options:

- ssl-verify-server-cert [is deprecated](https://dev.mysql.com/doc/refman/5.7/en/secure-connection-options.html#option_general_ssl-verify-server-cert). But, we still need some way to toggle `check_hostname` in PyMySQL's ssl config. The new way is `ssl-mode=VERIFY_IDENTITY`.
- we need some way to toggle the local infile option for pymysql. It's probably easier to

[2017-03-06 09:19] dbolser-ebi commented on #281
Sorry for an off topic question, but how does a third party client like mycli work with login path? At work we have 10+ servers and a bunch of scripts that consume the credentials in one way or another. If they could use login path, that would be ideal.

[2017-03-06 14:18] tsroten commented on #281
@dbolser-ebi mycli's `config` module can read and decrypt the login path file.

The code we use for decrypting is [in `config.py`](https://github.com/dbcli/mycli/blob/master/mycli/config.py#L114).

Here is how you could use mycli to open the login path file and read the user/password/host from a section called `[qa1]`
[code]

[2017-03-07 06:03] #348 closed

[2017-03-09 20:18] mikeerickson opened #364 "Add colored headers and odd/even rows"
In short, it would be swell if the output could provide some colors.   I dont think it needs to be elaborate, thinking the colors could be added the `~/.myclirc`

Ala...

[code]

[2017-03-09 20:27] tsroten commented on #364
@mikeerickson Thanks for using mycli!

I'm curious about how you envision this working with the ASCII table formats:
[code]

For example, if a row is supposed be red, would that affect the values only, or also the `|` characters that separate the columns?

[2017-03-09 20:29] mikeerickson commented on #364
I have created numerous CLI tools (for node development in my case) and I often output data as CLI table (see screenshot)

![image](https://cloud.githubusercontent.com/assets/183153/23769388/1401de32-04c4-11e7-99b7-fab83300cc8a.png)

[2017-03-09 20:30] mikeerickson commented on #364
@tsroten In this case, if just the header were colorized, that would be sufficient.  But figured, while there, how about supporting add/even row.

In all cases, simply coloring the foreground would be sufficient

[2017-03-09 20:49] tsroten commented on #364
Great, thanks for the input!

Here are some initial thoughts for anyone interested in giving this a shot.
- We currently output text using `click.secho()` for the entire set of formatted results at once. That function does support colored output, but it would be applied to the entire outputted text.
- Instead, we might be able to feed each value through `click.style()` (which adds color codes to t

[2017-03-16 12:20] bkt92 opened #368 "Trouble installing mycli dependency (pycrypto) on Windows"
I try to install it from windows but I have problem with the pycrypto package, It can not compiler, and I can't find any package on python 3.6, I read somewhere that pycrypto is not active develop anymore,
so can you consider to use any addition module so I can install on my windows machine.

Thanks !

[2017-03-16 13:08] tsroten commented on #368
Hi @bkt92! I'm sorry you're having trouble getting pycryto installed. Our current codebase uses the newer pycryptodome instead of pycrypto, but that's not released to PyPI, yet. We'll get a new release out soon.

Until that happens, if you'd like you can try installing the latest code by running `pip install -U https://github.com/dbcli/mycli/archive/master.zip`

[2017-03-17 07:49] meeuw commented on #368
@bkt92 could you please tell us which version of windows you're using? (Windows 7 / Windows 10 etc) then I can give you some instructions/screenshots how to do this.

[2017-03-17 17:59] pleycpl opened #369 "AutoCompletion Error = '(' Exception in thread Thread-51"
Hi,
After VARCHAR keyword, i am entering (
and then i am getting error like this
[code]

<p>and after that, coloration still work , but autocompletion doesn't work</p>

Thanks.

I am exiting mycli, then i am entry mycli.
Same issue:
[code]

<p>I think issue parenthesis '(' </p>

[2017-03-17 18:26] mikeerickson opened #370 "apt-get installs old version"
I am trying to install the latest version (I have 1.8.1 on my macOS)

Trying to install on Linux, but it always installs 1.5.2-4?

[code]

This always installs 1.5.2-4, how can I get latest version installed?

[2017-03-17 18:36] j-bennet commented on #370
Ah, that must not have been updated for a while. Any reason to not use `pip install mycli`?

[2017-03-17 19:02] meeuw commented on #369
This seems to be related to the python-sqlparse library which is used by mycli, could you please tell us which version of mycli and python-sqlparse you're using?

[2017-03-17 19:24] pleycpl commented on #369
[code]

[2017-03-17 19:27] meeuw commented on #370
There is a development version available on launchpad:
https://launchpad.net/ubuntu/+source/mycli

But I'm not sure how to install this on Ubuntu.

[2017-03-17 19:30] meeuw commented on #369
And which version of mycli? Could you please try the latest version of the master branch? (`pip install git+https://github.com/dbcli/mycli.git`)

[2017-03-17 19:52] pleycpl commented on #369
[code]

[2017-03-17 20:28] meeuw commented on #369
I think this is related to 71f503afb699b2a8365f9e8fddcdddb1960a1e79 and this is in master so I'm not sure why this isn't fixed for you. Maybe you should add add --upgrade to pip install...

[2017-03-17 23:11] tsroten commented on #369
@pleycpl I replicated your error (with installing from GitHub). Like @meeuw said, using `pip install --upgrade git+https://github.com/dbcli/mycli.git` worked for me.

I'm sorry this is still an issue. I'll have a new release of mycli out shortly.

[2017-03-17 23:14] mikeerickson commented on #370
@j-Bennet I will give pip a try

[2017-03-17 23:23] mikeerickson commented on #370
@j-bennet I am trying to completely remove mycli so that I can install via pip

[code]

Now trying to install via pip

[code]

[2017-03-17 23:56] mikeerickson commented on #370
@j-bennet Well, I got this working.  However, I had to setup ruby and linuxbrew (which I planned on doing anyway).

[code]

And I now have `v1.8.1` installed

[2017-03-17 23:56] #370 closed

[2017-03-18 01:35] tsroten commented on #330
@csrgxtu Hi! I'm not familiar with Hive -- is it a fork/derivative of MySQL?

How compatible is the syntax between the two?

[2017-03-18 01:42] tsroten commented on #258
I'm closing this issue since it was released in version 1.7.0.

[2017-03-18 01:42] #258 closed

[2017-03-18 01:47] amjith commented on #370
Wow, I had no idea there was such a thing as `linuxbrew`.

I'm sorry you were having difficulty getting the latest version and I'm glad you found a workaround. Thanks for telling us about linux brew. :)

[2017-03-18 01:47] tsroten commented on #302
Closing this issue since it was released in version 1.8.1.

[2017-03-18 01:47] #302 closed

[2017-03-18 01:52] tsroten commented on #247
Closing since it looks like Fedora is using version 1.7.0 now, which has the fix for this issue.

[2017-03-18 01:52] #247 closed

[2017-03-18 02:20] tsroten commented on #282
This sounds like it's resolved, so I'm going to close it :)

[2017-03-18 02:20] #282 closed

[2017-03-18 03:08] tsroten commented on #279
@kkdd Thanks for letting us know about this.

The problem appears to be the background smart completion queries that hit the database called `mysql`. Apparently, MemSQL doesn't use this database to store data (e.g. users, etc.).

It seems reasonable for the background completion thread to check if the `mysql` database exists before trying to query it. If anyone wants to take a look at that, it's i

[2017-03-18 03:35] csrgxtu commented on #330
@tsroten hi, hive is a component in Hadoop ecosystem, it is a layer or tool that run above hadoop distributed systerm, implemented by Facebook engineers, it lets you do map reduce work in structure query language ie SQL. for example, if you want to get how many records have 'Linux' in it, you can do it in Hive like this:
[code]
just like SQL, but based on Hadoop Distributed File system, it can pro

[2017-03-18 03:36] csrgxtu commented on #330
https://hive.apache.org/
https://en.wikipedia.org/wiki/Apache_Hive

plz refer the upper links for detail

[2017-03-18 03:41] mikeerickson commented on #370
@amjith no worries, thx for reply :)

[2017-03-18 12:04] Sangdol commented on #258
Great thanks!

[2017-03-18 12:57] pleycpl commented on #369
Yeahh, it is working. Thanks a lot.
[code]

[2017-03-18 13:02] #369 closed

[2017-03-18 19:54] tsroten commented on #330
Thanks for the information! Hive seems a bit out of scope for mycli.

mycli focuses on MySQL and MySQL-compatible servers (e.g. MariaDB).

mycli uses [PyMySQL](https://github.com/PyMySQL/PyMySQL) behind the scenes to connect to and query MySQL databases. For Hive, it looks like you would need to use [PyHive](https://github.com/dropbox/PyHive) to do this.

As far as the UI, mycli relies on [Click](

[2017-03-18 20:08] tsroten commented on #252
Closing as this seemed more terminal-related than Prompt Toolkit-related. Feel free to open again if this issue presents itself.

[2017-03-18 20:08] #252 closed

[2017-03-18 20:14] tsroten commented on #167
Closing as the fix for this was merged into Python Prompt Toolkit in February 2016 and has been released since then.

[2017-03-18 20:14] #167 closed

[2017-03-18 20:21] #269 closed

[2017-03-18 20:36] tsroten commented on #109
@amjith I think I'm not quite understanding this all the way. Is this the same thing as https://github.com/dbcli/mycli/issues/111?

[2017-03-18 20:45] tsroten commented on #163
I'm closing this as it looks like it is fixed.

When I paste and run:
[code]

I get:
[code]

[2017-03-18 20:45] #163 closed

[2017-03-18 20:53] tsroten commented on #355
I renamed the title, so here is the original title:
[code]

[2017-03-18 21:01] tsroten commented on #336
@mmuruev Let us know if you get a chance to try out the tab completion and see if that auto-capitalizes for you. It works like this:

Type `se` and hit `<enter>` -- you should have `SELECT`. You can do the same thing by typing the  whole word: `select`, then hit `<enter>`.

[2017-03-18 22:14] amjith commented on #109
Yes, this is loosely coupled with #111. I was told that it is common practice to have multiple databases in MySQL and run JOIN queries between the tables in those different databases.

So one could do something like:

[code]

In Postgres, there is the concept of schemas. Where each schema has multiple tables in it and you can run a query that joins tables across multiple schemas. But MySQL doesn't

[2017-03-18 23:30] tsroten commented on #109
@amjith Thanks for the clarification!

[2017-03-19 01:20] tsroten commented on #368
@bkt92 mycli version 1.9.0 is now out which should fix this. You can install/upgrade by running `pip install --upgrade mycli`

If you have any other problems, please let us know. Thanks!

[2017-03-19 01:20] #368 closed

[2017-03-19 01:21] tsroten commented on #304
@xeron @LiraNuna

mycli version 1.9.0 is now out which should fix this. You can install/upgrade by running `pip install --upgrade mycli`

Let us know if you run into any other issues, thanks!

[2017-03-19 01:21] #304 closed

[2017-03-19 01:22] tsroten commented on #284
@georgexsh @diversario @jialongl

mycli version 1.9.0 is now out which should fix this. You can install/upgrade by running `pip install --upgrade mycli`

Let us know if you run into any other issues, thanks!

[2017-03-19 01:22] #284 closed

[2017-03-19 01:23] tsroten commented on #288
@georgexsh

mycli version 1.9.0 is now out which should fix this. Your `LESS` environment variable will now be honored. You can install/upgrade by running `pip install --upgrade mycli`

Let us know if you run into any other issues, thanks!

[2017-03-19 01:23] #288 closed

[2017-03-19 01:24] tsroten commented on #255
@sauloperez

mycli version 1.9.0 is now out which has this change in it. You can install/upgrade by running `pip install --upgrade mycli`

Let us know if you run into any other issues, thanks!

[2017-03-19 01:24] #255 closed

[2017-03-19 01:26] tsroten commented on #91
On a related note: mycli 1.9.0 was just released which includes the ability to export to CSV from batch mode (not interactive mode).

[2017-03-19 04:44] mikeerickson opened #375 "Fixed precision decimals are not outputted correctly."
When executing the following  (compare results in AVG column)

[code]

It produces the following in mycli

![image](https://cloud.githubusercontent.com/assets/183153/24078178/c6d232ee-0c23-11e7-86bd-93928d958e86.png)

When using same command in mysql cli

![image](https://cloud.githubusercontent.com/assets/183153/24078179/f5350292-0c23-11e7-8582-d7547496abdd.png)

[2017-03-19 04:48] mikeerickson opened #376 "How do I set the options that the LESS pager uses?"
Just installed `1.9.0` and there seems to be difference

In 1.8.1, the console would scroll with the various entered commands as usual

![image](https://cloud.githubusercontent.com/assets/183153/24078200/68002ffe-0c24-11e7-83ee-c7f31b649e14.png)

But with 1.9.0, it appears it clears screen rather "aggressively"  After each command, it clears the screen and then output results

![image](https://clo

[2017-03-19 07:15] meeuw commented on #375
Hi @mikeerickson I see what you're trying to achieve here and my best guess is that this is a bug in our tabulate library. There is some code in it to detect python Decimal object and then handle it as a string (and prevent the adding/removal of leading/trailing zero's). I will have a look at it soon.

You can see it doesn't get triggered with a Dutch locale (which tabulate doesn't understand)
[co

[2017-03-19 07:39] meeuw commented on #376
Hmm that's stange, I think it is related to this commit (c3ed9a67aeb1a30ddf0ed67203def3aa4c9753ab) where os.environ['LESS'] only get set when it's empty. Could you please check your LESS environment variable by running `echo $LESS` in your shell?

[2017-03-19 14:11] mmuruev commented on #336
Yes. Awesome. Looks good! But is possbile make it without 'TAB' or 'ENTER' just writting sum( will auto replace it to SUM( ?

[2017-03-19 15:02] amjith commented on #336
@mmuruev A similar feature was (requested)[https://github.com/dbcli/pgcli/issues/615] in pgcli (sibling project of mycli). I gave a detailed answer on why that's not possible. I'm pasting that answer below:

[code]

[2017-03-19 18:53] tsroten commented on #375
In our tabulate library, it converts columns where all numbers have decimals into floats (which removes any exact precision).

The only solutions I can think of are:
1. Modify tabulate to look at the precision, and then format it accordingly on output.
2. Remove the float conversion code from tabulate so that it treats floats as strings (meaning they will be outputted as mysql returns them).

[2017-03-19 18:57] meeuw commented on #375
@tsroten I was thinking about getting pymycli to output a Python Decimal object, that seems to be handled like a string in tabulate.
https://github.com/dbcli/mycli/blob/master/mycli/packages/tabulate.py#L338

But I need to dig into this, not sure if that works.

[2017-03-19 19:02] tsroten commented on #375
@meeuw Ah, neat idea.

It looks like PyMySQL automatically converts decimal fields into Decimal objects, but in this example it is not a decimal field, it is the result of a mysql function. We'd have to have some way of autodetecting the type (which would include checking *every* value in a given column). That might be resource-intensive.

I'll wait and see what you come up with :)

[2017-03-20 09:50] meeuw opened #377 "special command \e doesn't work with prompt_toolkit>=1.0.10"
Special command \e doesn't seem to work with new version of prompt_toolkit

Steps to reproduce:
1. `mysql root@172.17.0.2:(none)> select 1\e`
2. change 1 to 2 in editor, save/quit

Expected (works with prompt_toolkit==1.0.9):
`mysql root@172.17.0.2:(none)> select 2`

Actually (with prompt_toolkit>=1.0.10)
`mysql root@172.17.0.2:(none)> `

[2017-03-20 11:38] meeuw commented on #377
we might want to change setup.py d41c29f1dd275df811af57ba376b5b742afac149

[2017-03-20 13:39] tsroten commented on #377
A workaround in mycli's Vi-mode is to hit <Esc>, then hit `v` to bring up the editor. Editing and saving the contents will correctly edit (and immediately execute) the query.

[2017-03-20 14:10] tsroten commented on #377
I think it has something to do with [this change](https://github.com/jonathanslenders/python-prompt-toolkit/commit/903018201e0b0f5ad4090c08879fa83f665413b3).

I'll take a look at it later and see if there is an easy way to fix it on mycli's side without changing `setup.py`, otherwise, we can bump it down like you suggested.

[2017-03-20 14:11] tsroten commented on #377
Homebrew was just updated with mycli 1.9.0 and prompt toolkit 1.0.13 :(

[2017-03-20 14:30] amjith commented on #377
I know that @j-bennet has a fix for it in pgcli. Not yet merged. Maybe she
can shed some light.

On Mar 20, 2017 7:11 AM, "Thomas Roten" <notifications@github.com> wrote:

Homebrew was just updated with mycli 1.9.0 and prompt toolkit 1.0.13 :(

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/dbcli/mycli/issues/

[2017-03-20 14:35] tsroten commented on #377
Thanks @amjith! Here is the issue for reference: https://github.com/dbcli/pgcli/issues/668
And, the pull request: https://github.com/dbcli/pgcli/pull/670

[2017-03-20 20:15] johnksterling commented on #376
Agree - let me know what you see and I can help troubleshoot.  Hopefully you it is working as designed - i.e. passing through your default less settings.

[2017-03-21 12:28] golovan commented on #376
Same issue. $LESS gives -R for me. export LESS="-RXF" fixes it. Placed it into my .zshrc file for now. :)

[2017-03-21 14:56] meeuw commented on #376
@golovan, thanks for reporting! Do you know why you had LESS="-R" ? What operating system are you using (and optionally which toolchain (cygwin/msys/homebrew etc))?

[2017-03-22 14:58] j-bennet commented on #377
Fix is now in master.

[2017-03-22 16:13] #377 closed

[2017-03-23 12:12] meeuw commented on #375
I've created a fix but it doesn't solve it all..

[code]
You'll have to cast the output to a MySQL `DECIMAL`:
[code]
But you can't remove the prefixed `0`
[code]
I'll check if I can get tabulate to leave CHAR fields alone and don't treat them like a number.

[2017-03-23 14:19] RyoDream opened #381 "mycli credits/thanks text sometimes includes non-ASCII characters"
Hi, I'm facing a problem when I tried to connect MySQL server.
The error pops after `mycli -h localhost -u root` and finished password.

The traceback:
[code]

I'm running on a crouton environment in a Samsung Chromebook plus, which is an AMD-powered arm environment (Ubuntu xenial aarch64).

Thanks in advance!

[2017-03-23 14:47] tsroten commented on #381
@RyoDream Thanks for reporting this. For now, the easiest fix is to edit the file `~/.myclirc` and below the `[main]` section, add `less_chatty = True`, like this:

[code]

[2017-03-23 14:55] RyoDream commented on #381
@tsroten Thanks very much! Now it can work on my machine. 👍

[2017-03-24 04:14] jpitchardu opened #383 "Add ability to set statement delimiter"
Hi, I've trouble using mycli to create stored procedures but when I try `delimiter //;` I get

But, if I run it on mysql default client it executes as supposed.

[2017-03-24 09:33] meeuw opened #384 "python-tabulate out dated / forked"
We are using a forked version of tabulate from pgcli and made some modifications for mycli as well.

I've found out from which commit tabulate was forked (a8a670f749c3b0aeaeb5683dfe44665ef19e3d82) and which version from pgcli we're using (560a3fb7c5825ca8a6ef676cc6ced6454f1bbeb2).

I've reconstructed history in this bitbucket branch (python-tabulate is hosted at bitbucket):
https://bitbucket.org/m

[2017-03-24 16:55] amjith commented on #384
@meeuw I think the path forward is to abandon tabulate and use https://github.com/Robpol86/terminaltables/

Terminaltables is a library that provides the absolute minimum for rendering tables. It can handle multi-line values in the cells. So if the output has newlines it will render correctly.

I spiked a prototype a few days ago that I can't find now, but the idea is to use terminaltables to rend

[2017-03-24 17:07] j-bennet commented on #384
Ah, great. I'd be very interested to see that.

[2017-03-24 17:29] meeuw commented on #384
That sounds great, but I'm not sure how many people use the different table formats provided by tabulate. Anyway, tabulate's isint/isnumber string detection isn't very helpful for us and I think there are better ways for formatting html/wikitables/tsv etc.

[2017-03-24 17:39] amjith commented on #384
We'll have to find out if it can do the decimal alignment.

[2017-03-24 22:59] mikeerickson opened #385 "Trouble with mycli installation"
I have a VM setup (using Vagrant with Virtual Box) and running into errors.  I have tried the following (see below).  I have used mycli with other VM instances (using same stack) and all has worked fine?

[code]

This runs fine but when executing `mycli` it cant be found (and I cant seem to find it manually either (where does it store the files)

[code]

This has a bigger issue (see log below).

[

[2017-03-24 23:18] mikeerickson commented on #385
Issued cleared...

- removed all remnants manually
- rebooted VM
- $ sudo pip install mycli
- all working now

[2017-03-24 23:18] #385 closed

[2017-03-25 04:07] tsroten commented on #383
@pichardoJ Thanks for using mycli! I'm sorry you're having issues defining stored procedures.

mycli does not currently support the `delimiter` command -- this is not a SQL statement, but a MySQL client command.

I think it's a good idea. If you or anyone else wants to try to implement it, feel free to :)

[2017-03-25 16:40] sampablokuper opened #387 "mycli fails to return multiple result sets"
MySQL and MariaDB are capable of returning multiple result sets, for example [from a stored procedure](https://forums.mysql.com/read.php?98,365143,365804#msg-365804).

In such cases, the `mysql` client displays all the returned result sets, as expected, but `mycli` only displays the first one.

[2017-03-25 20:31] meeuw commented on #387
Thanks for reporting, I can reproduce this by:

Create stored procedure:
[code]

Call stored procedure
[code]

And it returns:
[code]

It should return both 1 and 2

pymysql supports multiple resultsets by calling `Cursor.nextset()`, I'll check if this can easily be done.

[2017-03-26 20:34] tsroten commented on #336
@mmuruev I think automatically changing what the user types is something that isn't a great fit for mycli, like @amjith mentioned.

I hope that you continue to get a lot out of mycli. Thanks for using mycli and let us know if you have any other ideas or issues!

[2017-03-26 20:34] #336 closed

[2017-03-28 04:01] huwenchao commented on #376
@meeuw, I got the same issue with @golovan, my toolchain is OS  X EI Capitan, zsh, python environment is anaconda, installed mycli with pip.

[2017-03-29 13:28] AurevoirXavier opened #389 "I must press 'q' (quit) after I input any command."
When I update mycli to 1.9 from 1.8.

I have to press 'q', after input anything.

Although I just press Enter...

I don't want to enter the view mode.

[2017-03-29 14:49] belartodmarinus commented on #389
I think this is related to #376 and your LESS variable is not set correct.

Please try `unset LESS` or `LESS="-RXF"` (which is the default) from your shell before starting mycli.

[2017-03-29 14:50] meeuw commented on #389
I think this is related to #376 and your LESS variable is not set correct.

Please try `unset LESS` or `LESS="-RXF"` (which is the default) from your shell before starting mycli.

[2017-03-29 14:53] AurevoirXavier commented on #389
It works.

You did me a big favor. @belartodmarinus @meeuw

[2017-03-29 14:53] #389 closed

[2017-03-30 03:33] tonydeng commented on #376
setting $LESS=-RXF

[2017-04-03 10:21] basebase opened #391 "ImportError: No module named wcwidth"
My site Mac OS run main.py
is error ->

ImportError: No module named wcwidth

  File "/Users/Joker/Documents/code_framework/python/mycli/mycli/main.py", line 26, in <module>
    from prompt_toolkit import CommandLineInterface, Application, AbortAction
  File "build/bdist.macosx-10.11-intel/egg/prompt_toolkit/__init__.py", line 16, in <module>
  File "build/bdist.macosx-10.11-intel/egg/prompt_toolk

[2017-04-03 11:10] meeuw commented on #391
Hi @basebase how did you install mycli? `wcwidth` is a dependency for mycli and it seems it isn't installed on your system. You could try to install it using `pip install wcwidth`.

[2017-04-03 12:25] basebase commented on #391
Hi @meeuw I using pip install wcwidth.

The directory '/Users/Joker/Library/Caches/pip' or its parent directory is not owned by the current user and caching wheels has been disabled. check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
Requirement already satisfied: wcwidth in ./Library/Python/2.7/lib/python/site-packages

[2017-04-03 18:55] meeuw commented on #391
@basebase this seems to be a permission problem, I don't know how comfortable you are with Python?

Maybe it helps if you install mycli in a virtualenv, by using the following commands:
[code]

[2017-04-03 18:59] j-bennet commented on #391
@basebase You're not supposed to start the CLI by running `main.py`. After you installed mycli, simply run:

[code]

from command line.

[2017-04-04 04:36] amjith opened #392 "Automatically format the code"
Formatting code to comply with pep8 is a tedious task. We should have a bot that does that for us.

Fortunately, there is a package that can automatically format python code.

https://github.com/google/yapf

It would be nice to have this run as part of the pre-commit hook or at least in the pre-push hook.

[2017-04-04 04:36] amjith commented on #392
@dbcli/mycli-core What are your thoughts on this idea?

[2017-04-04 07:55] meeuw commented on #392
I really like the code to be uniformly formatted but I prefer a slow approach only on changed / new code.

If we reformat old code in one or multiple commits it will make the use of `git blame` less easy.

Another option might be to rewrite our master branch by using `git filter-branch` and yapf, breaking all forks/branches.

But maybe I'm exaggerating and it only applies to a few lines.

I also l

[2017-04-04 14:09] amjith commented on #392
You make a good point about ruining `git blame` by running yapf.

I hadn't heard of `git filter-branch`, but my initial research shows that it will rewrite the entire history and as you said it will invalidate all the forks and branches.

I'm ok with taking an incremental approach. We can fix pep 8 violations as we touch code.

Are we going to do strict pep8 or pep8 with exceptions? If so, do peop

[2017-04-04 14:17] amjith commented on #392
I just found out about pep8radius: https://pypi.python.org/pypi/pep8radius

It can apply an auto-formatter just to the lines that were touched. I can also use yapf as it's backend.

[2017-04-04 14:38] meeuw commented on #392
I LOVE the idea of pep8radius, great find!

[2017-04-04 20:42] johnksterling commented on #392
I agree that I don't like auto-reformatting, incremental FTW.  Once things are clean you can have the builds fail using pylint or the like to avoid future regressions.

[2017-04-05 00:27] tsroten commented on #392
pep8radius looks excellent. I think it sounds like this incremental approach is well received.

As far as exceptions go, if we're setting up builds to fail based on lint checking (in the future), we'll want to include the exception for line length. Not many projects follow a strict 79 character length limit in every circumstance. 79 characters is good almost all the time, but there are definitely

[2017-04-05 00:37] johnksterling commented on #392
I agree with the PEP8 allowance of <100.  That is what we generally follow.

[2017-04-05 02:21] tsroten commented on #273
I'm closing this since there hasn't been a response in awhile. Feel free to comment and open it back up as needed. We're happy to help out with any issues you run into :)

[2017-04-05 02:21] #273 closed

[2017-04-05 02:29] amjith commented on #392
Would anyone be interested in setting up pep8radius on Travis CI?

[2017-04-05 02:31] j-bennet commented on #392
I'd like to.

[2017-04-05 04:15] basebase commented on #391
@j-bennet @meeuw
I'm through brew install mycli
But I want to see is how to operate

python version => 2.7

[2017-04-05 04:44] j-bennet commented on #391
So this happens when you run `mycli` command?

[2017-04-05 04:47] basebase commented on #391
@j-bennet
I'm Run mycli command is not happens

[2017-04-05 04:56] j-bennet commented on #391
Now I'm confused. :) Are you having this issue running `mycli` or not?

[2017-04-05 05:01] basebase commented on #391
@j-bennet
brew install mycli run mycli command is not happens.
I'm Import mycli source code to pycharm run main.py is error
I want to run the source program.

sudo pip install mycli Is also wrong

[2017-04-05 12:14] tsroten commented on #391
@basebase Could you please paste all the error messages that happen when you run this?
[code]

Thanks!

[2017-04-05 12:39] basebase commented on #391
@tsroten
I choose to python 3.5.0
pip install is sucess

I want to know how to deploy the source code
import pycharm run main.py

 from .packages.tabulate import tabulate, table_formats
ValueError: Attempted relative import in non-package

[2017-04-05 16:57] amjith commented on #391
I think I vaguely understand your question. Here's my attempt at answering that.

First, if you just want to use mycli then you can do that without pycharm. All you have do is:

1. pip install mycli    # This will install mycli and all dependencies.
1. mycli                    # Launch mycli from the commandline and start using.

Second, if you're interested in developing mycli and digging into th

[2017-04-05 17:10] j-bennet commented on #391
@amjith is correct, you won't be able to run from under pycharm, you need a proper terminal environment. But you can absolutely use pycharm for development, and a virtualenv setup (as described in DEVELOP guide) to see the effect of your changes.

[2017-04-05 17:53] mikeerickson opened #394 "How do I add colors to the prompt?"
I am trying to colorize my prompt (I have to use `mycli` on 3 different sessions and want to colorize matching session prompt)

Do you have an example which shows how to do this with `mycli`

I have tried this but it doesn't work (this is what i use from the session prompt)

[code]

produces

[code]

[2017-04-05 17:56] j-bennet commented on #392
Looks like we can do it two ways:

1. Use git pre-push hooks (everyone has to set up his own hooks). More work for everyone, but less work for the repo maintainer.
2. Set up travis to run `pep8radius` for every PR, and if any code style problems are found, make a commit and push to correct those. This is more complicated to set up, since Travis has to be authenticated (use an auth token) to be abl

[2017-04-05 18:06] meeuw commented on #392
@j-bennet I think it would also be possible for Travis to give a warning/failure if an PR introduces/changes code which isn't PEP8 compliant, I don't like automated commits.

[2017-04-06 14:15] basebase commented on #391
Thanks All

[2017-04-06 23:47] j-bennet commented on #392
Resolved by #395.

[2017-04-06 23:47] #392 closed

[2017-04-10 13:22] tsroten commented on #391
@basebase Thanks for using mycli! I'm going to close this issue for now. If you have any other issues, feel free to let us know, thanks!

[2017-04-10 13:22] #391 closed

[2017-04-11 03:01] romber2001 commented on #102
i got the same error on RHEL6.2 with python 2.6, i tried both using pip and easy_install, the issue does not disappeared,waiting for your help,thanks in advance.

[code]

[2017-04-11 03:12] romber2001 opened #397 "error on RHEL6.2 with python 2.6"
i got error on RHEL6.2 with python 2.6, i tried both using pip and easy_install, the issue does not disappeared,waiting for your help,thanks in advance.
#102

[code]

[2017-04-11 03:18] j-bennet commented on #102
We do not support python 2.6 anymore. Python core team ended support for it in 2013.

[2017-04-11 03:21] romber2001 commented on #102
thanks for your answer,as we still use python 2.6 in production envirenment,it's hard to upgrade to the lastest version, may i install mycli in python virtualenv?

[2017-04-11 03:22] j-bennet commented on #102
Yes, mycli works fine in a venv. Sorry about the inconvenience.

[2017-04-11 04:09] amjith commented on #102
@romber2001 We discontinued support for 2.6 in the latest version of mycli. You can still use the older version of mycli (1.8.1) which will work in Python 2.6.

[2017-04-11 05:55] meeuw commented on #397
Hi @romber2001 as far as I know we don't support Python 2.6. I really recommend using Python from https://ius.io or https://fedoraproject.org/wiki/EPEL when using mycli on RHEL6.

As a side note, I'm working on getting mycli + dependencies on https://copr.fedorainfracloud.org/

[2017-04-11 18:30] meeuw commented on #102
@romber2001 you cannot use virtualenv to install a newer version of Python; virtualenv is bound to your system's Python version(s) so I don't think virtualenv will help you.

[2017-04-11 18:51] tsroten commented on #394
@mikeerickson Thanks for using mycli! Colorized prompts sounds like it would be helpful. The library we use for the prompt does not currently support ANSI escape codes. If (or when) they do, mycli should be able to use it :)

Here is the issue if you want to track it: https://github.com/jonathanslenders/python-prompt-toolkit/issues/450

You can colorize your prompt in your `.myclirc` (add the `[co

[2017-04-11 20:03] mikeerickson commented on #394
@tsroten OK, I will go the multiple `.myclirc` files as there is really only one per session.  I have a work `SSH` connection, a `Homestead (Vagrant)` connection and `localhost`.

[2017-04-11 20:07] mikeerickson opened #399 "How do I install mycli 1.8.1 on Ubuntu?"
I have installed mycli using `apt-get` but it installed v1.5.2

Have you updated `apt-get` library so that i can install version 1.8.1

Note:  I dont want to use 1.9 due to the changes it applies to the output

[2017-04-11 20:27] mikeerickson opened #400 "Receiving error when running mycli"
1. Installed mycli into a fresh docker container

[code]

When running, I receive

[code]

Clues?

[2017-04-11 20:33] tsroten commented on #400
@mikeerickson Can we move this discussion to #399? Thanks!

[2017-04-11 20:33] #400 closed

[2017-04-11 20:37] tsroten commented on #399
Hi @mikeerickson! It looks like some of the Ubuntu packages are [a bit behind](http://packages.ubuntu.com/search?keywords=mycli).

Installing via `pip` is probably the way to go, like you're doing in #400. Try installing the python development package first, since pycrypto needs it:
```$ apt-get install python-dev```

Then try to install mycli. I hope that helps!

[2017-04-11 20:38] tsroten commented on #399
I'm wondering, when you say:

What changes to the output are you referring to?

[2017-04-12 01:39] mikeerickson commented on #399
@tsroten yes that is correct (376 explains). I will give it a whirl with the command you recommended.

[2017-04-12 01:40] mikeerickson commented on #399
@tsroten I wound up getting it working installing 1.8.1 using pip.

[2017-04-12 01:40] #399 closed

[2017-04-12 16:05] tsroten commented on #399
@mikeerickson Great! I'm glad to hear that. Let us know if we can help with anything else :)

[2017-04-14 13:44] asfaltboy opened #401 "Shorten sections of the prompt when too long"
I ❤️ `mycli` and use it (along with `pgcli`) for everything! Occasionally I connect to a database that, due to the particular Prompt Formatting parts, has a very long `prompt>`. This prompt is so long that I find it difficult to write any, but the most simplest commands, without breaking lines.

This is often the case for servers on Amazon RDS, as AWS hostnames tend to be long unique strings:

[2017-04-14 16:41] tsroten commented on #401
Hi @asfaltboy! I'm glad to hear you're enjoying mycli! I'm not sure if you're aware that we have two options in the `.myclirc` that are designed to help with this exact issue.

**Option 1:** Newline in the prompt. If you put a `\n` in your prompt in `.myclirc`, then you can make your prompt much more readable. Here is an example:
[code]

**Option 2:** Alias your host names for the prompt. mycli su

[2017-04-14 16:44] tsroten commented on #401
Here is the link to the original issue which had a similar problem with long AWS host names: https://github.com/dbcli/mycli/issues/271

[2017-04-14 18:30] amjith commented on #401
I think pgcli has a feature to automatically switch to a smaller prompt when the prompt length is above a certain threshold. https://github.com/dbcli/pgcli/blob/master/pgcli/main.py#L88

That might not be a bad idea to port over to mycli.

[2017-04-14 18:45] tsroten commented on #401
@amjith Good point. The pgcli option will automatically switch to a simple prompt (only displays database name) when the prompt is over 30 characters. It only does this when the prompt is not customized by the user. I think that'd be a good thing to have, although it doesn't quite help with this problem where the user wants to make sure the host part stays there.

[2017-04-14 18:50] tsroten opened #402 "Switch to a simpler prompt format when length threshold is hit"
The default prompt can become laboriously long when connecting to certain hosts (e.g. AWS). pgcli has a feature that shortens the prompt to the database name when:
1. The prompt is the default prompt (i.e. the user has not customized the prompt)
2. The prompt is over 30 characters

Here is the pgcli issue: https://github.com/dbcli/pgcli/issues/587
Here is the pgcli pull request: https://github.com

[2017-04-14 18:50] tsroten commented on #401
Here is an issue to copy that pgcli feature: https://github.com/dbcli/mycli/issues/402

[2017-04-14 20:43] tsroten commented on #402
In testing this, 30 characters is quite short. On a normal installation, where connecting to localhost for development, it is too easy to hit this limit. For example, this is four characters too long:
[code]

I'm going to recommend we try for 45 for now. That will give the user plenty of room before their host is cut out of their prompt. Of course, if they customize their prompt so it doesn't matc

[2017-04-15 07:12] asfaltboy commented on #401
Thank you both! Yes the second solution bestt solves the issue to my liking, since I already use emre/storm I'm used to aliasing my server connections strings.

[2017-04-15 07:12] #401 closed

[2017-04-15 14:10] johnksterling commented on #402
I submitted a PR for this and defaulted to 45 as recommended.

[2017-04-15 17:56] tsroten commented on #402
Thanks @johnksterling! Great work!

[2017-04-19 03:16] tsroten commented on #377
mycli version 1.10.0 is now out which fixes this.

[2017-04-19 03:18] tsroten commented on #381
@RyoDream mycli version 1.10.0 is now out which should fix this. You can install/upgrade by running `pip install --upgrade mycli`

If you have any other problems, please let us know. Thanks!

[2017-04-19 03:18] #381 closed

[2017-04-19 03:18] tsroten commented on #402
mycli version 1.10.0 is now out which adds this. You can install/upgrade by running `pip install --upgrade mycli`

[2017-04-19 03:18] #402 closed

[2017-04-19 03:23] tsroten opened #407 "Unable to upload mycli via setuptools or twine"
I was surprised to hit an error in the release of 1.10.0. This is the second surprise of the week from the good folks at PyPI :)

In this case I uploaded the release manually. But, we can fix it for next time.

[code]

@amjith Are you alright with me making your email address valid in `setup.py` (i.e. `[dot]` -> `.` and `[at]` -> `@`)? I assume it was done that way to prevent spam, so I wanted to

[2017-04-19 03:27] j-bennet commented on #407
@amjith: Same here. I already had to enter a valid email address for `pgcli` (except I entered it as `amjith.r+pgcli` because gmail ignores part of the username after `+`, and you can block emails with this `To` address if you like).

[2017-04-19 04:12] amjith commented on #407
Pull requests submitted to both mycli and pgcli. I didn't realize my name was still listed there.

[2017-04-20 00:41] tsroten commented on #407
Closing since this the pull request is merged and this is now considered resolved.

[2017-04-20 00:41] #407 closed

[2017-04-20 00:51] tsroten commented on #35
It looks like mysql does this as well. It can tell the difference between a command and a query, so the editor will only ever display the last query.

For example, here is a sample narrative:
- `use my_db`
- `edit` -- editor opens blank
- `select count(*) from my_table;`
- `edit` -- editor opens with previous query
- `use my_db_number_2`
- `edit` -- editor opens with same query as before (`select

[2017-04-20 01:09] tsroten commented on #330
@csrgxtu Good luck with Apache Hive! I'm going to close this issue for now since it's not looking like this will be a good fit for mycli.

[2017-04-20 01:09] #330 closed

[2017-04-20 01:11] amjith commented on #35
I'm not sure if we need to emulate exactly what mysql does. I feel like we can just edit whatever was the previous command.

Simply because there are many corner cases like what if the previous command was a multi-query separated by semi-colons and one of them happens to be `use my_db`?

At least for the first attempt let's do just previous command and so special cases.

[2017-04-20 01:11] tsroten commented on #35
Agreed 👍

[2017-04-27 05:23] Travis-z opened #414 "Installing mycli 1.8.1 with Python 2.6"
[code]

[code]

[code]

[2017-04-27 05:54] amjith commented on #414
mycli dropped support of Python 2.6 since version 1.9 and above.

You can either upgrade python 2.7 or you can install an older version of mycli and continue to use it.

You can use the following command to install an older version of mycli:

[code]

Sorry about the inconvenience.

[2017-04-27 06:13] meeuw commented on #414
Since you're using CentOS I'd advice you to use the EPEL or IUS yum repositories to install a new version of Python.

https://ius.io/
https://fedoraproject.org/wiki/EPEL

[2017-04-27 07:01] Travis-z commented on #414
@amjith  @meeuw think you very mach. I follow your answer, first uninstall, and then re-install, but there are other errors.

# pip install mycli==1.8.1
You are using pip version 7.1.0, however version 9.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Collecting mycli==1.8.1
/usr/lib/python2.6/site-packages/pip/_vendor/requests/packages/urllib3/util/ssl

[2017-05-01 14:13] tsroten commented on #414
@Travis-z Can you try `pip install argparse`, then run mycli again.

[2017-05-01 14:15] tsroten commented on #397
@romber2001 Also, see #414 if you want to install mycli with Python 2.6.

[2017-05-01 14:19] tsroten commented on #384
This was resolved by #388, which will be in the next release.

[2017-05-01 14:20] tsroten commented on #375
@meeuw Now that both #380 and #388 are merged, this is fixed, right?

[2017-05-01 18:13] meeuw commented on #375
👍 the query from @mikeerickson gives the same output as official mysql client.

[2017-05-02 09:30] wangxuesong29 opened #424 "Some unknown things"
<img width="533" alt="2017-05-02 11 23 38" src="https://cloud.githubusercontent.com/assets/14146871/25612271/51c21648-2f2a-11e7-9a76-459f19223c38.png">
Hi, guys. I met a small problem.
In each line, there is a ^I, I do not know what is that. There is no error or warning, but it is annoying.

Thank you for your help.

[2017-05-02 17:44] j-bennet commented on #424
@wangxuesong29 What is your OS?

[2017-05-02 18:18] meeuw commented on #424
I can reproduce this when I get a ```tab``` character in mycli (I'm using \e and insert a tab using ctrl-v tab).

[2017-05-03 03:37] tsroten commented on #394
@mikeerickson mycli 1.10.0 has a new command-line argument `--myclirc`, which allows you to specify an alternative config file.

You could alias this in your shell to make it easy-to-use, e.g.:

[code]

Then, every time you run `mycli_work`, it loads the correct config file.

I'm going to close this issue for now. If that python prompt toolkit issue is implemented and there is a problem using in m

[2017-05-03 03:37] #394 closed

[2017-05-03 07:26] wangxuesong29 commented on #424
@j-bennet I am using mac os Sierra 10.12.4 with zsh 5.3.1 (x86_64-apple-darwin16.3.0).

[2017-05-03 07:42] wangxuesong29 opened #426 "Delimiter does not work"
Hi guys, one more question.

When I use DELIMITER, I can change ; into whatever I want, like the picture 1.
![2017-05-03 09 39 26](https://cloud.githubusercontent.com/assets/14146871/25651628/736c1450-2fe4-11e7-9d9d-96144337b2ee.png)

But when I turn into mycli, I can not do the same thing. When I hit enter, it goes into another line.
![2017-05-03 09 40 38](https://cloud.githubusercontent.com/asse

[2017-05-03 11:32] tsroten commented on #426
Hi @wangxuesong29! We currently don't support the delimiter command.

I'm going to close this since it is a duplicate: https://github.com/dbcli/mycli/issues/383

[2017-05-03 11:33] #426 closed

[2017-05-08 14:22] jyouAc commented on #145
[code]

and add this to Lib/python2.7/site-packages/sitecustomize.py
[code]

and it works!

[2017-05-08 15:29] mikeerickson commented on #364
ping @tsroten :-)

[2017-05-08 17:39] tsroten commented on #145
@sbusch Hello! I'm sorry you're having trouble with this. Can you please show us your locale's encoding by running this in your shell?
[code]

[2017-05-08 17:43] tsroten commented on #364
Hi @mikeerickson! I'm not sure when I'll be able to get to this. Pull requests are welcome from anyone :)

[2017-05-08 21:22] tsroten opened #432 "Keeping Mycli.net Documentation Up-To-Date"
Our mycli.net documentation is falling behind. This needs to be:

- part of our normal release process
- possibly automate parts of it? e.g. config file, help commands, etc.

I'm wondering -- is it confusing that the FAQs on mycli.net are not related to *using* mycli? They are FAQs about the project.

[2017-05-09 00:46] tsroten commented on #432
Any automation would only happen at release time so as to not keep pre-release documentation on the public site.

[2017-05-10 15:59] dbolser-ebi opened #434 "How do I enable local data files?"
LOAD DATA LOCAL INFILE in mycli gives me this error:

    Wed May 10 16:56:47 2017
    ensrw@mysql-eg-prod-1.ebi.ac.uk:4238/ sorghum_bicolor_core_36_89_20

    ->  "/homes/dbolser/EG_Places/Data/Sorghum/Sbicolor_255_v2.1.locus_transcript_name_map_fix.txt"
    ->INTO TABLE
    ->  temp_stable_id_event
    ->;
    (1148, 'The used command is not allowed with this MySQL version')

[2017-05-10 15:59] dbolser-ebi commented on #434
I should mention that this same SQL works fine in the standard client.

[2017-05-10 16:05] tsroten commented on #434
Hello @dbolser-ebi! Can you make sure that local infile is turned on in mycli?

## Option 1

Add `local-infile=True` to the `[client]` section of your `.my.cnf`.

## Option 2

Start mycli with the local infile option: `mycli --local-infile=1`

[2017-05-10 16:10] dbolser-ebi commented on #434
I'm sure that's it, thanks @tsroten ... Yup, works :-D

[2017-05-10 16:11] dbolser-ebi commented on #434
Can I add this in my.cli configuration? I don't want mysqldump and friends getting confused by options they don't understand.

[2017-05-10 16:13] tsroten commented on #281
@dbolser-ebi requested we can read `local-infile` via the `.myclirc` as well.
https://github.com/dbcli/mycli/issues/434#issuecomment-300533043

[2017-05-10 16:13] tsroten commented on #434
@dbolser-ebi Not at this time. I'd try `alias mycli='mycli --local-infile=1'` in your shell config files.

I'm revamping some of the ways we read config options (#281). I'll add a note there that you requested it.

[2017-05-10 16:15] dbolser-ebi commented on #434
Thanks again @tsroten.

[2017-05-11 01:48] tsroten commented on #383
Just a note that the sqlparse library we use internally does not currently support delimiters other than semi-colon. They have an ongoing issue tracking this request: https://github.com/andialbrecht/sqlparse/issues/139

[2017-05-11 02:10] tsroten opened #435 "Drop or deprecate support for environment variable MYSQL_PWD"
The MySQL documentation [strongly recommends against](https://dev.mysql.com/doc/refman/5.5/en/password-security-user.html) using this feature:

Or, we could deprecate it by issuing a warning to the user if that environment variable is set.

[2017-05-11 03:31] tsroten commented on #434
@dbolser-ebi I forgot to mention the `loose-` prefix for the config option. This is designed to prevent it from breaking other mysql applications. From the [MySQL documentation](https://dev.mysql.com/doc/refman/5.5/en/load-data-local.html):

Mycli supports `loose-local-infile`.

[2017-05-11 08:37] dbolser-ebi commented on #434
Wow, MySQL admit that their [client] setting is unfit for purpose... Why
don't they just recommend that you put it in [mysql]? Why don't they just
warn about options the given client doesn't understand? So ... do they
expect every client to be able to ignore every option from every other
client by just prefixing loose? This is crazy!​ (Nothing todo with mycli,
but I guess you've inherited a broken

[2017-05-11 09:42] dbolser-ebi commented on #387
Why aren't you calling this a bug?

[2017-05-11 09:47] dbolser-ebi commented on #332
I'm having similar issues under screen. i.e. I can paste multiline queries /without/ Multiline OFF in my regular terminal, but not under a screen session. Also, pasting multiline queries is 'activating' the autocomplete box in both cases, which is distracting. I seem to remember seeing another issue about this, but I can't find it.

[2017-05-11 10:02] dbolser-ebi commented on #163
Hmm... I'm still seeing just '|   1 |' when under screen... I suspect this is a screen bug, not a mycil bug.

[2017-05-11 10:14] dbolser-ebi commented on #163
Here is my screen cap of what happens without screen, pasting the following, with or without Multiline

    use mysql;
    select User from user;
    select User from user;

## Sorry for the 'real time' capture:
https://asciinema.org/a/e6ngrwsjx1ruvfjt40aczsnx9

You can see that I have to manually press return despite pasting a newline, and that the autocomplete box pops up annoyingly.

[2017-05-11 12:55] tsroten commented on #163
@dbolser-ebi No problem with the real-time capture :)

The final newline is pasted, so it's not going to trigger the query to submit. As far as I can tell, this is [by design](https://cirw.in/blog/bracketed-paste) in prompt toolkit.

The autocomplete box pops up because of the final newline -- it's like typing a space after `select` -- you'll get suggestions for your next word.

If you paste witho

[2017-05-11 13:08] tsroten commented on #332
@dbolser-ebi What happens when you paste under screen?

[2017-05-11 13:10] tsroten commented on #387
@dbolser-ebi Mostly because it appears that this was not an oversight, but intentionally left out to make the initial mycli release simpler.

I could easily be wrong :) @amjith

[2017-05-11 13:18] dbolser-ebi commented on #332
Same issue as described above...
http://asciinema.org/a/2d00z0rytoxxowfsldkigmozv

[2017-05-11 13:30] dbolser-ebi commented on #163
Hmm... in multi-line mode I'd expect the queries to be executed one by one following each newline after each ;

That's just my expectation, not necessarily the right thing ;-)

[2017-05-11 13:31] dbolser-ebi commented on #387
Hehe, I guess it's semantics.

[2017-05-11 13:37] dbolser-ebi commented on #163
Also, what's with the formatting? It's turning my SQL into concrete poetry!
`http://pasteboard.co/50bvYNKVk.png`

[2017-05-11 16:40] amjith commented on #163
@dbolser-ebi Congratulations!! You've unlocked our secret poetry formatting mode. We love this format, I wish more people would use it.

If you don't like it, I understand, it's not everyone's cup of tea. Here's how you can turn this off  press Ctrl+Alt+Delete+Esc+ScrollLock+Space. Oh you need to be suspended upside down and sipping a cup of oolong tea and singing "La donna è mobile" while pressin

[2017-05-11 17:00] j-bennet commented on #163
@amjith From the pasteboard above it looks like @dbolser-ebi is using 1.10.0.

[2017-05-11 17:01] j-bennet commented on #163
But it may be a different prompt toolkit than you have @amjith. @dbolser-ebi , can you post the `pip freeze` output?

[2017-05-12 03:09] tsroten commented on #435
@amjith I'm curious for your thoughts on this.

[2017-05-12 03:20] amjith commented on #435
I thought using env vars was one of the recommended ways to pass in credentials to a microservices. I know that docker uses it all the time and a lot of application servers use the env vars to get the credentials to connect to database.

I'm not so sure this is such a security risk. But I'm also not an expert in that area.

I'm fine printing a warning as part of the startup, we can even make that

[2017-05-12 03:24] tsroten opened #437 "Add current time to the prompt format"
It would be useful to see the current time in the prompt. For example, you could see when you last ran a command.

See the related pgcli issue: https://github.com/dbcli/pgcli/issues/580

[2017-05-12 03:42] tsroten commented on #437
Wow, didn't even notice we already have this... I guess we should document this in the `.myclirc`.

[2017-05-12 09:27] dbolser-ebi commented on #163
To be clear, this is when I paste the following SQL from emacs into mycli running under screen with Multiline: ON

[code]

As for the prompt toolkit version, one potentially complicating factor is that I'm in the habit of running mycli directly, without first invoking the virtualenv that I used to install it. i.e.
`/homes/dbolser/EG_Places/External/mycli-master/venv/bin/mycli`

where the virtualen

[2017-05-12 10:49] alasdairdc commented on #163
Does the same happen if you try it witihn [tmux](https://tmux.github.io/)?

[2017-05-12 14:13] jonathanslenders commented on #163
Which terminal application are you using? Does it support bracketed paste?

[2017-05-12 22:22] tsroten commented on #91
#433 Implements saving output to a file. Coupled with the output formats CSV and TSV, mycli can now export tabular data (in the pending release).

Once it's released, I'll close this issue. We can open a separate issue(s) for a few remaining points:
- the output has the `N rows in set` line in it
- the output is also outputted to the screen -- there should be a way to export without displaying the

[2017-05-16 06:56] keevitaja opened #439 "Disable "You are now connected to database" notice after selected database"
Hello!

Is it possible to disable "You are now connected to database" notice when database has been selected?

Or at least do not require user hit `q`

![screenshot_2017-05-16_09-55-30](https://cloud.githubusercontent.com/assets/158787/26093273/db561c76-3a1d-11e7-81aa-039b1c5cbd6e.png)

[2017-05-16 09:04] meeuw commented on #439
Hi, I think your pager `less` isn't playing nice, this is not how it should work.
Please have a look at https://github.com/dbcli/mycli/issues/376, you should set `export LESS=-RXF`.

[2017-05-16 10:44] keevitaja commented on #439
Thanx. All good!

[2017-05-16 10:44] #439 closed

[2017-05-17 18:32] glasala commented on #376
Happened to me, solved setting "-RXF".
I had
[code]

[2017-05-18 07:24] goshan commented on #273
hi, i'm getting a error like:
`'ascii' codec can't encode characters in position 0-3: ordinal not in range(128)`
with query `select * from cms limit 2;`
But i can get what i want in mysql like
[code]

here is my mycli status
[code]

This may be there are some japanese characters in my results. so could mycli support utf-8?

[2017-05-18 11:38] tsroten commented on #273
@goshan Hello! I'm sorry you're having trouble with this. Mycli does support UTF-8, so let's try to figure this out. Can you please show us your locale's encoding by running this in your terminal?

[code]

[2017-05-19 00:40] goshan commented on #273
@tsroten Hi, thanks for replying. I got some output like this after using command you told me
[code]
So should I set LANGUAGE and LC_ALL to `ja_JP.UTF-8` ?

[2017-05-19 07:32] meeuw commented on #273
I would like to reproduce this, could you please give us a (mysql)dump for the cms table?
`mysqldump tvi_prj2_sys cms --where "id in (717852, 748275)"`

[2017-05-19 08:03] goshan commented on #273
@meeuw okay. here is all my output from dump
[code]

[2017-05-19 12:30] tsroten commented on #273
@goshan Try setting `LC_ALL` to `ja_JP.UTF-8`:
[code]

Then, in the same terminal, run mycli and see if the output changes.

[2017-05-19 13:25] meeuw commented on #273
Thanks for posting the database dump, it works for me (on Linux):
[code]

Could you post the output from `python -m sysconfig` ? Maybe Python is compiled without unicode support or something like that.

[2017-05-19 14:12] goshan commented on #273
@tsroten  @meeuw  It still not works for me with  `LC_CTYPE=ja_JP.UTF-8 LANG=ja_JP.UTF-8 mycli` or `export LC_ALL='ja_JP.UTF-8'`. Here is my output about `python -m sysconfig`, it's a little long so i've no idea about which variable is the key.
[code]

[2017-05-20 05:58] meeuw commented on #273
I've compared this output to the homebrew install of @tsroten but I don't see much differences for the unicode related configuration. (Except @tsroten is running Sierra, but I don't think that would make a difference). Python 2.7 is supported but maybe you could try to use Python 3 for mycli, Python 3 is much better at unicode.

[2017-05-20 08:04] goshan commented on #273
so I install python3 with Homebrew, right?. could you tell me how could I set mycli to use python3. It may be using python 2.7.13 by default.

[2017-05-20 11:21] terjeros opened #440 "Add support for expired accounts"
MySQL 5.7 and newer can set password for account expired:

https://dev.mysql.com/doc/refman/5.7/en/password-expiration-policy.html

When this is done, account can login, however all what can be done is to
reset password.  It seems mycli don't understand this feature:

mysql root@localhost:(none)> CREATE USER 'tst'@'localhost' IDENTIFIED BY 'MyNewPass4.';
Query OK, 0 rows affected
Time: 0.002s
mysq

[2017-05-20 13:01] tsroten commented on #440
@terjeros Thanks for submitting this :)

It looks like PyMySQL, the library we use for interacting with the MySQL server, does not yet support telling the server it can handle expired passwords.

I'll request this feature in an issue over there.

Do you know what happens in mycli if you do this on a server that has [`disconnect_on_expired_password`](https://dev.mysql.com/doc/refman/5.7/en/server-s

[2017-05-20 13:02] tsroten commented on #440
Related link: https://dev.mysql.com/doc/refman/5.7/en/password-expiration-sandbox-mode.html

[2017-05-20 14:31] meeuw commented on #273
I don't have much experience with homebrew, You could use a python 3 virtualenv, then you're sure python3 is used. You can use the following commands:
[code]

[2017-05-21 03:19] tsroten commented on #440
Here is the issue at PyMySQL: https://github.com/PyMySQL/PyMySQL/issues/572

[2017-05-21 03:24] tsroten commented on #273
I don't think the command is `virtualenv-3.5 mycli` (at least that doesn't work on my computer), instead for the second command, you could do `virtualenv -p python3.5 mycli`

[2017-05-21 03:25] goshan commented on #273
@meeuw @tsroten I got it! FinalIy, I installed python3.6 with Homebrew, and install mycli using what you told me. Thank you guys very much!

[2017-05-25 14:17] ArduousBonze opened #442 "prompt not effective and how can let query result show directly on the prompt"
hi,

I have 2 questions:

1. why the prompt not effective since already configed on the ~/.myclirc:
[code]
2. how can let query result show directly on the prompt window? Now every time when I run a query, the result show in another cmd(editor) window, I have to press `q` to get back to the mycli prompt window.

thanks

[2017-05-25 20:27] amjith commented on #442
@ArduousBonze

1. The prompt will be automatically shortened if it was longer than 45 characters. This is to avoid really long host names (like AWS hostnames) from dominating the prompt with useless information. So if your prompt was really long then it will be shortened to just the name of the database.

2. The result is automatically piped into a pager we try to use the `less` pager to show the

[2017-05-26 01:11] tsroten commented on #442
@ArduousBonze The prompt is only shortened if you are using the default prompt. If you change your prompt to something like `prompt = '\u@\h:\d> '` then it will not shorten.

[2017-05-26 01:13] tsroten commented on #442
@amjith Good response :) I think you might mean to set the pager instead of the editor.

In `~/.my.cnf`:
[code]

[2017-05-26 02:06] ArduousBonze commented on #442
Thanks a lot. @amjith  and @tsroten . All my issues are fixed!

[code]

[2017-05-26 02:06] #442 closed

[2017-05-26 03:32] amjith commented on #442
@tsroten Didn't we decide that we were going to get rid of the support for pager in ~/.my.cnf and add that option to myclirc file?

[2017-05-26 03:40] tsroten commented on #442
@amjith Yeah, I'm working on refactoring all the config code.

[2017-05-26 17:33] #434 closed

[2017-05-27 04:25] tsroten opened #445 "Attempting to quit sometimes raises NotImplementedError"
If a user attempts to quit immediately after running the external editor, a `Not Yet Implemented` error is displayed.

[code]

[2017-05-28 05:56] meeuw commented on #435
I think the mysql documentation is a bit exaggerating, I know more systems that are sharing command arguments in `ps` output than the environment variables.

Docker is limited to Linux only, and as far as I know the environment variables are safe on Linux.

If we start warning about `MYSQL_PWD` we also should warn about `-p` and warn if `.my.cnf` is readable for other users (like openssh's `.ssh/i

[2017-05-28 13:59] tsroten commented on #435
@meeuw @amjith I agree that it seems a bit overboard. What if we simply deprecate it through the documentation. In other words, we make it clear what the recommended way to specify passwords is.

[2017-05-28 18:07] meeuw commented on #435
Just to be sure; the recommended way is by using `mysql_config_editor` with a master password?

As I think of it; it would be nice if we could write an encrypted password using mycli...

[2017-05-28 18:34] tsroten commented on #435
@meeuw  The problem with `mysql_config_editor` is that you do not control the "master password". If you use `mysql_config_editor` and I get a hold of your login path file, I can decrypt it using `mysql_config_editor` or mycli.

It's been pointed out a few times that mycli's support of `mysql_config_editor` files is not a security feature. It's a convenience feature for those people who use mysql.

[2017-05-28 19:30] meeuw commented on #435
@tsroten you are completely right, maybe we could go a bit futher like Google Chrome uses the operating system default keyring, maybe implement this in cli_helpers?

[2017-05-28 19:42] tsroten commented on #435
@meeuw That's a good idea. We could have a CLI Helper module that wraps around [`keyring`](https://github.com/jaraco/keyring). I like the idea of using an existing library behind the scenes, since it would be laborious to support each OS's keyring on our own.

This would be a good thing to add into mycli once I move all the config reading/writing code out of mycli -- we could look up the password

[2017-05-30 18:29] charliehjkl opened #447 "how to clear the blank lines at the bottom ?"
as title

[2017-05-30 18:30] amjith commented on #447
Can you elaborate a little? Maybe a screenshot will help.

[2017-05-30 18:49] 962464 commented on #447
https://github.com/dbcli/mycli/issues/288#issuecomment-279590700

[2017-05-30 19:15] tsroten commented on #447
@962464 Hello! If I'm interpreting your link and title correctly, you're wondering how to get rid of the blank lines below the mycli prompt. Those lines are needed for auto-completions to work, which is an essential feature in mycli. We can't get rid of them and still have a working auto-completion menu.

If you're having trouble using mycli in a small window, our next release has a fix for that -

[2017-05-30 19:25] amjith commented on #447
I'm guessing this is related to the pager stuff.

Try setting an environment variable called `PAGER` and set its value to `cat`.

eg:

[code]

See if that helps.

[2017-05-30 19:38] 962464 commented on #447
@amjith it doesnot work . thx
@tsroten hope for the next version . thx

[2017-06-03 09:56] wuhuanyu opened #449 "Have to press q after do some search."
Newbie to mycli,and it works very well.But whenever I do some operation, I have to bother to press q to quit. Screenshort:
![selection_015](https://cloud.githubusercontent.com/assets/16066355/26752570/9320fa4a-4885-11e7-890f-bc8c100fed5c.png)
After I quit, no result shows in the original terminal:
![selection_016](https://cloud.githubusercontent.com/assets/16066355/26752601/32ab2b76-4886-11e7-8c50

[2017-06-03 13:45] tsroten commented on #449
Hi! That is the pager program, which is enabled by default.

You can disable it by adding this to your `~/.my.cnf` file:

[code]

[2017-06-03 13:47] tsroten commented on #449
Hi! That is the pager program, which is enabled by default.

You can disable it by adding this to your `~/.my.cnf` file:

    [client]
    skip-pager=on

[2017-06-04 01:36] amjith commented on #449
@wuhuanyu  Can you tell us what version of mycli you're using? You can find out the version by:

[code]
Can you also tell us the output of the following commands in your shell (not inside mycli)

[code]

[2017-06-04 01:38] amjith commented on #376
Hey Folks. We're considering making some changes to the pager stuff in mycli. Can you answer a few questions to help us decide?

Can you tell us what version of mycli you're using? You can find out the version by:

[code]

Can you also tell us the output of the following commands in your shell (not inside mycli)

[code]

[2017-06-04 01:39] amjith commented on #442
@ArduousBonze We're thinking about making some changes to the way the pager is handled in mycli. Would you mind helping us by answering a couple of questions?

Can you tell us what version of mycli you're using? You can find out the version by:

[code]

Can you also tell us the output of the following commands in your shell (not inside mycli)

[code]

[2017-06-04 01:49] ArduousBonze commented on #442
Sure.

[code]

[2017-06-04 04:56] wuhuanyu commented on #449
@amjith
![selection_017](https://cloud.githubusercontent.com/assets/16066355/26759070/34163baa-4925-11e7-9590-bff3394c9d5f.png)

[2017-06-04 10:37] wuhuanyu commented on #449
@amjith @tsroten  I checked another closes issue and solved my problem! I changed the environment variable:
`export PAGER=cat` Thank you! And I think if cat should be default configuration for any new bie to mycli.

[2017-06-04 17:58] #449 closed

[2017-06-04 18:30] tsroten commented on #424
Hello @jonathanslenders! In both mycli and ipython if you paste a tab character, it shows up as `^I` without affecting the indentation. Is this possibly due to something in `prompt_toolkit`?

[2017-06-05 08:09] jiming opened #453 "Why each time I execute sql, which require me press 'q' to exit the result screen"
Hi,

Thank you for this very cool tool, I really love it. I am using version 1.10

But each time I execute sql, it will have such a prompt and I then have to press 'q' to quit. I tried search google. But no solution. Could you please help me figure it out? Great thanks!
[code]

Jiming

[2017-06-05 08:25] meeuw commented on #453
Hi @jiming, this is a known issue. I think the `LESS` environment variable is set without the `-F` flag, you should unset your `LESS` environment variable, add `-F` to your `LESS` environment variable or disable your pager.

[2017-06-05 11:50] jiming commented on #453
Dear meeuw,

Thank you, add -F to LESS work! Have a nice day!

Jiming

[2017-06-05 11:50] #453 closed

[2017-06-05 12:15] glasala commented on #376
Hello,
mycli Version: 1.10.0
pager: less
-RXFI

[2017-06-05 13:53] tsroten opened #455 "Don't output status text to pager, output file, or tee file."
When you execute a query, various status lines are outputted to undesirable places like the pager, output file (i.e. `\once` command), and tee file.

Example status text that shouldn't be outputted:
- `2 rows in set`
- `Changed table format to []`
- `You are now connected to database [] as user []`

[2017-06-06 05:34] ShadowLL opened #456 "How do I connect via a socket?"
Mysql database can be connected by command mysql, but can not be connected by command mycli, it response the msessage as the title.

[2017-06-06 06:59] meeuw commented on #456
Hmm I think `mysql` connects using a socket and `mycli` using a TCP/IP connection. Could you please connect using `mysql` and post the output from the `\s` command? Especially the `Connection` line.

[2017-06-06 08:45] ShadowLL commented on #456
Using mysql:
[code]
Using mycli:
[code]

[2017-06-06 11:03] meeuw commented on #456
@ShadowLL could you please run the following command `\s` after: `MariaDB [(none)]>` ?

[2017-06-06 11:32] ShadowLL commented on #456
@meeuw
[code]

[2017-06-06 17:02] tsroten commented on #456
@ShadowLL Hello! Like @meeuw mentioned, it looks like your `mysql` client is connecting via a UNIX socket, not over a TCP/IP connection. So, here's how you'll want to try to start mycli:

[code]

-----
### Alternative Approach with Config File
You can also put this in a config file so you can start mycli normally:

In `~/.my.cnf`, add:
[code]

Then, start mycli like this:
[code]

[2017-06-07 04:02] tsroten commented on #414
I'm going to close this since we haven't heard from you in awhile. Feel free to open it back up if you'd like 😄

[2017-06-07 04:02] #414 closed

[2017-06-07 04:03] tsroten commented on #397
I hope you were able to get this installed. I'm going to close this for now, feel free to open it back up if you'd like 😄

[2017-06-08 13:53] tsroten commented on #440
This is no longer blocked. We can tell MySQL we support the sandbox mode by connecting to via PyMySQL with the `pymysql.contants.CLIENT.HANDLE_EXPIRED_PASSWORDS` flag. For example, in `mycli/sqlexecute.py`:
[code]

Some work will need to be done because, right now, the user is immediately kicked out of the application with the error `(1820, 'You must reset your password using ALTER USER statement

[2017-06-08 15:47] j-bennet commented on #387
This is now fixed in master. To install from master:

`pip install -U https://github.com/dbcli/mycli/archive/master.zip`

[2017-06-08 15:47] #387 closed

[2017-06-09 14:24] tsroten commented on #364
Ok, initial progress on this is looking good. The challenge now is figuring out how to handle writing the output to files. A given query's output has the potential to be written to an audit log file, tee file, and one-time output/export file.

In the files we don't want the escape codes, but we don't want to have to always strip the escape codes.

<img width="227" alt="screen shot 2017-06-09 at 09

[2017-06-09 18:12] amjith commented on #364
I wonder if click provides a way to pipe an output where it strips the color codes.

[2017-06-09 22:06] j-bennet commented on #364
@tsroten @amjith It looks like you can provide a `file` parameter to `click.echo` and it will strip ANSI color codes for you:

https://github.com/pallets/click/blob/945b4d38a323e8957df04ca371e7e032f930179e/click/utils.py#L167-L261

It does the stripping if the provided `file` is not a TTY:

https://github.com/pallets/click/blob/a50befdc3ac475826af75e48fd48b21530851176/click/_compat.py#L520-L529

*

[2017-06-12 01:13] tsroten commented on #364
@j-bennet Good job noticing that! I've added the `click.echo` calls to the pull request (depends on new CLI Helpers release, so the tests fail right now).

[2017-06-12 02:13] ShadowLL commented on #456
@tsroten It worked when I tried the command `$ mycli -S /var/run/mysqld/mysqld.sock` as the user root. But it didn't work when I tried the same command as a normal user. Putting this in a config file is not OK either. Should I run the command as the root user?

[2017-06-12 10:25] meeuw commented on #456
@ShadowLL please try the following command:
`mycli -S /var/run/mysqld/mysqld.sock -u root`

[2017-06-14 02:16] chrisyue opened #463 "can mycli wrap very long text into multiple lines?"
when some fields of a row contain very long text, the result table is broke. so can I tune some setting to have a better presentation?
<img width="1436" alt="2017-06-14 10 12 53" src="https://user-images.githubusercontent.com/129517/27112559-7b150118-50ea-11e7-82d6-1c523ff46e20.png">

[2017-06-14 03:23] tsroten commented on #463
Hello @chrisyue! Yes, you can definitely tweak this. mycli uses a pager application to display results (typically the program `less`).

You can tell `less` how to display the results by setting an environment variable:
[code]

A breakdown of the options:
- `-X` leaves file contents on the screen when less exits.
- `-F` makes `less` quit if the entire output can be displayed on one screen.
- `-R` d

[2017-06-14 06:34] meeuw commented on #463
you could also try the 'wide output', append `\G` to your query. For example:
[code]

[2017-06-15 08:49] chrisyue commented on #463
big thanks to @tsroten and @meeuw

[2017-06-15 15:41] tsroten commented on #463
@chrisyue Have fun with mycli! Let us know if you need help with anything else 😄 .

[2017-06-15 15:41] #463 closed

[2017-06-20 14:10] dbolser-ebi opened #465 "Quite long start times?"
Perhaps I'm spoiled, but these start times seem quite long:
https://asciinema.org/a/jX5lJQ3Vr3Ax3BOELsdTcxLeb

[2017-06-20 14:21] tsroten commented on #465
@dbolser-ebi Hello! Those do seem a bit long. To compare, I'm hitting anywhere from .354 to .510 seconds depending on which server I connect to. That includes opening an SSH connection to tunnel over.

Have you compared the start times on the same server with mysql's?

Also, for your credentials script, is it pulling the credentials from some kind of auth manager/encrypted file?

[2017-06-20 14:25] dbolser-ebi commented on #465
https://asciinema.org/a/2vRFHWtxpZwBsivLPyWqngSon

No, but having the credentials script work with mysql's encrypted... thing is on my todo list.

[2017-06-20 14:33] tsroten commented on #465
Certainly a big difference. I think it's worth exploring what some of the bottlenecks might be. Especially for the `-e` argument, e.g. not setting up the completion engine.

[2017-06-20 16:05] amjith commented on #465
Agreed! We need to run a profiler and figure out where we're spending time. I've noticed this on mycli and pgcli as well the startup times are getting worse.

[2017-06-20 18:42] dbolser-ebi commented on #465
I think the native client only sets up autocomplete for the given database
(or nothing if one isn't selected). I'm guessing mycli sets up all metadata
for all databases?

There are quite a few DBs on these two servers, each with 50+ tables.

BTW, the -e is just to get clean timing, I don't consider this a bug
per-se, although obviously this could be 'fixed'.

​

[2017-06-20 18:45] amjith commented on #465
We also collect completion data for the given database. We refresh
completion when you switch to a different database.

On Jun 20, 2017 11:42 AM, "Dan Bolser" <notifications@github.com> wrote:

[2017-06-21 01:24] #456 closed

[2017-06-21 01:26] tsroten commented on #456
@ShadowLL I'm interpreting your thumbs up to @meeuw's comment to mean that you got it working, so I'm closing this issue. Feel free to open it up if it didn't.

If the `-u root` part helped, you should be able to add this to `~/.my.cnf` so you don't have to type it in every time:
[code]

[2017-06-21 01:44] tsroten commented on #56
Hi @j-bennet! Is this still a problem?

[2017-06-22 00:41] j-bennet commented on #56
Good question. I don't work in Mint anymore. :) I'll close this.

[2017-06-22 00:41] #56 closed

[2017-06-22 09:18] georgexsh commented on #341
+1, mimic mysql cli behavior is good enough IMO

[2017-06-22 19:57] tsroten opened #467 "Tee/once file does not support tilde for home directory"
If you try to write to a tee file or one-time output file using the `~` character for the home directory, it does not work:

[code]

Instead we should make it easy for the user to type paths in their home directory.

[2017-06-23 12:41] meeuw commented on #467
Right, we should use `os.path.expanduser` for that, this should also be added to the other commands that take a filename.

[2017-06-25 02:15] ChillarAnand opened #468 "AttributeError: 'Application' object has no attribute 'pre_run_callables'"
mycli crashes for any command with this error

[code]

[2017-06-25 02:19] tsroten commented on #468
@ChillarAnand Hello! I'm sorry this is happening. Can you please let us know what version of prompt toolkit you're running:
[code]

[2017-06-25 02:21] ChillarAnand commented on #468
@tsroten Thanks for quick reply.

[code]

[2017-06-25 03:20] tsroten commented on #468
@ChillarAnand Hmm, that's definitely odd. I'm having trouble reproducing this. Can you provide some more information?

1. How did you install mycli?
2. What's the output of `pip freeze`?

Thanks!!

[2017-06-25 04:10] ChillarAnand commented on #468
I used pip to install it in a venv.

[code]

[2017-06-25 13:39] tsroten commented on #468
@ChillarAnand So, I replicated your virtual environment, but can't reproduce this problem. Let's try removing and reinstalling (not from cache) mycli and prompt-toolkit:
[code]

@j-bennet This might be up your alley. Any ideas?

[2017-06-25 14:51] ChillarAnand commented on #468
Thanks for the help @tsroten. That fixed the issue.

Any reason to enable pager by default?

[2017-06-25 14:51] #468 closed

[2017-06-25 16:45] tsroten commented on #468
Great! I'm glad it's working.

Mycli's next release will, by default, only use the pager if the output doesn't fit on the screen. Hopefully that's more intuitive :)

[2017-06-25 18:08] ChillarAnand commented on #468
Excellent design decision. Thanks to all contributors for building such an awesome tool!

[2017-06-29 16:23] Chinggis6 opened #471 "sqlitecli?"
I'd like to express my gratitude for `mycli` and [`pgcli`](https://www.pgcli.com/), they are really **awesome** :sunglasses: .

But there's also a small and server-less db [`sqlite`](https://en.wikipedia.org/wiki/SQLite) left behind with its own `sqlite3` command/shell what I use with [rlwrap](https://github.com/hanslub42/rlwrap) to add manually-composed completion :cactus: .

Any plans for making

[2017-06-29 16:29] tsroten commented on #471
@Chinggis6 Thanks! I'm glad you're enjoying mycli and pgcli. I don't think we necessarily have official plans for a sqlite client, but it's certainly a wishlist item. We've definitely talked about it before amongst the dbcli team. So, we'll see what happens 😉 .

We're also very open to someone new giving it a try.

I like your current workaround for completions :smile.

[2017-06-30 08:30] jonwinters opened #472 "How support vim Ctrl+C hotkey feature"
I use mycli vim mode ,I need ctrl+c to switch view mode to edit mode

[2017-06-30 17:40] amjith commented on #472
@jonwinters We are using Ctrl+C to cancel a query. So it is not possible to override that keybinding. Sorry about that.

[2017-07-02 02:43] Chinggis6 opened #473 "completions in lowercase"
Is it posible to reconfigure `mycli` somehow (I think somewhere within the `.py` files inside `site-packages/mycli`) to suggest autocompletions in lowercase than in all uppercase?

I only type in lowercase and am very used to it as ALL UPPERCASE LETTERS HURT MY EYES :-)

Thanks for the attention.

[2017-07-02 03:02] tsroten commented on #473
@Chinggis6 Thanks for mentioning this! We're definitely open to this, but I don't think we've made any progress on this, yet. We welcome new contributors to give it a shot :smile:.

We've had this request before, so I'm going to close this since it's a duplicate. Here is the [original issue](https://github.com/dbcli/mycli/issues/128).

[2017-07-02 03:03] tsroten commented on #128
This was requested via https://github.com/dbcli/mycli/issues/473.

[2017-07-02 03:18] jonwinters commented on #472
@amjith may be you can support customization choice

[2017-07-06 07:47] brujackie-zhang commented on #414
Thank you very much!

[2017-07-08 15:06] yibingyi commented on #303
In mycli, i have same situation of chinese display.
table encode is utf8

[2017-07-08 15:09] yibingyi commented on #303
I have the same problem，if data column has any Chinese character. I am so sad.....
a fancy tool can not run with Chinese.

[2017-07-08 15:54] tsroten commented on #303
@yibingyi Can you please show us the output of this command in your terminal: `locale`

[2017-07-08 19:25] yibingyi commented on #303
@tsroten thx for your reply
The output in terminal
[code]

[2017-07-08 19:46] tsroten commented on #303
@yibingyi I think you're going to want to enable UTF-8 in your terminal locale settings:
[code]

If that works, you'll want to add those two export commands to your bash or zsh configuration file (e.g. `.bashrc` or `.zshrc`).

[2017-07-09 02:51] yibingyi commented on #303
@tsroten
It works, thank you. 👍 👍 🔢

[2017-07-09 02:52] tsroten commented on #303
@yibingyi No problem! I hope you enjoy mycli!

[2017-07-10 15:49] tsroten commented on #128
This is now addressed by https://github.com/dbcli/mycli/pull/476. It will be in the next release of mycli.

[2017-07-10 15:50] tsroten commented on #473
@Chinggis6 Good news, this is going to be in the next release of mycli 😄 .

[2017-07-10 16:08] Chinggis6 commented on #473
This is really good news to hear today. I admire your responsiveness. Thanks for caring about the users.

[2017-07-11 06:45] zer09 opened #477 "How do I disable the pager?"
why when executing the ```show``` command, the output is on the vi? it doesn't directly print on the terminal. when you quit the vi you will lose the output.

Any suggestion how to fix this? please.

Thanks

[2017-07-11 14:30] tsroten commented on #477
@zer09 Hello! It's probably a pager program like `less`.

If you want to disable it altogether, even if the output is really long, you can add this to your `~/.my.cnf` file:
[code]

-----
If you'd rather use the pager, but make the output stay on the screen after quitting, you can try this:
[code]
If you like this second change, you can make it permanent by adding that command to your `.bashrc` or

[2017-07-11 14:34] tsroten commented on #467
This is now fixed as of [version 1.11.0](https://pypi.org/project/mycli/1.11.0/).

[2017-07-11 14:34] #467 closed

[2017-07-11 14:35] tsroten commented on #455
This is now fixed as of [version 1.11.0](https://pypi.org/project/mycli/1.11.0/).

[2017-07-11 14:35] #455 closed

[2017-07-11 14:35] tsroten commented on #445
This is now fixed as of [version 1.11.0](https://pypi.org/project/mycli/1.11.0/).

[2017-07-11 14:35] #445 closed

[2017-07-11 14:35] tsroten commented on #437
This is now fixed as of [version 1.11.0](https://pypi.org/project/mycli/1.11.0/).

[2017-07-11 14:35] #437 closed

[2017-07-11 14:36] tsroten commented on #384
This is fixed as of [version 1.11.0](https://pypi.org/project/mycli/1.11.0/).

[2017-07-11 14:36] #384 closed

[2017-07-11 14:37] tsroten commented on #375
@mikeerickson This is fixed as of [version 1.11.0](https://pypi.org/project/mycli/). If you installed via `pip`, you can upgrade by running `pip install --upgrade mycli`.

Thanks for reporting this!

[2017-07-11 14:37] #375 closed

[2017-07-11 14:38] tsroten commented on #364
@mikeerickson This is included as of [version 1.11.0](https://pypi.org/project/mycli/). If you installed via `pip`, you can upgrade by running `pip install --upgrade mycli`.

Thanks for the feature request!

[2017-07-11 14:39] tsroten commented on #248
@jinleileiking This is fixed as of [version 1.11.0](https://pypi.org/project/mycli/). If you installed via `pip`, you can upgrade by running `pip install --upgrade mycli`.

Thanks for the idea!

[2017-07-11 14:39] #248 closed

[2017-07-11 14:41] tsroten commented on #128
@dgoosens This is included as of version 1.11.0. If you installed via `pip`, you can upgrade by running `pip install --upgrade mycli`.

To use this, just add this to your `~/.myclirc`:
[code]

We also support `auto` which will suggest upper or lower case based on how you type.

Thanks for the idea!

[2017-07-11 14:41] #128 closed

[2017-07-11 14:42] tsroten commented on #473
@Chinggis6 This is included as of version 1.11.0. If you installed via `pip`, you can upgrade by running `pip install --upgrade mycli`.

To use this, just add this to your `~/.myclirc`:
[code]

We also support `auto` which will suggest upper or lower case based on how you type.

Thanks for the idea!

[2017-07-11 14:46] tsroten commented on #91
This is included as of version 1.11.0. If you installed via `pip`, you can upgrade by running `pip install --upgrade mycli`.

You can now save CSV and TSV output to a file like this:
[code]

The `\o` (`\once`) command saves the next command's output to a file. For longer sessions you can look at mycli's `tee` command.

[2017-07-11 14:46] #91 closed

[2017-07-11 14:47] tsroten commented on #35
@fpietka This is included as of version 1.11.0. If you installed via `pip`, you can upgrade by running `pip install --upgrade mycli`.

Thanks for the idea!

[2017-07-11 14:47] #35 closed

[2017-07-11 14:48] #364 closed

[2017-07-11 14:52] tsroten commented on #447
@charliehjkl The newest version of mycli is out! If you installed via `pip`, you can upgrade by running `pip install --upgrade mycli`.

There should be less blank lines in small terminal windows. If you're still having trouble, please upload a screenshot so we can see what your problem is. Thanks!!

[2017-07-11 14:52] #447 closed

[2017-07-11 15:47] fpietka commented on #35
Great, thanks!

[2017-07-11 16:11] tsroten commented on #477
There is now a page in the documentation about configuring the pager: http://mycli.net/pager

Feel free to let us know if you need help with anything.

[2017-07-11 16:11] tsroten commented on #376
There is now a page in the documentation devoted to the pager: http://mycli.net/pager

Let us know if anything appears to be missing :smile:.

[2017-07-11 16:11] #376 closed

[2017-07-12 00:14] zer09 commented on #477
ohh thank you so much.

[2017-07-12 00:14] #477 closed

[2017-07-17 01:30] KyoChou commented on #375
please update homebrew version to 1.11.1, thx.

[2017-07-18 06:10] KyoChou opened #479 "Unable to display rows with newlines on Python 2"
When I exec "show create table...",  it got error "unicode argument expected, got 'str'"
![mysqltmp](https://user-images.githubusercontent.com/1185621/28302922-dce4e244-6bc2-11e7-8497-0c184ad8bb68.png)

and my system is
Darwin kyo-mbp15.local 16.6.0 Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16 PDT 2017; root:xnu-3789.60.24~6/RELEASE_X86_64 x86_64

[2017-07-18 06:11] KyoChou commented on #479
and my system is
Darwin kyo-mbp15.local 16.6.0 Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16 PDT 2017; root:xnu-3789.60.24~6/RELEASE_X86_64 x86_64

[2017-07-18 12:56] tsroten commented on #479
@KyoChou Thanks for reporting this! I'm sorry for the error. This appears to be an issue only on Python 2.

[2017-07-18 13:04] tsroten commented on #479
It appears that Pygments attempts to [write a newline (bytes, not unicode)](https://bitbucket.org/birkenfeld/pygments-main/src/7941677dc77d4f2bf0bbd6140ade85a9454b8b80/pygments/formatters/terminal256.py?at=default&fileviewer=file-view-default#terminal256.py-250) to the output. Our output buffer that we use for styled output expects unicode because we ran into encoding problems when we used bytes.

[2017-07-20 10:10] dbolser-ebi opened #480 "Weird 'USING' autocomplete glytch"
Autocomplete on USING is really nice, and I love it. However, it's sometimes a bit glitchy...

When you don't put a space between USING and (, i.e. "... USING(..." it doesn't break, but looses it's cleverness. When you do put a space between those two, i.e. "... USING (...", it breaks.

https://asciinema.org/a/W0UaIygMgOfheYvmPTvNts7Mx

[2017-07-27 04:27] dabaojian233 opened #482 "Chinese garbled problem"
There are Chinese in the database table, the query is garbled out

[2017-07-27 13:34] tsroten commented on #482
Hello @dabaojian233! This is probably related to your terminal settings. Please take a look at this thread: https://github.com/dbcli/mycli/issues/303

In that thread, try looking at your `locale` settings: https://github.com/dbcli/mycli/issues/303#issuecomment-313864350

[2017-07-31 09:32] dabaojian233 commented on #482
Thank you

[2017-07-31 09:32] #482 closed

[2017-08-02 03:03] tsroten commented on #479
@KyoChou This is now fixed! Thanks for reporting this. If you installed via `pip` you can upgrade by doing:
`pip install --upgrade cli_helpers`

[2017-08-02 03:03] #479 closed

[2017-08-03 07:53] WinstonN opened #485 "Missing MySQL help command table causes background completion error"
Hi Hi

Using v 1.12.0 on Ubuntu 14.04
on connecting to mysql I get error

[code]

[2017-08-03 09:19] dbolser-ebi opened #486 "Column names with a keyword prefix?"
I have columns with names like first_release and last_release. Note that the prefix of the column name is an SQL reserved word or a keyword. Seems like this breaks the autocomplete somehow?

Not really sure as I don't have time to debug properly.  Here is my usual crappy recording:
https://asciinema.org/a/KvKcDHxdNv4JKkjI92iNUmdI0

[2017-08-03 14:37] amjith commented on #486
I remember this being an issue with pgcli where SQLParse library that we use will recognize that partial input as a keyword and that would break our completion. I can't remember if we fixed it on our side or sent a PR to sqlparse.

/cc @koljonen I think you had to deal with this in pgcli, do you remember how you fixed this?

[2017-08-03 14:50] tsroten commented on #485
@WinstonN Hi! I'm sorry you're having trouble using mycli.

The error is due to a MySQL system table not existing (`help_topic`). Do you know what version the MySQL server you are connecting to is?

If you can connect with the official `mysql` command-client, you can run the command `status` and it will tell you the server version. Here is an example server version: `5.6.33-0ubuntu0.14.04.1-log (U

[2017-08-03 15:05] WinstonN commented on #485
@tsroten no apologies needed my friend, you are great for writing such a beautiful tool!

I'm using `mysql  Ver 14.14 Distrib 5.7.18, for Linux (x86_64) using  EditLine wrapper`

[2017-08-03 15:21] tsroten commented on #485
It looks like the `help_topic` database isn't always installed. Thanks for reporting this. We'll get this fixed 😄 .

[2017-08-03 19:49] tsroten opened #488 "Terminal size with height < 18 rows makes mycli not start in Python 2"
In Python 2, with a terminal sized so that there are less than 18 height rows, makes mycli not start:
[code]

This is because in Python 3, `round(n)` returns an integer (like Prompt Toolkit expects), where as in Python 2 `round(n)` returns a floating point decimal.

[2017-08-04 01:15] koljonen commented on #486
Sorry, no recollection of anything like that. It doesn't seem to me like sqlparse would be to blame though, as I don't think we should be sending them partially typed words; i.e. in this case sqlparse should only see `SELECT [...] WHERE`, not the half-written column name that follows. At least that's the way pgcli does it.

[2017-08-06 01:55] sluongng opened #491 "Storing multi-servers?"
Hi i just went through your documentation and couldnt find a lot of info about working with multiple servers.

Is it possible for me to just store my server config into a `server_1.conf` file and load it with `mycli server_1.conf` ?
I am currently working with 20+ servers and being able to store these configurations would be a lot more handy.

Configs should be anything from db connections info to

[2017-08-06 02:26] j-bennet commented on #491
Hi @sluongng , I think `--login-path` option sounds like what you're looking for. You can use `mysql_config_editor` tool that ships with `mysql`  (see https://dev.mysql.com/doc/refman/5.7/en/mysql-config-editor.html).

As described in the link above, you'd set up your server configurations like this:

[code]

Then you would run `mycli` like this:

[code]

[2017-08-07 07:00] shtrom opened #492 "Specifiying username: inconsistency with pgcli"
`mycli` takes `-u` as the option flag to specify the user; `pgcli` uses `-U`. This is confusing (I had to check before writing this issue, to make sure I got them right; and I didn't...).

Could those two be unified?

See also, dbcli/pgcli#776

[2017-08-07 13:14] tsroten commented on #492
Thanks for pointing this out :smile: Conversation starting in the pgcli issue: https://github.com/dbcli/pgcli/issues/776

[2017-08-07 13:35] tsroten commented on #482
@dabaojian233 I'm working on a documentation page for common issues with UTF-8 output. It would be helpful to know specifically what you did to solve your problem.

Thanks!

[2017-08-08 05:52] FengLi666 opened #493 "unicode argument expected, got 'str'"
Version: 1.11.0
when query a utf-8 encoding table
[code]
this occurs in mycli , but have not happen in mysql terminal

[2017-08-08 12:46] tsroten commented on #493
@FengLi666 The upcoming release of mycli fixes this.

If you installed mycli via `pip`, you can fix this now by doing this:
[code]

[2017-08-09 01:57] FengLi666 commented on #493
Thank you very much @tsroten .

[2017-08-09 16:25] #493 closed

[2017-08-09 16:26] tsroten commented on #488
This is fixed in mycli 1.12.1, which is currently available via pip:
[code]

[2017-08-09 16:26] #488 closed

[2017-08-09 16:26] tsroten commented on #485
@WinstonN This is fixed in mycli 1.12.1, which is available via pip:
[code]

Thanks for reporting this!

[2017-08-09 16:26] #485 closed

[2017-08-09 16:27] tsroten commented on #253
This is fixed in mycli 1.12.1, which is available via pip:
[code]

[2017-08-09 16:27] #253 closed

[2017-08-09 16:52] WinstonN commented on #485
Works! Thank you!

[2017-08-11 10:20] csyuancode opened #495 "source sql script (can't decode byte 0xac in position )"
[code]

localback.sql  size  *180M*
[code]

[2017-08-11 12:29] tsroten commented on #495
@csyuancode Hello! Can you let us know your terminal's locale settings by running this:
[code]

[2017-08-12 01:40] csyuancode commented on #495
Hello!    @tsroten
[code]

[2017-08-14 08:06] richrd opened #497 "Running a commented command beginning with "--" or "# " crashes mycli"
How to reproduce:
- Run any input beginning with `--` (even just inputting two dashes causes a crash)
- Run any input beginning with `# ` (must have a space and at least a single character after it)

Error message:
[code]

[2017-08-14 16:51] MrLevo520 opened #498 "Show on Iterm"
Hi, i find the result will show with 'less',but if i want my result show just on my iterm and i want to check it out when i write another sql, can you help me ? thank you !

[2017-08-14 16:53] tsroten commented on #498
Hello @MrLevo520! There are a few ways you can configure the pager. Based on what you said, I'd suggest one of these:
1. Disable the pager altogether
2. Make it so that the pager output stays on the screen when you quit it (the `-X` option for `less`).

We have a page that should show you how to set this up. Feel free to let us know if you need any help configuring it:
http://www.mycli.net/pager

[2017-08-14 17:07] MrLevo520 commented on #498
Hi Roten:
Thank you very much! That’s what I am talking about ! It’s show just I want !
BTW,i suggest the option of ‘nopage’ should set as default, it’s just my advice，LOL, thank you again, it’s just Awesome!
在 2017年8月15日，上午12:53，Thomas Roten <notifications@github.com<mailto:notifications@github.com>> 写道：

Hello @MrLevo520<https://github.com/mrlevo520>! There are a few ways you can configure the p

[2017-08-14 17:08] tsroten commented on #498
@MrLevo520 I'm glad it's working! Thanks for the advice!

[2017-08-14 17:08] #498 closed

[2017-08-14 17:21] j-bennet commented on #497
@richrd Thanks for the report! We'll look into it.

[2017-08-14 18:03] j-bennet commented on #497
@richrd Actually mycli does not display this behavior in the latest version.

The latest mycli behavior is:

* ignoring all the correctly formatted comments (there should be a space after a comment):

[code]

* displaying a SQL syntax error if the comments were not correctly formatted (no space after a comment):

[code]

What version are you on @richrd , and is it possible for you to update (`pip

[2017-08-14 18:05] j-bennet commented on #497
Didn't notice this at first - looks like you're using 1.8.1, mine is 1.12.1.

I suggest upgrading mycli if possible.

[2017-08-14 18:07] tsroten commented on #497
I think mycli >= 1.9 has the fix for this.

[2017-08-15 13:23] richrd commented on #497
Oops, really sorry to report something that's already fixed. My bad. Yes I'm on 1.8.1 but installed it from debian/ubuntu repos so I thought it was the latest version. I'll update right away!

[2017-08-15 13:23] #497 closed

[2017-08-15 13:31] tsroten commented on #497
@richrd No problem at all! If you come across anything else, let us know 😄 !

[2017-08-15 19:19] chrisamow commented on #108
Is there filename completion on the source command?  (I did try it, but wondered if there is some way to config or if there are future plans)  Thanks for the great work!

[2017-08-15 20:23] j-bennet commented on #108
@chrisamow We don't currently have file name completion. It's not impossible - feel free to file an issue for it, and we'll do our best.

[2017-08-16 08:37] chrisamow opened #499 "feature request: source command filename completion"
Allowing completion on the source command would really add to the integrated feeling of mycli as a development tool.  It would allow very low friction execution of convenient batches of sql functionality like snippets or environmental database setup.

[2017-08-16 08:40] chrisamow opened #500 "Feature request: source command filename completion"
Allowing completion on the source command would really add to the integrated feeling of mycli as a development tool.  It would allow very low friction execution of convenient batches of sql functionality like snippets or environmental database setup. This a followup to a comment left in #108

[2017-08-16 21:38] #499 closed

[2017-08-16 21:39] tsroten commented on #500
@chrisamow Thanks for the suggestion! It's a great idea 👍 !

Not sure when we can get to this, but anyone is welcome to give it a shot.

[2017-08-16 21:40] tsroten commented on #499
Marking as a duplicate and closing. See https://github.com/dbcli/mycli/issues/500

[2017-08-22 07:40] #495 closed

[2017-08-22 12:19] q2qiang opened #502 "mycli remote connect fail ，system is macOS，local is OK"
log：
![image](https://user-images.githubusercontent.com/20965435/29564992-b68680ce-8776-11e7-9e92-a8baa74c4ce4.png)

![image](https://user-images.githubusercontent.com/20965435/29565039-df6c9f96-8776-11e7-8db2-f55cfdb045ab.png)

remote mysql version：

![image](https://user-images.githubusercontent.com/20965435/29565089-1792b63a-8777-11e7-88ce-b451460bc040.png)

can  you help me？

[2017-08-24 06:44] fpietka commented on #502
We are looking into it.
In the meantime would it be possible for you to paste the test rather than screenshot? It would be easier for us to copy/paste, and also would be referenced in search for people with the same issue as yours.

To copy output of the error, you can try the following:
[code]

Thanks.

[2017-08-24 18:48] LiraNuna opened #504 "mycli fails to connect to ProxySQL"
For some reason, mycli is having issues connecting to ProxySQL:

[code]

While mysql cli connects to it just fine:

[code]

[2017-08-24 22:27] thanatos opened #505 "How to make use of ~/.mylogin.cnf in mycli?"
#94 seems to indicate that support for `~/.mylogin.cnf` was implemented. However, I cannot for the life of me figure out what `mycli`'s equivalent of

[code]

is.

This is made more frustrating by the fact that http://mycli.net/ is down (and thus, the docs are hard to get to, but AFAICT, there are no relevant docs.)

[2017-08-24 22:49] j-bennet commented on #505
This was answered in https://github.com/dbcli/mycli/issues/491. Looks like http://www.mycli.net/ is up right now. The docs are here:

http://www.mycli.net/docs

But you're right, we don't seem to have an entry on that. I'll make sure we add one.

[2017-08-24 23:13] tsroten commented on #505
The section in the docs about it simply says:

[2017-08-25 02:14] csyuancode opened #506 "mycli to support pager？"
For the results
![image](https://user-images.githubusercontent.com/22109773/29696697-28480bda-897d-11e7-86c8-1d9c6e62ca37.png)
![image](https://user-images.githubusercontent.com/22109773/29696762-8ad69816-897d-11e7-8d57-31670cfa32bc.png)

mysql
![image](https://user-images.githubusercontent.com/22109773/29696772-9c6c8130-897d-11e7-9c2f-a9f10fe9e205.png)

wo more like mycli .  Can I configure it?

[2017-08-25 05:25] meeuw commented on #506
I don't understand your question. This is the repository for mycli not mgcli and your screenshots look like the official mysql client (which isn't supported by us).

The pager in mycli can be configured using the `pager` command or in `~/.my.cnf` by settings `pager='vim -'` for example. See http://www.mycli.net/config

[2017-08-25 17:17] thanatos commented on #505
@j-bennet You're right. I'm not sure now how I missed the `--login-path` flag. Thank you.

It's still unreachable from here: I can't successfully resolve your DNS name, `mycli.net`; our OPs team suspects — and I concur with them — that it is because [your DNS host, DreamHost, appears to be under a DDoS attack](https://arstechnica.com/tech-policy/2017/08/dreamhost-takes-a-beating-after-hosting-raci

[2017-08-25 17:17] #505 closed

[2017-08-25 18:17] j-bennet commented on #505
Oh goodness, I didn't realize there's a problem with `mycli.net` host, because I still can access without any problems, but I guess it's not the same from everywhere. I hope they resolve it soon. There's now an entry about `--login-path` on [the docs page](http://www.mycli.net/docs) also.

[2017-08-26 10:18] meeuw commented on #504
Hi @LiraNuna I don't think someone tried to use mycli with proxysql yet; I'm not sure if we can support it.

Could you please add the relevant errors from `~/.mycli.log`? I'll see if I can reproduce this error using the docker image from `perconalab/proxysql`.

[2017-08-27 04:47] #506 closed

[2017-08-27 11:03] Naitreey opened #507 "IndexError if SELECT statement contains multiple user-defined variables"
Hi,
I was trying to execute the following SQL statement:

[code]
which crashes `mycli` with `IndexError`:

[code]

It seems like a tokenization error.

Using `mycli` version `1.12.1`.

I've tried if the above sql is reduced using a single user-defined variable, nothing bad happens:

[code]

Any thought on this? Thanks.

[2017-08-27 23:51] j-bennet commented on #507
Hi @Naitreey , what's your version of sqlparse?

[2017-08-28 15:19] Peter-Sh opened #508 "Mycli Crashes When Unable to Read Login Path File"
I've just installed mycli in debian 9 using official repository and the tool fails to start

[code]
It does not start even if I supply username and password in the args.

It seems this is because mycli expects credentials in mylogin.cnf file. But the problem is that MariaDb (which is official mysql server and client for RedHat, CentOS and Debian) does not have mysql_config_editor. (And I think wil

[2017-08-28 15:53] tsroten commented on #508
@Peter-Sh Thanks for reporting this! Mycli doesn't require an encrypted credentials file. Since it's a user's configuration file, we have to read it if it's there. For example, if you provided the username and host via the command line, the encrypted file could still potentially provide the port/socket to use. This, in general, should not cause problems.

In your case, this error message is saying

[2017-08-28 17:51] #502 closed

[2017-08-29 06:35] Peter-Sh commented on #508
@tsroten Thanks, you are absolutely right! I have found ~/.mylogin.cnf with plain text, It was created 2 years ago, so did not expect it is there. I've deleted the file and mycli started to work.
Sorry for this, it is really not an issue :)

[2017-08-29 08:37] louisguitton commented on #468
Wow, I had the same issue with pgcli. And your solution @tsroten worked for me

[2017-08-29 11:14] Naitreey commented on #507
Hi @j-bennet , sqlparse version is 0.2.3.

[2017-08-29 13:06] tsroten commented on #508
@Peter-Sh No problem! I'm glad you figured it out. If you don't mind, I'm going to reopen this issue so we can work on handling login path file errors in a more user-friendly manner.

[2017-08-29 13:19] Peter-Sh commented on #508
I think it is good idea to make a friendly error message instead of a back trace :)

[2017-08-29 15:43] j-bennet commented on #507
Hmm, that's confusing. I just created a new venv with the same setup as yours and pip-installed `mycli` in there, and there's no such problem:

[code]

the query returns fine:

[code]

I'm wondering if it's something related to locale settings. What's the output of `locale` command on your machine? Here's mine:

[code]

@tsroten Would you have some ideas?

[2017-08-29 15:47] tsroten commented on #507
Well, I was able to reproduce this. Very odd. It was in the middle of typing the SQL statement for me. Mycli immediately crashes with the stack trace above. I'll see if I can dig through it and see what's happening. Not sure yet if this is an issue with Mycli or sqlparse.

[2017-08-29 16:31] Naitreey commented on #507
@j-bennet Here is my `locale`:

[code]

@tsroten Yeah, same here. Just copy & paste the statement into Mycli, move cursor right pass the `,` at the middle of it, hit `<space>`, then Mycli crashes.

[2017-08-30 09:20] super13 opened #509 "Error When Outputting Certain Field Types"
select param from  p_task_status;
will get a red 245.
is it not support json type? is there any log or debug mode?

table:
CREATE TABLE `p_task_status` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `task_id` varchar(255) DEFAULT NULL,
  `host` varchar(255) DEFAULT NULL,
  `status` int(10) DEFAULT NULL,
  `status_msg` varchar(255) DEFAULT NULL,
  `start_time` timestamp NULL DEFAULT CURRENT_TIMESTA

[2017-08-30 10:47] liudonghua123 commented on #368
I have faced the same problem.

[code]

[2017-08-30 14:14] tsroten commented on #509
@super13 Hello! I'm sorry that you're having trouble with your JSON values. Mycli does support JSON data, e.g.:
[code]

To find out more information about your error, you can check the log file. By default it is `~/.mycli.log`. Let us know what you find and we'll be happy to help you debug it.

[2017-08-30 14:31] tsroten commented on #509
Hi @super13! @fpietka has replicated the issue. It's a bug with mycli. We'll get it fixed as soon as we can. Thanks for reporting this!

[2017-09-04 11:54] lunemec opened #510 "Does not work on Debian jessie with Python 2.7"
[code]

There is not much I can add other than this. It is clean install.
Also pip install throws errors upon trying to compile dependencies, and it required me to install these packages (which are not mentioned anywhere, so trial and error):
`apt-get install build-essential python-dev libssl-dev libffi-dev`

When removing all python2 sh*t from the system and installing everything with python3, it

[2017-09-04 12:56] tsroten commented on #510
@lunemec We should definitely add the apt-get requirements to our documentation.

Can you try installing the missing dependency manually?
[code]

[2017-09-04 15:27] Chinggis6 commented on #473
Just to note, completion after typing `show` is displayed all uppercase even when `keyword_casing=lower` :(

[2017-09-04 16:25] j-bennet commented on #473
I'll reopen so we can look into it.

[2017-09-05 07:22] lunemec commented on #510
Ok, I don't understand this, I created new debian jessie image, installed the deps:
[code]
then I did:
[code]

and it worked. The only difference I did before was: `pip install --upgrade pip`, so that may have been the problem, but I can't reproduce it. I weep for python and its dependency management, it is worse every year...

[2017-09-05 07:22] #510 closed

[2017-09-05 21:19] tsroten commented on #368
@liudonghua123 It looks like you're using a PyPI mirror that might not have the latest versions of mycli or its dependencies. Is this something you can control?

[2017-09-06 15:02] robsonpeixoto commented on #118
@amjith the `-p` parameter without a value should ask for the password. Today `mycli` returns the error:
[code]

[2017-09-06 15:05] tsroten commented on #118
@robsonpeixoto There was a plan to make the password parameter ask for it, but I think it was blocked by an upstream issue. https://github.com/dbcli/mycli/issues/341

[2017-09-06 21:31] LiraNuna commented on #504
Sadly this is all that the log provides:

[code]

[2017-09-07 05:26] meeuw commented on #504
I've found out I need to configure etcd for the docker image (which I haven't done yet).

[2017-09-08 18:27] meeuw commented on #504
Ok, I did the following (server-mysql is my mysql docker container, which has ip address 172.17.0.2):
- `docker run --link server-mysql -p 6033 --rm -ti centos bash -i`
- `yum install -y https://github.com/sysown/proxysql/releases/download/v1.2.1/proxysql-1.2.1-1-centos7.x86_64.rpm`
- `yum install /usr/bin/mysql`
- `mysql -u admin -padmin -h 127.0.0.1 -P6032`
- `INSERT INTO mysql_servers(hostgroup

[2017-09-08 18:56] LiraNuna commented on #504
I'm using the version in `pip`:
[code]

[2017-09-08 19:01] LiraNuna commented on #504
I found the difference in our usage: I was using `mycli` to connect to the default admin user, which operates on different port:

[code]

[2017-09-08 19:20] meeuw commented on #504
ah, yes I'm sorry I didn't notice you're connecting to port 6032.
This is a mysql server "simulation" for configuring proxysql. I will test this later.

[2017-09-08 20:13] fpietka commented on #504
@meeuw FYI: https://github.com/sysown/proxysql/issues/1134
It seems Proxysql doesn't support `connection_id()` yet.

Since it is used solely to kill the connection on keyboard interrupt, I can't say if it is safe to bypass for now.

[2017-09-08 20:16] dgoosens commented on #128
Brilliant !
Thanks

[2017-09-09 16:30] meeuw commented on #504
Hmm, yes, and even then; kill isn't implemented in the proxysql admin interface. We'll have to check if the introspection for mycli auto suggestion even works. There is no `information_schema.columns` table for this in the proxysql admin interface 😞. I think the proxysql admin interface is a no-go for mycli (it wouldn't be possible to suppport all of our nice features like completion)

[2017-09-11 07:57] bzd111 opened #511 "mycli on Python 2.7 not running due to missing csv dependency"
machine:  CentOS Linux release 7.3.1611 (Core)
mycli version: mycli-1.12.1

[2017-09-11 07:58] bzd111 commented on #511
root@zidy ~ >> mycli
Traceback (most recent call last):
  File "/usr/bin/mycli", line 7, in <module>
    from mycli.main import cli
  File "/usr/lib/python2.7/site-packages/mycli/main.py", line 15, in <module>
    from cli_helpers.tabular_output import TabularOutputFormatter
  File "/usr/lib/python2.7/site-packages/cli_helpers/tabular_output/__init__.py", line 11, in <module>
    from .output_form

[2017-09-11 08:19] bzd111 commented on #511
I change from backports import csv to import csv
It works!

# from backports import csv
import csv

[2017-09-11 17:06] tsroten opened #512 "Add default limit configuration option"
MySQL's command-line client has the ability to set the default limit for `SELECT` statements. This was requested for mycli via Gitter on [September 8, 2017 7:03 AM](https://gitter.im/dbcli/mycli?at=59b28702614889d475d3fe5f).

[2017-09-11 17:19] tsroten commented on #511
@bzd111 It looks like you're missing one of the dependencies. Can you do `pip install backports.csv` and see if that fixes it?

Your change will work for now, but has the following side effects:
1. Anytime you update, you will have to make the change again.
2. You will not be able to save non-ASCII output in CSV files.

[2017-09-12 07:41] meeuw commented on #512
This is documented for the official mysql client at:
- https://dev.mysql.com/doc/refman/5.7/en/mysql-command-options.html#option_mysql_select_limit

[2017-09-12 22:28] LiraNuna commented on #509
For posterity, this is in the logs:

[code]

[2017-09-18 02:43] Takeoffyoung opened #513 "Auto complete related problem, how to diagnose?"
Any way to diagnose why mycli can not auto complete on any field names or table names?

Mysql version:
[code]

~/.myclirc
[code]

[2017-09-18 03:09] houyaerda opened #514 "Wrong Start Info Like Traceback (most recent call last)"
This fault is first after I insert lots of sql from a file of sql.
Then I restart mycli report wrong info like below:

`Traceback (most recent call last):
  File "/usr/local/bin/mycli", line 11, in <module>
    load_entry_point('mycli==1.12.0', 'console_scripts', 'mycli')()
  File "/usr/local/Cellar/mycli/1.12.0/libexec/lib/python2.7/site-packages/click/core.py", line 722, in __call__
    return s

[2017-09-18 03:18] houyaerda commented on #514
.myclirc
`# vi: ft=dosini
[main]

# Enables context sensitive auto-completion. If this is disabled the all
# possible completions will be listed.
smart_completion = True

# Multi-line mode allows breaking up the sql statements into multiple lines. If
# this is set to True, then the end of the statements must have a semi-colon.
# If this is set to False then sql statements can't be split into multi

[2017-09-18 03:19] houyaerda commented on #514
.myclirc

# vi: ft=dosini
[main]

# Enables context sensitive auto-completion. If this is disabled the all
# possible completions will be listed.
smart_completion = True

# Multi-line mode allows breaking up the sql statements into multiple lines. If
# this is set to True, then the end of the statements must have a semi-colon.
# If this is set to False then sql statements can't be split into multi

[2017-09-18 03:27] houyaerda commented on #514
.myclirc

`# vi: ft=dosini`
`[main]`

`# Enables context sensitive auto-completion. If this is disabled the all`
`# possible completions will be listed.`
`smart_completion = True`

`# Multi-line mode allows breaking up the sql statements into multiple lines. If`
`# this is set to True, then the end of the statements must have a semi-colon.`
`# If this is set to False then sql statements can't be s

[2017-09-18 03:44] houyaerda commented on #514
Now I find mycli can work in other window.And it already report wrong info when i use original window.Thank you anyway.

[2017-09-18 03:44] #514 closed

[2017-09-18 15:26] tsroten commented on #513
@Takeoffyoung Hello! Here a few things to check:

1. Make sure that a default database is set. In mycli, just run `connect` and make sure that it says "...connected to database '{database name}'...". Mycli will autocomplete table names from whatever the current default database is (set via the `use` command`).
2. Column autocompletion doesn't work unless the table name is in the query. For instanc

[2017-09-19 03:49] Takeoffyoung commented on #513
It works well after add -D {database name} to command.

But I cannot find any tips like "specifying database is precondition of enabling auto-complete".

Polishing README maybe matter.

Thanks 👍

[2017-09-19 15:32] tsroten commented on #513
@Takeoffyoung I'm glad you figured it out. We're happy to help out if you come across anything else.

We actually do [mention this](http://www.mycli.net/completion) in our documentation:

[2017-09-20 02:38] Takeoffyoung commented on #513
The document should clear that using `USE {database name}` does not work but specifying it via appending `-D {database name}` to startup command does.

No matter if it is after `FROM` keyword.

[2017-09-20 07:18] meeuw opened #515 "KeyError: 6 (cannot select null)"
[code]
while executing:
[code]

[2017-09-21 15:59] tsroten commented on #515
@meeuw Thanks for pointing this out! This is the same problem as #509 (the field type not being in [the conversion dict](https://github.com/PyMySQL/PyMySQL/blob/master/pymysql/converters.py#L389)), so I'm going to close this one and put a note on that issue.

[2017-09-21 15:59] #515 closed

[2017-09-21 15:59] tsroten commented on #509
Noting that this happens with null values as well: https://github.com/dbcli/mycli/issues/515

[2017-09-22 08:37] atapin opened #517 "Ctrl+C on destructive action prompt should not abort the CLI"
I occasionally pressed arrow keys on the prompt, then `Ctrl+C` and got the CLI aborted. I think it would be more convenient to accept the combination as 'No' answer.

![image](https://user-images.githubusercontent.com/1181403/30736170-27cd1400-9f9b-11e7-8cb9-6e82cc72444f.png)

[2017-09-22 08:58] Terseus opened #518 "Feature request: aliases with parameters"
It would be cool if the aliases (aka. favorite queries) have support for having arguments, so you can execute them with different arguments every time.

As an example, consider the following query:
[code]

Then, you could execute it like:

[code]

This would execute the previous query replacing `$1` with the value `10`.

[2017-09-22 13:29] tsroten commented on #518
@Terseus This is a great idea. Thanks for filing the issue.

I've also thought about it prompting the user to fill in arguments that aren't provided. E.g.
[code]

[2017-09-22 13:44] tsroten commented on #517
@atapin Thanks for the suggestion! It certainly seems odd that when you do `Ctrl+C` on a query, it cancels the query and returns an empty mycli prompt, but when you do `Ctrl+C` on a prompt, it aborts mycli.

I think this is a good idea. It's an easy fix, too.

That is the default behavior of `click` the library we use to generate that prompt. So, we just need to catch the `click.Abort` exception t

[2017-09-22 13:49] tsroten commented on #492
To sum up the discussion over at https://github.com/dbcli/pgcli/issues/776, it was decided that mycli should not use the `-U` flag for username because the official mysql client uses `-U` for safe updates, a feature we might want to add to mycli in the future.

So, I'm going to close this issue. @shtrom Thanks for bringing this up -- it was a good idea!

[2017-09-22 13:49] #492 closed

[2017-09-22 14:37] atapin commented on #517
@tsroten I could fix it then

[2017-09-22 14:53] tsroten commented on #517
@atapin Awesome! Feel free to give it a shot. We're happy to help out as your digging through the code, too.

[2017-09-22 15:06] atapin commented on #517
@tsroten I went through the code and thought that catching `click.Abort` would look a bit cumbersome. It turned out, there were a feature request in the `click` lib. I'll try to make changes there.

[2017-09-23 02:22] tsroten commented on #509
@super13 Good news! The fix for this was just released in version 1.13.0. If you installed via pip you can upgrade by running `pip install -U mycli`

It's also in Homebrew as well: `brew upgdate && brew upgrade mycli`.

[2017-09-23 02:22] #509 closed

[2017-09-23 02:23] tsroten commented on #500
@chrisamow Good news! This was just released in version 1.13.0. If you installed via pip you can upgrade by running `pip install -U mycli`

It's also in Homebrew as well: `brew update && brew upgrade mycli`.

[2017-09-23 02:23] #500 closed

[2017-09-23 03:02] tsroten commented on #507
This only appears to happen with the semi-colon. The problem is with sqlparse. I can reproduce it by doing:
[code]

I don't know how to fix it, though. If anyone has time to dig into sqlparse, that would be helpful.

[2017-09-23 07:37] chrisamow commented on #500
You guys are awesome!!  Thanks! I use mycli a lot, especially when I want to copy/show the results.

[2017-09-23 10:45] Terseus commented on #507
After some testing I'm convinced that the bug comes from sqlparse, not from mycli.

I've opened an issue in sqlparse: https://github.com/andialbrecht/sqlparse/issues/359

The bug is quite curious, in `sqlparse.format` only happens when `strip_comments=True` is used **and** the statement ends in a semicolon (@j-bennet:  I think that's why you had problems reproducing it).

As a temporary workaround

[2017-09-23 11:32] Terseus commented on #517
While I found this behavior quite annoying I also prefer it to be implemented in click rather than capturing `click.Abort` because that's the exception raised when an `EOFError` is raised (e.g. Ctrl+D), which is my main way to close pretty much any CLI.

[2017-09-23 12:21] tsroten commented on #517
@Terseus What would you expect to happen if you pressed `Ctrl+D` during a yes/no prompt (not at the normal mycli query prompt)?

[2017-09-23 12:22] tsroten commented on #511
@bzd111 I hope you were able to get mycli running. I'm going to close this issue for now since adding the dependency should make it work. If it's still a problem, feel free to open this back up.

[2017-09-23 12:22] #511 closed

[2017-09-23 12:25] tsroten commented on #513
@Takeoffyoung Both `USE` and `-D` should work for setting the current database that is used for suggesting completions. If it doesn't, then there might be an issue we should look into. That's how it currently works on mycli when I test it.

[2017-09-23 12:25] atapin commented on #517
@tsroten @Terseus as for me, `Ctrl+D` should normally quit a CLI.

[2017-09-23 12:36] tsroten commented on #517
@atapin, If you want to give this a shot again, we can stop using `click.prompt` which does not distinguish between `Ctrl+C` and `Ctrl+D` and use `prompt_toolkit.prompt` which raises `Keyboard Interrupt` and `EOFError` for each of those keypresses -- that way we can choose to handle them the correct way.

We already rely on prompt_toolkit, so this is not a new dependency.

https://python-prompt-to

[2017-09-23 13:48] Terseus commented on #517
@tsroten In that case, personally I would expect Ctrl+D to be a no/cancel instead of an exit.

As for stop using `click.prompt`, I always wondered why mycli used it instead of `prompt_toolkit` which looks more powerful than click for handling prompts (although more messy). I hope the change is seamlessly.

[2017-09-23 14:07] tsroten commented on #517
It sounds like we've got two differing opinions on the expectation of Ctrl+D in a prompt within an interactive CLI application. 😄  Let me try to see if there is a precedent in other similar applications.

If we end up deciding that Ctrl+D should cancel the confirmation and not quit the CLI, it's simpler to just catch the Abort exception, which is a very normal thing to do in Python.

If we decide

[2017-09-23 14:22] atapin commented on #517
I would still stick with `Ctrl+C` for interrupting current operation and `Ctrl+D` for quitting the CLI

[2017-09-23 14:22] tsroten commented on #517
Some existing examples for input prompts *within* an interactive CLI application.

Application | `Ctrl+C` | `Ctrl+D`
----------- | --------- | ---------
Mutt|Cancel with option to quit|*Does nothing*
Vim|Cancel command|Show entries matching typed text
`ftp`|Cancel prompt|Cancel prompt with EOF message
cMus|Cancel command|*Does nothing*
Bash|Cancel command|Quit if no text is typed; delete character

[2017-09-23 14:25] tsroten commented on #517
As far as prompts within applications, it does not seem common to quit the entire application. Because of this, I think it's best that Ctrl+D (if there is no text typed), should cancel the prompt, just like Ctrl+C.

[2017-09-23 15:57] Terseus commented on #517
Oh ok, thanks for the clarification @tsroten, don't know why at some point (somewhere between reading Github and playing with my son 👶) I began to think this was for the main prompt of mycli 😅  sorry.

After that, catching the `click.Abort` exception and cancelling the yes/no prompt in both Ctrl+D and Ctrl+C looks good to me.

[2017-09-23 16:14] atapin commented on #517
Well, the final decision is to cancel an inner application prompt on any interruption, isn't it?

[2017-09-23 18:20] tsroten commented on #517
@atapin I think so. 👍

[2017-09-23 18:34] meeuw commented on #517
I'd go for cancel/no for Ctrl+D, I often keep hitting Ctrl-D or Ctrl-C until the application quits ;-) (and for completeness if that doesn't work Ctrl-\ and as a last resort Ctrl-Z kill -9 %1)

[2017-09-23 20:59] AnthonyWC opened #521 "AttributeError: module 'pymysql' has no attribute 'cursors'"
I installed a few pip modules related to python/sql and I am seeing this error with mycli:

[code]

[2017-09-23 21:19] AnthonyWC commented on #521
Reinstall pymysql fixed it.

[2017-09-23 21:19] #521 closed

[2017-09-24 11:33] atapin commented on #517
@tsroten I'm getting tests failed on non-changed master branch:

[code]

What did I miss?

[2017-09-24 13:01] tsroten commented on #517
@atapin Can you try setting your `table_format` in your `.myclirc`?
[code]

We should really have the tests override the myclirc, but I think a few of them don't.

[2017-09-24 13:04] tsroten commented on #517
@atapin Also, if you hit any other errors, you might try moving/renaming the file `~/.mylogin.cnf` since it looks like your's might have an error in it. It's supposed to be an encrypted file created by [`mysql_config_editor`](https://dev.mysql.com/doc/refman/5.7/en/mysql-config-editor.html) (not created/edited by hand).

That might happen once the unit tests pass and mycli runs the integrated test

[2017-09-24 13:08] tsroten commented on #507
It looks like the folks over at sqlparse fixed this bug on their end. It will be in the next sqlparse release, which they're planning to push out next week.

[2017-09-24 13:12] tsroten opened #522 "Tests should not read user config files"
Currently our tests read a few user config files:
- `.mylogin.cnf`
- `.myclirc`
- `.my.cnf`

We need to update the unit tests and integrated tests to never read these from the user. We can use the following methods to override this behavior:
- environment variable `MYSQL_TEST_LOGIN_FILE `
- command-line argument `--myclirc`
- command-line argument `--defaults-file`

[2017-09-24 13:12] tsroten commented on #517
@atapin I've filed an issue for us to make it so the tests won't ever read user config files: https://github.com/dbcli/mycli/issues/522

[2017-09-26 19:05] vr001 commented on #94
@amjith @seagoj
I don't see in the document anything mentioned about login path.
https://pymysql.readthedocs.io/en/latest/modules/connections.html
Am I checking in the wrong place? Will appreciate if any one can post an example of how you are using currently.
Also, sorry for bringing this discussion here.

[2017-09-26 20:07] j-bennet commented on #94
@vr001 We have a documentation page about that here: http://www.mycli.net/loginpath.

[2017-09-26 21:03] vr001 commented on #94
@j-bennet Thanks.

1) How to overwrite the host info on the login path using mycli?
2) I tried to connect using mycli using login path, but still i have been prompted to enter password.

[2017-09-27 14:53] tsroten commented on #94
@vr001 You can specify a host that overrides what's in the login path like this:
[code]

If you're prompted for your password it means that mycli was not able to connect using the username/password/host/port in the login path. Try to double-check that you set it correctly:
https://dev.mysql.com/doc/refman/5.7/en/mysql-config-editor.html

[2017-09-28 18:12] vr001 commented on #94
Thanks @tsroten . Answered my previous questions !!

[2017-09-28 23:46] tsroten commented on #522
Fixed in version 1.13.1.

[2017-09-28 23:46] #522 closed

[2017-09-28 23:47] tsroten commented on #508
Mycli now handles this error without crashing as of version 1.13.1.

@Peter-Sh Thanks again for reporting this!

[2017-09-28 23:47] #508 closed

[2017-09-28 23:48] tsroten commented on #473
@Chinggis6 Thanks again for reporting the issue with the `show` completions. This is fixed as of version 1.13.1, which is in pip.

You can upgrade with:
[code]

[2017-09-28 23:48] #473 closed

[2017-10-01 10:29] Terseus opened #527 "TravisCI builds failing with `fatal: Not a valid object name master`"
## Description

All my TravisCI builds of mycli are failing with the message `fatal: Not a valid object name master` at the end of the log.

None of the tests fails.

This is very annoying when running the tests for a work-in-progress branch that it's not associated to a pull request (I think it works in pull requests branches? I'm not even sure) so I would be thankful if this is fixed somehow.

#

[2017-10-01 19:33] tsroten commented on #527
@Terseus Yeah, this is a pain. It's because it's testing on branch updates -- where there is no `master` branch. You can fix this by turning off branch updates in your Travis CI settings for your mycli project.

We don't have branch updates turned on in the dbcli travis project for mycli, which is why this error doesn't affect the main project branches.

You could add `git fetch origin master` to

[2017-10-02 19:25] meeuw opened #528 "MySQL 8 support"
Terje Røsten notified my that when connecting to mysql 8 mycli returns "255" which seems to be a key error in `pymysql/charset.py`

This can be reproduced by connecting mycli to docker image `mysql:8`

[code]
Terje (Fedora package maintainer) also found out that character_set_name utf8mb4 has id 255 (`select id, character_set_name, collation_name, is_default from information_schema.collations wher

[2017-10-03 09:57] meeuw commented on #528
https://github.com/PyMySQL/PyMySQL/pull/591
https://github.com/PyMySQL/PyMySQL/pull/577

This PR got merged as a work around:
https://github.com/PyMySQL/PyMySQL/pull/592
https://github.com/PyMySQL/PyMySQL/pull/592/commits/4b7e9c98c0441449352d732f6a2453e4c868505c

[2017-10-09 16:22] dougthor42 opened #530 "Prompt user for password when -p, --pass, or --password have no arg"
The standard MySQL cli interface, `mysql`, allow the user to indicate that a password is required without entering it.

I think that `mycli` should support this as well. It
1. is much more secure than entering the password in plaintext on the command line and
2. would make the transition from `mysql` to `mycli` easier.

#### How the standard MySQL cli works:
[code]

Docs:
[code]

[2017-10-09 16:35] tsroten commented on #530
@dougthor42 Thanks for reporting this! I'm marking it as a duplicate and linking to #341

[2017-10-09 16:36] #530 closed

[2017-10-09 16:46] dougthor42 commented on #530
Ah, I didn't this issue hidden inside that when when I scanned for dupes. I found it now though. thanks!

[2017-10-14 06:30] amjith commented on #69
This feature is now available in master. You can install directly from master as follows:

[code]

This will be available in the next release.

[2017-10-14 06:30] #69 closed

[2017-10-14 08:03] Terseus opened #531 "Add multi-statement support to `watch` command"
## Description

The `watch` special command doesn't support multi-statement queries.
The idea is that, when passed a multi-statement query to the `watch` command, all the queries would be repeated, not only the first one (that's what happens now).

## Examples

Actual behavior:
[code]

Expected behavior:
[code]

## Notes

The current design of mycli makes very very hard to implement this without c

[2017-10-15 10:13] Terseus opened #532 "tee command is broken in Python 2.7: write() argument 1 must be unicode, not str"
The `tee` command is broken in the current version.
A minimal example:
[code]

The traceback from the log:
[code]

The problem comes from the update of the library [cli_helpers](https://github.com/dbcli/cli_helpers) from 0.2.3 to 1.0.0 but I opened the issue here because I'm not sure if the bug is in mycli or in the library.

Probably @tsroten and/or @meeuw can find the best solution ^_^

**Edit**

[2017-10-15 20:55] grooverdan commented on #69
Thankyou!

[2017-10-27 00:20] cmcaine opened #534 "`sudo mysql` logs in fine, `sudo mycli` gives permission denied; root has no password"
On ubuntu 16.04, mariadb 10.0.31-0ubuntu0.16.04.2

[code]

[2017-10-27 01:15] tsroten commented on #534
Hi @cmcaine I'm not that familiar with how `sudo` affects database clients on Ubuntu, but I believe you need to set a password for your `root` database user.

Also, if possible you might want to install mycli via `pip` instead of `apt-get` as we're currently on version 1.13.1 instead of 1.5.2.

[2017-10-27 06:10] meeuw commented on #534
Hmm, could you please post the output from `sudo mysql` and then the `\s` command?
Maybe your `~root/.my.cnf` contains a configuration which isn't supported by `mycli` ?

[2017-10-27 12:09] cmcaine commented on #534
This could be helpful(?):

[code]

As requested:

[code]

Neither root nor my user have any maria/mysql config files:

[code]

Same error with mycli 1.13.1

[2017-10-27 12:31] meeuw commented on #534
Hmm could you try to connect (as a normal user) using `mycli -S /var/run/mysqld/mysqld.sock -u root` ? Could you also check the permissions on the socket file? `ls -la /var/run/mysqld/mysqld.sock` (and the parent directories)

[2017-10-27 12:42] cmcaine commented on #534
`sudo ~/.local/bin/mycli -S /var/run/mysqld/mysqld.sock -u root` works. Without sudo does not.

[code]

[2017-10-27 19:05] meeuw commented on #534
Hmm, do you have selinux enabled? (`getenforce`)
Secondly, could you try running `env -i ~/.local/bin/mycli -S /var/run/mysqld/mysqld.sock -u root` as a normal user? sudo does some environment cleanup so maybe that's why it's working?

I didn't know `namei`, very useful, thanks!

[2017-10-27 19:19] cmcaine commented on #534
Selinux isn't installed. Apparmor is, but doesn't seem to have a policy for mariadb:

[code]

python3 needs a locale envvar:

[code]

[2017-10-27 19:29] meeuw commented on #534
Hmm I don't have any experience with apparmor, is it possible to temporary disable it like `setenforce Permissive` in selinux?

Have you tried passing the same environment variables when running with `env -i` as a normal user?

How did you install mycli in ~/.local/bin/mycli? Are you using a Python `virtualenv` for `~/.local` ?

Could you try to add/use a different (non privileged) user on your sy

[2017-10-27 20:07] cmcaine commented on #534
Huh. After `/etc/init.d/apparmor teardown`, mycli works if I specify the socket. Quit mycli, reload apparmor (confirm policies are loaded), try again, still works.

Maybe the ubuntu package that installs mariadb modifies the apparmor rules in some way and apparmor needs to be reloaded?

That would be pretty crazy, because the `/etc/apparmor.d/usr.sbin.mysqld` reads:

[code]

This seems like a bug

[2017-10-27 20:09] cmcaine commented on #534
Oh, and I installed mycli with `pip install --user mycli`, that's why it's in ~/.local/bin

[2017-10-27 20:28] cmcaine commented on #534
Yeah, this doesn't make any sense to me :(

Apparmor isn't supposed to affect any programs that it doesn't have policies for, and it doesn't and never has had any policy defined for mysqld. The only active confinement to be affected by the teardown (and to remain unconfined after reload) was for dhclient, which neither mysqld or mycli should be touching anyway.

[2017-10-28 08:57] meeuw commented on #534
Very weird indeed; as I wrote earlier, I don't have any experience with Apparmor. You might want to report a bug at Ubuntu's bugtracker instead.

I think it makes sense to default to connect to unix domain sockets instead of localhost (127.0.0.1) like the mysql client. Or maybe even better, first try unix domain sockets and if that fails connect to localhost.

The defaults are defined here:
https:

[2017-10-28 10:34] chester7cheng opened #535 "it always start from second line, and only highlight with white and black."
![image](https://user-images.githubusercontent.com/20255240/32133616-0cb4525c-bc0e-11e7-9a4a-34e9a3951dd6.png)

hello，
it always start from second line, and only highlight with white and black.
do you have any idea?
i have tried everything.
thank you!

[2017-10-28 10:52] meeuw commented on #535
Hi @chestercheng which terminal emulator application are you using and of which operating system?

[2017-10-28 11:26] chestercheng commented on #535
hi @meeuw

Vagrant 2.0.0 + VirtualBox 5.1.30
CentOS Linux release 7.4.1708 (Core)
Zsh Shell
and  i use Git Bash (in git version 2.14.3.windows) remote login.

actually when i login using the terminal in VirtualBox, it work perfectly.
and in all  of other environment, it  work perfectly.

thank you!

[2017-10-29 01:10] cmcaine commented on #534
I don't have much experience with AppArmor either. I will report a bug with them.

Are you suggesting the line number because you want me to make a PR? I can do.

In the code, it looks like all of these functions are happy to accept a socket and a port and hostname, including pymysql. But if you do specify port, hostname and socket then the socket is the only one that gets used. I'd have made that

[2017-10-29 01:25] cmcaine commented on #534
Also, the official upstream location for the socket is `/tmp/mysql.sock`, which of course, is crazy and I know of no distro that does that. But it does mean the default location varies. Here's a [list](https://github.com/firehol/netdata/blob/660cb84a4b8d37488136c717cd3889fefeb64aca/conf.d/python.d/mysql.conf#L99) from the `netdata` monitor project with some possible locations.

OTOH, Arch, debian

[2017-10-31 05:01] j-bennet commented on #535
@jonathanslenders, do you think you could advise on this?

[2017-10-31 05:02] j-bennet commented on #532
This was fixed in https://github.com/dbcli/cli_helpers/pull/32 but not yet released.

[2017-10-31 06:32] meeuw commented on #532
:flushed: totally missed this issue, thanks @j-bennet

[2017-10-31 07:35] jonathanslenders commented on #535
Hi @chester7cheng,

From within git-bash, do you have any idea which Python interpreter is used? Is it the one from the Windows installation? What is the output of ``which mycli``?
If it is the Windows Python installation, you need to use winpty to start it from git-bash.
From the screenshot though, I'm not sure what happens.

[2017-10-31 14:52] chester7cheng commented on #535
Hi @jonathanslenders @j-bennet @meeuw

I use git-bash just as a SSH client.(to remote login linux)
Python interpreter version: 2.7.

I did nothing change to anything, but when i check again, mycli work with the beautiful syntax highlight now.
It really only has white&black syntax highlight until yestoday.

Thanks all of you!

This screenshot is detail of my environment:
![image](https://user-image

[2017-10-31 14:52] #535 closed

[2017-10-31 14:55] alasdairdc commented on #163
can confirm multi-command queries work correctly in `1.8.1-2`

[code]

with the footer

[code]

I think as @dbolser-ebi suggested

the same also applies to tmux being a special beast.

[2017-11-02 09:31] lloy opened #538 "mycli conflict with pbr"
in mycli entry_points  have context :
test:
tasks:
when i run python setup.py install in my test of project
there are something wrong:
ERROR:root:Error parsing
Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/pbr/core.py", line 115, in pbr
    attrs = util.cfg_to_args(path, dist.script_args)
  File "/usr/lib/python2.7/site-packages/pbr/util.py", line 267, in cfg_to_args

[2017-11-09 14:15] meeuw opened #540 "Failure for filename completions (source command)"
[code]

[2017-11-09 19:28] #540 closed

[2017-11-27 14:18] tsroten commented on #538
This is something we should fix. Here is a related PR in CLI Helpers: https://github.com/dbcli/cli_helpers/pull/29

[2017-11-27 17:52] tsroten commented on #532
@Terseus Thanks for pointing this out. This was fixed in a CLI Helpers release earlier today (version 1.0.1). You should be able to upgrade cli_helpers to fix this: `pip install -U cli_helpers`.

[2017-11-27 17:52] #532 closed

[2017-11-27 18:02] tsroten commented on #507
sqlparse 0.2.4 was released in September, so I'm going to close this issue now.

[2017-11-27 18:02] #507 closed

[2017-11-27 19:15] #534 closed

[2017-12-01 07:36] borissov opened #545 "Saving favorite query"
When I try to save a query I get an error: 'ascii' codec can't encode character '\u2013' in position 2193: ordinal not in range(128)
My mycli version is 1.5.2 .
How can I fix this problem?

[2017-12-01 08:06] borissov commented on #545
I install last version via pip and problem is solved.

[2017-12-01 08:06] #545 closed

[2017-12-03 23:04] YuanzhiBao commented on #528
Have you solve the problem?  I have the some problem and dont know how to solve it.

[2017-12-04 06:37] meeuw commented on #528
@YuanzhiBao this will be fixed once there is a new release of PyMySQL (last release is from 5 April 2017, a fix is in https://github.com/PyMySQL/PyMySQL/tree/master since 21 August 2017).

[2017-12-08 02:17] fhq opened #548 "when enter, it will go to vim mode"
when enter, it will go to vim mode。
I don't want to this. how can I do for it.

[2017-12-08 04:03] amjith commented on #548
You can disable the vim mode by editing the config file located under `~/.myclirc`.

Look for the line that says `keybinding`.

set it to

[code]

That should make it so that it won't put you in the vim mode.

If that doesn't solve your problem give a little bit more info on what you see and we can help.

[2017-12-08 19:12] petobens commented on #104
Hi @amjith. Consider the following query:
[code]
When I paste into mycli (using tmux on iterm) with the following tmux mapping:
[code]

it gets pasted like this:
<img width="2880" alt="screen shot 2017-12-08 at 14 50 33" src="https://user-images.githubusercontent.com/2583971/33778407-389cebe8-dc27-11e7-9711-7f859ca03b3c.png">

I can reproduce the same behaviour if I try to paste that query into vi

[2017-12-09 03:14] amjith commented on #104
I have verified this behavior on Linux. It works fine if I paste using Ctrl+V, but it gets weird when I paste using tmux paste-buffer.

We never implemented the paste mode.

To be honest this behavior is out of our control and it is a bug worth filing with prompt-toolkit the library we use to handle all of this for us. @jonathanslenders What are you thoughts?

[2017-12-09 19:03] jonathanslenders commented on #104
The only effect of the prompt_toolkit paste_mode option is that it should not accept the input when "enter" has been pressed. Actually, I even consider removing this in 2.0, because everything can be implemented using normal key bindings.

What is see in @petobens screenshot, looks like a paste which is done without using bracketed paste.
Which tmux version are you using?

[2017-12-10 15:37] petobens commented on #104
@jonathanslenders thanks for the quick reply. I'm using tmux latest version from master.

I tried reproducing the behaviour with ptpython. The following gif shows what happens when pasting with and without paste mode (and always using the tmux paste mapping):

![dec-10-2017 12-33-50](https://user-images.githubusercontent.com/2583971/33806418-ab98e004-dda6-11e7-829d-f458199f2d95.gif)

Is this a tmu

[2017-12-10 20:27] jonathanslenders commented on #104
Hi @petobens,
I can't reproduce this in ptpython. When I have paste mode disabled, it inserts additional indentation, but it doesn't drop characters. I think that the output of ``pbpaste`` could contain certain control sequences. Could you check the output of ``pbpaste|less``?

Secondly, can you try the following key binding for tmux?
This will paste use bracketed paste.

[code]

[2017-12-11 18:55] petobens commented on #104
Hi @jonathanslenders ,
I checked the output of `pbpaste | less` but didn't find anything strange.

Your second solution worked marvelously!! Thank you so much. Mmm is this a bug in tmux?

[2017-12-15 05:05] #472 closed

[2017-12-15 05:29] liudonghua123 commented on #368
@tsroten I tried again. And this time it works.

[code]

[2017-12-15 05:44] tsroten commented on #368
@liudonghua123 I'm glad to hear that. I hope you enjoy mycli! :)

[2017-12-18 14:17] rantav opened #550 "Add support for CLI option --enable-cleartext-plugin"
MySQL 5.5.27 introduces the option `--enable-cleartext-plugin` to _Enable cleartext authentication plugin_
This option is required, for example, in order to use [AWS Aurora MySQL IAM authorized user login](http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/UsingWithRDS.IAMDBAuth.Connecting.AWSCLI.html).

It would be great of mysql could also support this option as well. For my team it's unfortu

[2017-12-20 07:02] maxsxu opened #551 "Broken AutoComplete via Debian/Ubuntu Package"
I got the below error when I try to auto-complete the SQL command:

[code]

I install `mycli` via `sudo apt install mycli`

Below is my environment:

- Ubuntu 16.04.3 x64
- python 3.5.2
- mysql 5.7.20

But i`mycli` works fine when I install `mycli` via `sudo pip3 install mycli`.

[2017-12-20 20:27] meeuw commented on #550
Hmm it seems possible to use `mysql_cleartext_password` for `auth_plugin_map` when connecting using PyMySQL (`pymysql.connect`). I'll see if I can create a PR for this in a few days.

[2017-12-21 20:12] meeuw commented on #551
IIRC this is caused by an invalid version of sqlparse. We should update mycli in Ubuntu but in the meantime I suggest you install mycli using pip. See: http://www.mycli.net/install

[2017-12-22 19:58] meeuw commented on #550
I have some trouble configuring a mysql which only accept clear text passwords (for testing purposes). It seems the clear text plugin is for LDAP and PAM authentication which is only available for MySQL enterprise edition ...

[2017-12-23 01:55] tsroten commented on #518
@Terseus This feature is in the latest release of myci. Thanks again for the idea!

[2017-12-23 01:55] #518 closed

[2017-12-23 01:56] tsroten commented on #551
@meeuw Yeah, I don't know if we have anyone actively packing mycli for Ubuntu. @amjith, who used to help us with that?

[2017-12-23 05:12] amjith commented on #551
I don't think anyone is doing it. Last time it was packaged by @lhw. But I don't think he's doing it anymore.

[2017-12-24 06:17] rantav commented on #550
I came across this option when configuring MySQL Aurora (AWS flavor of MySQL) for IAM authentication support, which in high level supports similar use cases as does LDAP so what you're saying makes a lot of sense.

What's the best way to test this then?

One way might be to launch at Aurora server with IAM auth support. This might cost a few $$ for as long as it's alive.
Another way I suppose is m

[2017-12-24 07:01] meeuw commented on #550
Could you have a look at this?
https://github.com/meeuw/mycli/commit/42c343bf3378d4f04c377a2ef2c5b48ab09babf9

(I've only added `auth_plugin_map={b'mysql_cleartext_password': object}`)

[2017-12-24 13:28] meeuw commented on #551
Hmm I've installed mycli in Ubuntu Xenial (from docker, ubuntu:xenial) and ran:
[code]
And that seems to work. Could you check the version of python3-sqlparse? I'm using 0.1.18-1...

[2017-12-25 10:58] rantav commented on #550
Hi @meeuw thanks for this.
However, I'm a little confused...
What's the connection b/w `mysql_cleartext_password` and the cli argument `--enable-cleartext-plugin`?

Regardless, and that's an implementation detail, how could this change affect the CLI arguments (e.g. if you want to add support for a new arg `--enable-cleartext-plugin` then shouldn't you add a `@click.option` in `main.py`?)

[2017-12-25 13:19] jsonbruce commented on #551
I use `sqlparse 0.2.4`.   So it's caused by the version of sqlparse. @meeuw

[2017-12-26 07:06] rantav commented on #550
Oh I get what you were trying to do, simply test if it could work before adding the require CLI param.
Unfortunately it doesn't.
I read a little bit about pymysql and I did see in one example the use of `auth_plugin_map={b'mysql_cleartext_password'` but it seem to require a real handler, not sure if it'd work with just an empty `object`

[2017-12-26 19:49] meeuw commented on #550
Oh yes, I'm sorry, I was a bit too brief...

I've found an error in my auth_plugin_map, you should try `mysql_clear_password` instead of `mysql_cleartext_password`.
https://github.com/meeuw/mycli/commit/15e75b91a7a016a7be77b796418d06bb84851f79

I cannot get into this code path of PyMySQL but you could try to add some debugging prints in `pymysql/connections.py` to check if the clear password is pi

[2017-12-26 20:17] meeuw commented on #550
Hmm I've did some hacking of PyMySQL for myself, to get into this code path and I think it requires another change; use `None` instead of `object`.
Please check this commit: https://github.com/meeuw/mycli/commit/42433fd7b6ceb99f5bcec6f17113f3930d7e332e

[2017-12-27 21:20] rantav commented on #550
No sorry, it isn't working still.
I didn't get to debug pymysql, but I did try the changes in meeuw/mycli@42433fd as a blackbox and they don't seem to work in the sense that mysql server (well, aurora actually) isn't happy with the authentication (whereas when using `mysql` cli it is happy).
Basically it responds as if the auth token ("password") is either not provided or incorrect.

[2017-12-28 10:33] mohhamedss opened #554 "module 'socket' has no attribute 'AF_UNIX'."
Hi guys!
Whenever I try to execute mycli from PS, I keep getting this response:

Any suggestions?

P.S. I've uninstalled and reinstalled MYCLI and PYTHON.

[2017-12-28 10:59] santec opened #555 "Support for \w and \W"
Please support \W to show warnings after each statement and \w to hide them, just like regular mysql cli.

[2017-12-28 11:10] santec commented on #504
Sure, features would be disabled. But the alternative is using a different client only for ProxySQL's admin port, which is a bit uncomfortable :( . I hope you will reconsider this.

[2017-12-28 11:16] santec opened #556 "USE without ;"
Mainstream mysql cli doesn't require ; or \G after the command USE <dbname>. It would be nice to have the same in mycli (if nothing else, because habits are hard to change).

[2017-12-28 13:43] amjith commented on #556
We don't require a ; or \G for any of the commands not just USE.

The ; is only needed if you are in the multi-line mode. You can toggle multi-line mode using the F3 key or by setting `multi_line = True` in you config file (~/.myclirc).

[2017-12-28 15:29] santec commented on #556
Thanks for clarification

[2017-12-28 16:22] amjith commented on #554
I'm guessing PS is power shell.

I'll check where we use the AF_UNIX socket. I don't have a Windows machine to debug this right now but I'll check out code to see if we have UNIX specific logic.

Thanks for reporting.

[2017-12-28 21:13] amjith commented on #554
A fix for this just landed on master (Thanks @tsroten).

You can try it out by installing directly from master using the following command:

[code]

Let us know if that works for you.

[2017-12-28 21:17] mohhamedss commented on #554
That solved the problem!
Thank you so much for your quick response and the beautiful mycli!
;)

[2017-12-28 21:36] #556 closed

[2017-12-29 17:53] lhw commented on #551
Debian package dependencies for sqlparse are >=0.2.2, <= 0.3.0. The only version in debian from stable to unstable is 0.2.2.

Also new versions of the packages are in my gits on salsa.debian.org:
https://salsa.debian.org/lhw-guest/mycli
https://salsa.debian.org/lhw-guest/pgcli

But both need the additional library you have added recently:
https://salsa.debian.org/lhw-guest/cli_helpers

When that o

[2017-12-29 20:16] amjith commented on #504
There is already an issue filed against ProxySQL to support connection_id() which is needed for mycli to work with it.

Changing mycli to accommodate for missing fields or failing queries is unwanted extra code to maintain. Our target is MySQL and any variants that support the MySQL protocol. It looks like ProxySQL aims to be fully compliant, we'll let them reach that maturity and mycli will start

[2017-12-29 20:16] #504 closed

[2017-12-30 12:19] meeuw commented on #550
A quick update; I've installed mariadb and successfully installed pam authentication only to find out this already works with PyMySQL using the dialog plugin...

[2018-01-01 22:15] tsroten commented on #554
@mohhamedss This bug fix was just released in mycli version 1.16.0. Thanks for reporting it!

[2018-01-01 22:15] #554 closed

[2018-01-01 22:16] tsroten commented on #491
@sluongng We've also just added another way to store server configuration. Check out this page in the documentation: http://www.mycli.net/loginpath#dsn

You'll need mycli version 1.16.0 to make use of the new DSN feature.

[2018-01-04 20:52] sluongng commented on #491
@tsroten is there a good way to convert my existing connection in MySQL Workbench to DSN connection format?

[2018-01-04 23:45] tsroten commented on #491
@sluongng When you open MySQL Workbench, you should be able to right click on a connection and choose "Copy Connection String to Clipboard". That's in DSN format -- you'll just have to add `mysql://` to the beginning of it.

[2018-01-10 13:53] aeimer opened #560 "MyCLI with Git Bash does not work - Win10"
Hi there,

I have python3 installed on my Windows10 computer, furthermore I have installed the current Git (Bash) Version.

I have installed mycli with `pip3.exe install mycli` on gitbash.

I can call `mycli`:
[code]
Ok great, works. I have no mysql running locally.

I can call `mycli --help`:
[code]
Works too.

But now I tried to connect to an [public mysql](https://www.ensembl.org/info/data/mysq

[2018-01-10 17:15] j-bennet commented on #560
We used to have display problems with git bash, but not connection problems. Are you able to connect with the official `mysql` client?

[2018-01-10 17:35] aeimer commented on #560
As I wrote, on PowerShell it does work. Not very pretty (there are some display problem too), but it connected.

Here you can see the DB on HeidiSQL (copied the values from this issue):
![grafik](https://user-images.githubusercontent.com/25035182/34786554-bd831bee-f634-11e7-90b9-f7c044e7c224.png)

[2018-01-10 17:40] j-bennet commented on #560
But what about connecting with `mysql` under `git bash`?

[2018-01-10 17:41] aeimer commented on #560
I don't have mysql installed on my local pc

[2018-01-10 17:55] j-bennet commented on #560
Then how about `telnet ensembldb.ensembl.org 3306` under `git bash`? You should see something like this if it connects:

[code]

[2018-01-10 18:21] aeimer commented on #560
I first have activated telnet on my system. Then in my gitbash I get this:
[code]

On Powershell telnet works:
[code]

[2018-01-14 16:36] cvetan opened #563 "Alias DSN connection doesn't work"
I've configured alias_dsn in .myclirc.

But when i try to connect: i get error:
`Error: no such option: -d`

Docs clearly says -d is the option. What it the problem? This is pretty handy option for me,because i have several db servers i connect to all the time.

[2018-01-14 19:58] tsroten commented on #563
Hi @cvetan! It seems like maybe you're not on the latest release (1.16.0). If you installed through homebrew, we're about to upgrade the version on there.

You can check your version by running `mycli -v`.

[2018-01-15 00:22] cvetan commented on #563
Yeah. 1.13.1 :(

I didn't install via homebrew, i am on Manjaro Linux.

[2018-01-15 02:08] tsroten commented on #563
@cvetan Great! This makes me think it would be useful to put an “added in version X” note on features in the documentation.

[2018-01-15 02:08] #563 closed

[2018-01-17 05:55] tyloafer opened #564 "Protocol error, expecting EOF"
[code]
That is how i use it and what problems i have met.
I find that there is often a problem when I use "select" in mysql without any other condition.

Sorry for my suck English,
Hoping what I said doesn't bother you.

[2018-01-17 05:55] tyloafer commented on #564
The version is 1.16.0

[2018-01-17 06:11] tyloafer commented on #564
os version is centos 7.3 x64

[2018-01-22 13:16] grooverdan commented on #564
Which PyMySQL version are you using?

What MySQL/MariaDB server version is it connecting too?

[2018-01-23 05:43] tyloafer commented on #564
PyMySQL version is 0.8.0
MySQL server version is 5.7.18

[2018-01-23 11:48] OneLine-Lee opened #565 "install failed?!"
![20180123194628](https://user-images.githubusercontent.com/8857021/35274213-39388e2c-0076-11e8-8f29-67e1448070df.png)

[2018-01-23 11:49] OneLine-Lee commented on #565
anyone can tell me how to fix it?

[2018-01-23 13:40] amjith commented on #565
It looks like you don't have permission to create some folders. You might have to run it with `sudo`.

Try:
[code]

[2018-01-23 19:08] meeuw commented on #564
could you please check `~/.mycli.log` for more detailed errors?

[2018-01-24 17:42] pensivebrian commented on #565
I agree with @amjith that it's probably a permissions issue, but the presence of "D:\Program Files" in the path means you're probably running on Windows. This makes the instructions a bit different. On Windows, you'll have to run the pip install command from an elevated command prompt.

To create an elevated command prompt, when you launch cmd.exe, try right clicking on the icon, and select the "R

[2018-01-25 13:39] SunflowerFuchs opened #567 "Autocompletion fails for more than one join"
If i have a query with more than one join, autocompletion won't show the name/alias of the second joined table, nor its columns.

Example:
[code]
In this example, it'd show the names, aliases, and columns of the tables "user_tags" and "users", but not of the table "tags", nor any of the tables that might follow.

`mycli 1.16.0, running on CPython 2.7.12`

[2018-01-25 19:00] meeuw commented on #567
For mycli 1.15.0 I've made some changes to add joins to the completions but it isn't perfect.

Does it work when you use the alias for tags (`t.`) ?

[2018-01-25 19:40] egoisticalgoat commented on #567
I've just installed it at home so i can try it out with a fresh database for testing, getting the same results.
After the join keyword, it suggests me all tables, like it's expected. But after the on keyword, it only suggests the first two table names or, if given, their alias. The third table doesn't even get suggested. Doesn't make a difference if i do all aliases, mixed aliases/table names, or

[2018-01-26 07:44] phaza commented on #109
Was a bit surprised to find this wasn't implemented. We have MANY databases, and do joins across them in all imaginable ways. Without this feature, it's putting a lot of strain on my muscle memory :/

[2018-01-31 03:42] maonx commented on #482
Hello, I have this program too, when I use in mysql,it works well ,chinese display ok, but in mycli it is bad.
[code]
===
[code]

[2018-02-01 12:51] tsroten opened #568 "Better style/color documentation"
1. There are some style tokens that are not shown in the sample config file, like `Token.String.Symbol`.
2. The online documentation lacks an in-depth covering of the tokens and style options. We should also be clear how various tokens are used. For example, it's not self-evident that `Token.String.Symbol` is used for [this token](http://drops.masnick.org/s500H/5Uu3KnZQ).

Here is some starting do

[2018-02-02 12:25] pawaanv commented on #456
below configuration worked for me on fedora 26
[mysql]
user=root
password=ecipher
[client]
socket=/var/lib/mysql/mysql.sock
user=root
password=ecipher

[2018-02-05 12:02] tsroten opened #569 "Mycli crashes/quits when it can't create the history file"
[code]

Instead, we should issue a warning about the history file on start-up, then let mycli continue without logging the history.

[2018-02-05 12:04] tsroten opened #570 "Make brew formula use Python3"
The current brew formula works fine, but it would be nice to make it use brew's Python 3 instead of Python 2.

[2018-02-05 12:31] tsroten opened #571 "Change default socket location"
Per [the MySQL docs](https://dev.mysql.com/doc/refman/5.7/en/connecting.html#option_general_socket), the default socket location is `/tmp/mysql.sock`. It appears some distributions put it elsewhere (like `/var/run/mysqld/mysqld.sock` for RPM-based distributions).

We should default to the standard MySQL socket location (or support checking in both of these places).

[2018-02-05 12:35] tsroten opened #572 "Better error message when unable to connect via socket"
Currently, on a Linux system after installing MySQL and mycli, there is a cryptic message displayed when running `mycli` with the default config:
[code]

The issue itself will be resolved by https://github.com/dbcli/mycli/issues/571, but the error message is unhelpful because it doesn't tell you anything about the socket that was tried. It just tells you the host name, which makes you think there

[2018-02-06 12:11] tsroten opened #573 "Tests don't pass on latest MySQL server (with default configs)"
MySQL 5.7, by default, does not allow `0000-00-00` for date columns. You can fix this by disabling the now-default strict mode. However, the mycli tests should work with a freshly installed MySQL server with no additional configuration.

Also, we're receiving deprecation warnings during our tests:
[code]

[2018-02-06 19:41] bryant1410 commented on #528
There is a PyMySQL release already

[2018-02-06 20:00] YuanzhiBao commented on #528
Thanks. Solved.

On Tue, Feb 6, 2018 at 14:41 Santiago Castro <notifications@github.com>
wrote:

--
Yuanzhi Bao

baoyu2017@gmail.com

[2018-02-08 01:42] tsroten commented on #573
Fixed on master, closing.

[2018-02-08 01:42] #573 closed

[2018-02-08 04:50] Izzur opened #578 "No autocomplete while grant databases access"
All autocomplete works fine, except when I try to create grant access, it doesn't autocomplete the database name.
Example (no autocomplete):
`> GRANT ALL ON database_name.* TO 'db_user'@'localhost'`

I thought it will autocomplete like when you use USE command (selecting database)
Example (with autocomplete):
`> USE database_name`

===

Below my environtment:
- mycli v1.5.2 (install via apt-get)
-

[2018-02-09 08:28] hiberabyss opened #579 "[Bug] Multiple Line Mode don't work in neovim terminal"
When I paste following sql lines into mycli which runs within neovim terminal, only the first line executed:

[code]
![image](https://user-images.githubusercontent.com/2898670/36018263-0dfdfaba-0db6-11e8-8515-ac4c1304e7a0.png)

mycli version: `1.16.0`
neovim version: `v0.2.3-568-gdc5362958`

[2018-02-13 12:55] tsroten opened #581 "Config file revamp"
In mycli, managing the config has been challenging for awhile since we have five places a user can configure their experience, three of which are config files!
1. The `~/.my.cnf` file (`[client]` section)
2. The login path file, e.g. `~/.mylogin.cnf`
3. The mycli config file, `~/.myclirc`
4. The command-line arguments
5. The commands in mycli

This issue documents that overall revamp of the config

[2018-02-13 12:57] tsroten commented on #281
I'm closing this issue in favor of an overhaul to the config files: https://github.com/dbcli/mycli/issues/581

[2018-02-13 12:57] #281 closed

[2018-02-13 13:04] tsroten opened #582 "DSN name in prompt"
Similar to how we can currently put the login path host name in the prompt, we should be able to do that with the DSN settings.

[2018-02-16 19:15] meeuw commented on #579
hmm it might be caused by a compatibility issue with prompt_toolkit's bracketed-paste and neovim.
I'm not a neovim user, I'd really like to know how you're sending the upper buffer to the neovim terminal bottom buttom.

[2018-02-17 14:42] meeuw commented on #528
Thanks for the notification @bryant1410 and @YuanzhiBao, closing!

[2018-02-17 14:42] #528 closed

[2018-02-20 20:59] cypressf opened #584 "mycli does not recognize the `--ssl-mode` flag"
Type

[code]

Result: connects properly.

Type

[code]

Result
[code]

Expected: can be configured with `--ssl-mode` flag like the `mysql` command.

[2018-02-28 06:58] hiberabyss commented on #579
@meeuw , just copy buffer content into system clipboard, and then paste in the neovim terminal.

[2018-03-02 06:34] amjith commented on #579
@hiberabyss I'm able to reproduce it. We rely on [prompt-toolkit](https://github.com/jonathanslenders/python-prompt-toolkit) to handle copy/paste.

It might be useful to file the bug there, simply because we're not in a position to find a solution for this.

[2018-03-02 09:06] hiberabyss commented on #579
Thanks for your reply, I have created a new [issue](https://github.com/jonathanslenders/python-prompt-toolkit/issues/602) in  prompt-toolkit.

[2018-03-16 16:07] nick-hahner commented on #18
Any progress updates? For now I'm just using an autossh tunnel in a screen session. Not as pretty, but it works.